Repository TRaSH-Guides/Guides, pull requests merged in 2021-12, with the labels that each got.

#432 Update docker-compose.yml
  includes/docker/docker-compose.yml
Labels: Status: Done

#429 Update how-to
  docs/Hardlinks/How-to-setup-for/Synology.md
  mkdocs.yml
Labels: Status: In Progress

#438 How to sync 2 radarr sonarr
  docs/Radarr/Tips/Sync-2-radarr-sonarr.md
  docs/Radarr/Tips/images/radarr-add-list.png
  docs/Radarr/Tips/images/radarr-add-lists-options.png
  docs/Radarr/Tips/images/radarr-settings-download-clients-categories.png
  docs/Radarr/Tips/images/radarr-settings-download-clients.png
  docs/Radarr/Tips/images/radarr-settings-lists.png
  docs/Radarr/Tips/images/sonarr-add-list.png
  docs/Radarr/Tips/images/sonarr-add-lists-options.png
  docs/Radarr/Tips/images/sonarr-categories.png
  docs/Radarr/Tips/images/sonarr-clone-profile.png
  docs/Radarr/Tips/images/sonarr-settings-download-clients.png
  docs/Radarr/Tips/images/sonarr-settings-import-lists.png
  docs/Radarr/Tips/images/sonarr-settings-profiles.png
  docs/Sonarr/.pages
  docs/Sonarr/Tips/Sync-2-radarr-sonarr.md
  docs/Sonarr/Tips/images
Labels: Status: In Progress

#445 Maintenance release 20211225
  docs/Bazarr/Tips/Bazarr-suggested-scoring.md
  docs/Downloaders/NZBGet/Basic-Setup.md
  docs/Downloaders/NZBGet/Paths-and-Categories.md
  docs/Downloaders/SABnzbd/Basic-Setup.md
  docs/Downloaders/SABnzbd/Paths-and-Categories.md
  docs/Downloaders/qBittorrent/How-to-add-categories.md
  docs/Downloaders/ruTorrent/ruTorrent-Basic-Setup.md
  docs/Hardlinks/How-to-setup-for/Docker.md
  docs/Hardlinks/How-to-setup-for/Dockstarter.md
  docs/Hardlinks/How-to-setup-for/Native.md
  docs/Hardlinks/How-to-setup-for/Synology.md
  docs/Hardlinks/How-to-setup-for/Unraid.md
  docs/Misc/How-to-setup-Torguard-for-port-forwarding.md
  docs/Plex/Tips/Plex-media-server.md
  docs/Plex/profiles/index.md
  docs/Radarr/.pages
  docs/Radarr/Radarr-Quality-Settings-File-Size.md
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Radarr/Radarr-how-to-update-custom-formats.md
  docs/Radarr/Radarr-import-custom-formats.md
  docs/Radarr/Radarr-recommended-naming-scheme.md
  docs/Radarr/Radarr-remote-path-mapping.md
  docs/Radarr/Radarr-setup-custom-formats.md
  docs/Radarr/Tips/Radarr-add-a-movie-collection.md
  docs/Radarr/Tips/Radarr-rename-your-folders.md
  docs/Radarr/Tips/Radarr-show-unknown-movie-items.md
  docs/Radarr/Tips/Sync-2-radarr-sonarr.md
  docs/Radarr/images/cf-import-to-update.png
  docs/Sonarr/Sonarr-Quality-Settings-File-Size.md
  docs/Sonarr/Sonarr-Release-Profile-RegEx-Anime.md
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/Sonarr/Sonarr-recommended-naming-scheme.md
  docs/Sonarr/Sonarr-remote-path-mapping.md
  docs/stylesheets/extra.css
  includes/downloaders/warning-path-location.md
  includes/support.md
  mkdocs.yml
Labels: Type: Enhancement, Status: In Progress
