Repository TRaSH-Guides/Guides, pull requests merged in 2022-08, with the labels that each got.

#704 FIXED: CF DTS-HD MA mismatch
  docs/json/radarr/dts-hd-ma.json
  docs/json/radarr/dts.json
Labels: Status: Confirmed, Status: Fixed

#707 Updated: `LQ` CF with new Groups
  docs/json/radarr/lq.json
Labels: Status: In Progress

#708 NEW: CF `[x265 (no HDR/DV)]`
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/json/radarr/x265-no-hdrdv.json
Labels: Status: In Progress

#687 fix: no symlinks
  docs/.pages
  docs/How-to-setup-for
  docs/Sonarr/Tips/Merge-quality.md
  docs/Sonarr/Tips/Sync-2-radarr-sonarr.md
  docs/Sonarr/Tips/images
  docs/requirements.txt
  mkdocs.yml
Labels: Status: Review Needed

#738 Update naming scheme to support Plex Editions
  docs/Radarr/Radarr-recommended-naming-scheme.md
Labels: Status: Feedback Needed

#756 First draft sonarr Anime guide
  docs/Sonarr/Sonarr-collection-of-custom-formats.md
  docs/Sonarr/Sonarr-setup-custom-formats-Anime.md
  docs/Sonarr/images/cfa-mergedqualities.png
  docs/Sonarr/images/cfa-qualityorder.png
  docs/Sonarr/images/cfa-qualityprofile.png
  docs/Sonarr/images/cfa-scoring.png
  docs/Sonarr/images/cfa-settings-profiles.png
  includes/cf/sonarr-anime.md
Labels: Status: In Progress

#769 Change: link color
  docs/stylesheets/extra.css
Labels: Backend

#771 Backend updates to case formatting and to the Anime guide
  docs/Sonarr/Sonarr-setup-custom-formats-Anime.md
  docs/Sonarr/images/cfa-mergedqualities.png
  docs/Sonarr/images/cfa-prefixedrange.png
  docs/Sonarr/images/cfa-qualityorder.png
  docs/Sonarr/images/cfa-qualityprofile.png
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-how-to-update-custom-formats.md
  docs/Sonarr/sonarr-import-custom-formats.md
  docs/Sonarr/sonarr-setup-custom-formats-anime.md
  docs/Sonarr/sonarr-setup-custom-formats.md
  includes/cf/sonarr-anime.md
  includes/cf/sonarr-audio.md
  includes/cf/sonarr-hdr-metadata.md
  includes/cf/sonarr-hq-source-group.md
  includes/cf/sonarr-misc.md
  includes/cf/sonarr-streaming-services.md
  includes/cf/sonarr-unwanted.md
Labels: Backend
