Repository TRaSH-Guides/Guides, pull requests merged in 2022-01, with the labels that each got.

#426 Overhaul BD Remux groups
  docs/Sonarr/Sonarr-Release-Profile-RegEx-Anime.md
Labels: Type: Help Needed, Status: Feedback Needed

#482 How to merge quality
  docs/Radarr/Tips/Merge-quality.md
  docs/Radarr/Tips/images/merge.gif
  docs/Sonarr/Tips/Merge-quality.md
  mkdocs.yml
Labels: Status: In Progress

#485 Updating Synology.md to remove unnecessary usages of `sudo`
  docs/Hardlinks/How-to-setup-for/Synology.md
Labels: Status: Fixed, Status: Done

#486 NEW: Replace copies with hardlinks
  docs/Hardlinks/.pages
  docs/Hardlinks/Replace-copies-with-hardlinks.md
  mkdocs.yml
Labels: Status: In Progress
