Repository TRaSH-Guides/Guides, pull requests merged in 2022-10, with the labels that each got.

#808 [Sonarr] match with CF
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/sonarr/rp/streaming.json
Labels: Status: In Progress, Sonarr

#865 [Radarr] SQP 2-4
  docs/SQP/1-2.md
  docs/SQP/1.md
  docs/SQP/2.md
  docs/SQP/3.md
  docs/SQP/4.md
  docs/SQP/images/2-merge-qualities.png
  docs/SQP/images/2-newqp.png
  docs/SQP/images/2-qp-settings.png
  docs/SQP/images/2-select-qualities.png
  docs/SQP/images/3-merge-qualities.png
  docs/SQP/images/3-newqp.png
  docs/SQP/images/3-qp-settings.png
  docs/SQP/images/3-select-qualities.png
  docs/SQP/images/4-merge-qualities.png
  docs/SQP/images/4-newqp.png
  docs/SQP/images/4-qp-settings.png
  docs/SQP/images/4-select-qualities.png
  docs/SQP/index.md
  docs/json/radarr/quality-size/movie.json
  docs/json/radarr/quality-size/sqp-uhd.json
  includes/cf/!radarr-unwanted.md
  includes/cf/radarr-optional.md
  includes/cf/radarr-streaming-services.md
  includes/sqp/1-2-cf-scoring.md
  includes/sqp/1-2-merge.md
  includes/sqp/1-2-newqp.md
  includes/sqp/2-cf-scoring.md
  includes/sqp/2-merge-qualities.md
  includes/sqp/2-newqp.md
  includes/sqp/2-qp-settings.md
  includes/sqp/2-quality-size.md
  includes/sqp/2-select-qualities.md
  includes/sqp/2-why.md
  includes/sqp/2-workflow.md
  includes/sqp/3-cf-scoring.md
  includes/sqp/3-merge-qualities.md
  includes/sqp/3-newqp.md
  includes/sqp/3-qp-settings.md
  includes/sqp/3-quality-size.md
  includes/sqp/3-select-qualities.md
  includes/sqp/3-why.md
  includes/sqp/3-workflow.md
  includes/sqp/4-cf-scoring.md
  includes/sqp/4-merge-qualities.md
  includes/sqp/4-newqp.md
  includes/sqp/4-qp-settings.md
  includes/sqp/4-quality-size.md
  includes/sqp/4-select-qualities.md
  includes/sqp/4-why.md
  includes/sqp/4-workflow.md
  includes/sqp/important-notice.md
  includes/sqp/instructions.md
  includes/sqp/merge-qualities.md
  includes/sqp/uhd-radarr-misc.md
  includes/sqp/uhd-radarr-optional.md
  includes/sqp/uhd-radarr-unwanted.md
  includes/sqp/wip.md
Labels: Radarr

#875 feat(anime) - updated version CFs
  docs/json/radarr/cf/v0.json
  docs/json/radarr/cf/v1.json
  docs/json/radarr/cf/v2.json
  docs/json/radarr/cf/v3.json
  docs/json/radarr/cf/v4.json
  docs/json/sonarr/cf/v0.json
  docs/json/sonarr/cf/v1.json
  docs/json/sonarr/cf/v2.json
  docs/json/sonarr/cf/v3.json
  docs/json/sonarr/cf/v4.json
Labels: Type: Enhancement, Sonarr, Radarr

#876 CF fix for Radarr v3
  docs/json/radarr/cf/v3.json
Labels: Type: Bug, Radarr

#874 Radarr SQP patch 1
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Radarr/Radarr-setup-custom-formats.md
  includes/cf/!radarr-unwanted.md
  includes/cf/radarr-cf-hd-bluray-web-scoring.md
  includes/cf/radarr-cf-remux-web-scoring.md
  includes/cf/radarr-hq-source-group.md
  includes/cf/radarr-optional.md
  includes/cf/radarr-unwanted.md
  includes/sqp/2-cf-scoring.md
  includes/sqp/2-merge-qualities.md
  includes/sqp/2-workflow.md
  includes/sqp/3-cf-scoring.md
  includes/sqp/3-merge-qualities.md
  includes/sqp/3-workflow.md
  includes/sqp/4-cf-scoring.md
  includes/sqp/4-merge-qualities.md
  includes/sqp/4-workflow.md
  includes/sqp/uhd-radarr-misc.md
Labels: Status: In Progress

#897 [Guide] Replace Lightgallery for GLightbox plugin
  docs/requirements.txt
  mkdocs.yml
  overrides/css/lightgallery.min.css
  overrides/fonts/lg.eot
  overrides/fonts/lg.svg
  overrides/fonts/lg.ttf
  overrides/fonts/lg.woff
  overrides/img/loading.gif
  overrides/js/lightgallery.min.js
  overrides/main.html
Labels: Backend

#908 [Guide ]Disable Glightbox for certain images
  docs/Bazarr/index.md
  docs/Downloaders/NZBGet/index.md
  docs/Downloaders/SABnzbd/index.md
  docs/Downloaders/index.md
  docs/Downloaders/qBittorrent/index.md
  docs/Hardlinks/How-to-setup-for/index.md
  docs/Plex/index.md
  docs/Radarr/index.md
  docs/Sonarr/Sonarr-Quality-Settings-File-Size.md
  docs/Sonarr/Tips/Merge-quality.md
  docs/Sonarr/Tips/Sync-2-radarr-sonarr.md
  docs/Sonarr/index.md
  docs/Sonarr/sonarr-setup-custom-formats-anime.md
  docs/index.md
  docs/thnx.md
  includes/cf/score-attention.md
  includes/downloaders/warning-path-location.md
  includes/support.md
Labels: Backend

#905 [Prowlarr] tips for Prowlarr
  docs/.pages
  docs/Prowlarr/.pages
  docs/Prowlarr/images/add-indexer-proxy-flaresolverr.png
  docs/Prowlarr/images/add-indexer-proxy-http.png
  docs/Prowlarr/images/add-proxy-flaresolverr.png
  docs/Prowlarr/images/add-proxy-http.png
  docs/Prowlarr/images/add-tag-to-indexer-flaresolverr.png
  docs/Prowlarr/images/add-tag-to-indexer-privoxy.png
  docs/Prowlarr/images/select-indexer.png
  docs/Prowlarr/images/settings-indexers.png
  docs/Prowlarr/index.md
  docs/Prowlarr/prowlarr-setup-flaresolverr.md
  docs/Prowlarr/prowlarr-setup-proxy.md
  docs/updates.txt
  mkdocs.yml
Labels: Status: Done
