Repository TRaSH-Guides/Guides, pull requests merged in 2023-11, with the labels that each got.

#1618 feat(starr): Create SDR (no WEBDL) custom formats
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/sdr-no-webdl.json
  docs/json/sonarr/cf/sdr-no-webdl.json
Labels: Type: Enhancement, Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1630 fix(radarr): SQP-1 (2160p) several updates (v2)
  docs/json/radarr/cf/bcore.json
  docs/json/radarr/quality-size/sqp-streaming.json
  includes/sqp/1-4k-cf-scoring-sqp1.md
  includes/sqp/1-4k-streaming-services.md
  includes/sqp/1-cf-scoring.md
  includes/sqp/1-streaming-services.md
Labels: Area: Radarr, Area: Starr Custom Formats

#1594 feat(starr): add custom formats for Japanese streaming services `FOD`, `TVer` and `U-NEXT`
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/fod.json
  docs/json/radarr/cf/tver.json
  docs/json/radarr/cf/u-next.json
  docs/json/sonarr/cf/fod.json
  docs/json/sonarr/cf/tver.json
  docs/json/sonarr/cf/u-next.json
  docs/json/sonarr/rp/streaming.json
  includes/cf/radarr-streaming-services.md
  includes/cf/sonarr-streaming-services.md
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1633 feat(guides): Add Honeywell qBittorrent Theme to Themes Page
  docs/Downloaders/qBittorrent/Tips/Themes.md
Labels: Type: Enhancement, Area: Downloaders, Type: Guide Request

#1637 feat(starr): add SbR to WEB Tier 02
  docs/json/radarr/cf/web-tier-02.json
  docs/json/sonarr/cf/web-tier-02.json
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1635 feat(radarr): Added `.VAV` to the `Retags` Custom Format
  docs/json/radarr/cf/retags.json
Labels: Area: Radarr, Area: Starr Custom Formats

#1639 feat(guides/starr): Created New Custom Formats for 4OD and ALL4 Streaming Services, and LQ (Release Title)
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/lq-release-title.json
  docs/json/sonarr/cf/4od.json
  docs/json/sonarr/cf/all4.json
  docs/json/sonarr/cf/lq-release-title.json
  docs/json/sonarr/rp/streaming.json
  includes/cf/radarr-unwanted-uhd.md
  includes/cf/radarr-unwanted.md
  includes/cf/sonarr-streaming-services.md
  includes/cf/sonarr-uhd-streaming-services.md
  includes/cf/sonarr-unwanted-uhd.md
  includes/cf/sonarr-unwanted.md
Labels: Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Starr Custom Formats, Type: Guide Request

#1638 update(downloader/deluge): adds deluge-mover script and language fixes
  docs/Downloaders/Deluge/.pages
  docs/Downloaders/Deluge/Basic-Setup.md
  docs/Downloaders/Deluge/Port-Forwarding.md
  docs/Downloaders/Deluge/Tips/Plugins.md
  docs/Downloaders/Deluge/Tips/Thin-Client.md
  docs/Downloaders/Deluge/Tips/Unraid-Mover.md
  docs/Downloaders/Deluge/Tips/images/Unraid-settings-user-scripts-deluge-mover-cron.png
  docs/Downloaders/Deluge/Tips/images/Unraid-settings-user-scripts-deluge-mover-schedule.png
  docs/Downloaders/Deluge/Tips/images/Unraid-settings-user-scripts-deluge-mover.png
  docs/Downloaders/Deluge/Tips/images/Unraid-settings-user-scripts-edit-deluge-mover.png
  docs/Downloaders/Deluge/Tips/images/Unraid-settings-user-scripts-edit-requests.png
  docs/Downloaders/Deluge/Tips/images/Unraid-settings-user-scripts-icon.png
  docs/Downloaders/Deluge/Tips/images/Unraid-settings-user-scripts-requests-schedule.png
  docs/Downloaders/Deluge/Tips/images/Unraid-settings-user-scripts-requests.png
  docs/Downloaders/Deluge/Tips/images/Unraid-user-scripts-add-new-script-enter-name-deluge.png
  docs/Downloaders/Deluge/Tips/images/Unraid-user-scripts-add-new-script-enter-name.png
  docs/Downloaders/Deluge/Tips/images/Unraid-user-scripts-add-new-script-icon.png
  docs/Downloaders/Deluge/Using-Labels.md
  docs/Downloaders/Deluge/index.md
  docs/Hardlinks/How-to-setup-for/Unraid.md
  mkdocs.yml
Labels: Area: Downloaders

#1644 Add Groups to LQ
  docs/json/radarr/cf/hd-bluray-tier-03.json
  docs/json/radarr/cf/lq-release-title.json
  docs/json/radarr/cf/lq.json
  docs/json/sonarr/cf/lq-release-title.json
Labels: Type: Enhancement, Area: Starr Custom Formats

#1643 fix(starr): Custom Format Conditional Changes
  docs/json/radarr/cf/2160p.json
  docs/json/radarr/cf/atmos-undefined.json
  docs/json/radarr/cf/truehd-atmos.json
  docs/json/radarr/cf/truehd.json
  docs/json/sonarr/cf/2160p.json
Labels: Type: Enhancement, Type: Bug, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1646 update(deluge-mover): update mover script guide for changes
  docs/Downloaders/Deluge/Tips/Unraid-Mover.md
Labels: Area: Downloaders

#1623 feat(guide): include the different hdr formats in the quality profiles
  docs/Radarr/images/flowchart-custom-format-radarr.png
  docs/Radarr/images/flowchart-guide-radarr.png
  docs/Radarr/images/flowchart-hdr-dv-webdl.png
  docs/Radarr/images/flowchart-hdr-formats.png
  docs/Radarr/images/flowchart-hdr10plus-boost.png
  docs/Radarr/images/flowchart-quality-profiles-radarr.png
  docs/Radarr/radarr-setup-quality-profiles-french-en.md
  docs/Radarr/radarr-setup-quality-profiles-french-fr.md
  docs/Radarr/radarr-setup-quality-profiles.md
  docs/SQP/images/flowchart-sqp-1.png
  docs/SQP/images/flowchart-sqp-2-5.png
  docs/Sonarr/images/flowchart-custom-format-sonarr.png
  docs/Sonarr/images/flowchart-quality-profiles-sonarr.png
  docs/Sonarr/sonarr-setup-quality-profiles-french-en.md
  docs/Sonarr/sonarr-setup-quality-profiles-french-fr.md
  docs/Sonarr/sonarr-setup-quality-profiles.md
  includes/cf/audio-info.md
  includes/cf/dv-info-green-purple.md
  includes/cf/dv-info-profiles.md
  includes/cf/dv-info.md
  includes/cf/dv-limitations-atv.md
  includes/cf/radarr-all-hdr-formats-dv-web-hdr10plus-boost.md
  includes/cf/radarr-all-hdr-formats-dv-web.md
  includes/cf/radarr-all-hdr-formats.md
  includes/cf/radarr-audio.md
  includes/cf/radarr-dv-tip-dv-webdl.md
  includes/cf/radarr-hdr-formats.md
  includes/cf/sonarr-all-hdr-formats-dv-web-hdr10plus-boost.md
  includes/cf/sonarr-all-hdr-formats-dv-web.md
  includes/cf/sonarr-all-hdr-formats.md
  includes/cf/sonarr-dv-tip-dv-webdl.md
  includes/cf/sonarr-hdr-formats.md
  includes/cf/which-hdr-formats-should-i-choose.md
  includes/sqp/1-4k-cf-scoring-sqp1.md
  includes/sqp/2-cf-scoring.md
  includes/sqp/3-cf-scoring.md
  includes/sqp/4-cf-scoring.md
  includes/sqp/5-cf-scoring.md
Labels: Area: Sonarr, Area: Radarr

#1647 fix(guide): Update Radarr/Sonarr guide How to rename your folders
  docs/Radarr/Tips/Radarr-rename-your-folders.md
  docs/Radarr/Tips/images/radarr-correct-folder-name.png
  docs/Radarr/Tips/images/radarr-edit-selected-movies.png
  docs/Radarr/Tips/images/radarr-movie-editor-move-files-yes.png
  docs/Radarr/Tips/images/radarr-movie-editor-select.png
  docs/Radarr/Tips/images/radarr-movie-editor.png
  docs/Radarr/Tips/images/radarr-wrong-folder-name.png
Labels: Area: Radarr

#1651 fix(radarr): Add CtrlHD to Atmos condition in TrueHD Atmos Radarr Custom Format
  docs/json/radarr/cf/truehd-atmos.json
  docs/updates.txt
Labels: Status: Confirmed, Type: Bug, Area: Radarr, Area: Starr Custom Formats

#1658 fix(guides): Fixed typo "qbittorrent-qpi"
  docs/Downloaders/qBittorrent/Tips/How-to-run-the-unRaid-mover-for-qBittorrent.md
Labels: Area: Downloaders

#1657 fix(sonarr): Add Missing Optionals
  docs/Radarr/radarr-setup-quality-profiles.md
  docs/Sonarr/sonarr-setup-quality-profiles.md
  includes/cf/radarr-optional-uhd.md
  includes/cf/radarr-optional.md
  includes/cf/sonarr-optional-uhd.md
  includes/cf/sonarr-optional.md
Labels: Status: In Progress, Area: Sonarr, Area: Radarr
