Repository TRaSH-Guides/Guides, pull requests merged in 2023-06, with the labels that each got.

#1344 feat(radarr): add OFT to LQ
  docs/json/radarr/cf/lq.json
Labels: Type: Enhancement, Radarr

#1352 feat(maintenance): various changes to the Starr CFs
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/lq.json
  docs/json/radarr/cf/remux-tier-03.json
  docs/json/radarr/cf/x265-no-hdrdv.json
  docs/json/sonarr/cf/x265-no-hdrdv.json
Labels: Type: Enhancement, Sonarr, Radarr

#1358 feat(sonar) - add UHD Boosts to Streaming Services Table
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Type: Bug, Sonarr

#1365 feat(radarr): add HiDt to HD Bluray Tier 02
  docs/json/radarr/cf/hd-bluray-tier-02.json
Labels: Type: Enhancement, Radarr

#1381 feat(anime) - fix typo in guide and remove double up of VRV
  docs/Radarr/radarr-setup-quality-profiles-anime.md
  includes/cf/sonarr-anime.md
Labels: Type: Bug, Sonarr, Radarr

#1382 feat(anime) - major anime updates
  docs/json/radarr/cf/anime-bd-tier-01-top-seadex-muxers.json
  docs/json/radarr/cf/anime-bd-tier-02-seadex-muxers.json
  docs/json/radarr/cf/anime-bd-tier-04-seadex-muxers.json
  docs/json/radarr/cf/anime-web-tier-01-muxers.json
  docs/json/radarr/cf/anime-web-tier-02-top-fansubs.json
  docs/json/radarr/cf/anime-web-tier-03-official-subs.json
  docs/json/radarr/cf/anime-web-tier-04-official-subs.json
  docs/json/radarr/cf/dubs-only.json
  docs/json/radarr/cf/multi.json
  docs/json/sonarr/cf/anime-bd-tier-01-top-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-02-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-04-seadex-muxers.json
  docs/json/sonarr/cf/anime-web-tier-01-muxers.json
  docs/json/sonarr/cf/anime-web-tier-02-top-fansubs.json
  docs/json/sonarr/cf/anime-web-tier-03-official-subs.json
  docs/json/sonarr/cf/anime-web-tier-04-official-subs.json
  docs/json/sonarr/cf/cr.json
  docs/json/sonarr/cf/funi.json
  docs/json/sonarr/cf/multi.json
  docs/updates.txt
  includes/cf/sonarr-streaming-services-anime.md
Labels: Type: Enhancement, Sonarr, Radarr

#1385 feat(starr): add NINJACENTRAL to WEB Tier 03
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/radarr/cf/web-tier-03.json
  docs/json/sonarr/cf/web-tier-03.json
  docs/json/sonarr/rp/p2pRepackProper.json
Labels: Type: Enhancement, Sonarr, Radarr

#1384 feat(radarr): add CiNEPHiLES to Remux Tier 02
  docs/json/radarr/cf/remux-tier-02.json
Labels: Type: Enhancement, Radarr

#1387 fix(anime): updated dubs only for sonarr and updated anime streaming services
  docs/json/sonarr/cf/dubs-only.json
  includes/cf/sonarr-streaming-services-anime.md
Labels: Type: Enhancement, Sonarr

#1380 Add `HD Bluray Tier 03`
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/json/radarr/cf/hd-bluray-tier-03.json
  docs/recyclarr-configs/radarr/french-hd-bluray-web-multi.yml
  docs/recyclarr-configs/radarr/french-hd-bluray-web-vostfr.yml
  docs/recyclarr-configs/radarr/hd-bluray-web.yml
  docs/recyclarr-configs/radarr/sqp/sqp-1-2160p.yml
  docs/recyclarr-configs/radarr/sqp/sqp-1.yml
  includes/cf/radarr-cf-hd-bluray-web-scoring.md
  includes/sqp/1-4k-cf-scoring-sqp1.md
  includes/sqp/1-4k-cf-scoring.md
  includes/sqp/1-cf-scoring.md
Labels: Type: Enhancement, Radarr

#1391 fix(starr): change must warning to suggestion
  includes/cf/radarr-optional-uhd.md
  includes/cf/sonarr-optional-uhd.md
  includes/sqp/1-4k-cf-scoring-sqp1.md
  includes/sqp/1-4k-cf-scoring.md
  includes/sqp/uhd-radarr-optional.md
Labels: Sonarr, Radarr

#1389 (chore): add PR request labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Backend

#1394 feat(Radarr): New Criterion Channel streaming service
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/json/radarr/cf/crit.json
  docs/json/radarr/cf/criterion-collection.json
  docs/updates.txt
  includes/cf/radarr-streaming-services.md
Labels: Radarr, Custom Formats

#1402 chore(labeler): sort Sonarr directory order
  .github/labeler.yml
Labels: Area: github_actions, Area: Backend

#1403 chore(backend): several backend changes
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  docs/Bazarr/scripts/index.md
  docs/index.md
  mkdocs.yml
Labels: Area: Backend

#1390 fix(radarr): remove hybrid from hd-bluray+web
  docs/Radarr/radarr-setup-quality-profiles.md
  includes/cf/radarr-movie-versions-imaxe-noremux.md
  includes/cf/radarr-movie-versions-noremux.md
  includes/sqp/1-4k-cf-scoring-sqp1.md
  includes/sqp/1-4k-cf-scoring.md
  includes/sqp/1-cf-scoring.md
Labels: Status: Review Needed, Area: Radarr, Area: Starr Custom Formats

#1408 chore(backend): updated QR-Code images
  images/QR-code-BTC.png
  images/QR-code-ETH.png
Labels: Area: Backend

#1407 chore(GIT): templates and PR cleanup
  .github/ISSUE_TEMPLATE/bug-error-found-in-the-guide-.md
  .github/ISSUE_TEMPLATE/bug-error-found-in-the-guide-.yml
  .github/ISSUE_TEMPLATE/request-a-guide.md
  .github/ISSUE_TEMPLATE/request-a-guide.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Review Needed

#1396 feat(starr): Additions to Scene CF
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/radarr/cf/scene.json
  docs/json/sonarr/cf/scene.json
  docs/json/sonarr/rp/optionals.json
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats, Status: Waiting for User

#1400 (chore): GHA - Various
  .github/workflows/conflicts.yml
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/lint-editor.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-yaml.yml
  .github/workflows/lint.yml
  .github/workflows/metadata-validation.yml
  yamllint.yml
Labels: Status: Review Needed, Area: github_actions, Area: Backend

#1412 chore(labeler): fix labeler paths
  .github/labeler.yml
Labels: Area: github_actions

#1419 Feat/linter-speed
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-yaml.yml
Labels: Area: github_actions

#1420 chore(GIT): update lint-markdown.yml to fix issues
  .github/workflows/lint-markdown.yml
Labels: Area: github_actions

#1413 chore(labeler): run when PR changes or master updates config
  .github/workflows/labeler.yml
Labels: Status: Review Needed, Area: github_actions

#1422 chore(GHA): fix conflict labeler perms
  .github/workflows/conflicts.yml
Labels: Area: github_actions

#1424 ci: Fix markdown lint
  .github/workflows/lint-markdown.yml
  .markdownlint.jsonc
Labels: Area: github_actions, Status: Waiting for User

#1406 Chore(recyclarr): relocate recyclarr configs
  docs/Recyclarr/recyclarr-configs-sqp.md
  docs/Recyclarr/recyclarr-configs.md
  docs/recyclarr-configs/README.md
  docs/recyclarr-configs/radarr/anime-radarr.yml
  docs/recyclarr-configs/radarr/french-hd-bluray-web-multi.yml
  docs/recyclarr-configs/radarr/french-hd-bluray-web-vostfr.yml
  docs/recyclarr-configs/radarr/french-remux-web-1080p-multi.yml
  docs/recyclarr-configs/radarr/french-remux-web-1080p-vostfr.yml
  docs/recyclarr-configs/radarr/french-remux-web-2160p-multi.yml
  docs/recyclarr-configs/radarr/french-remux-web-2160p-vostfr.yml
  docs/recyclarr-configs/radarr/french-uhd-bluray-web-multi.yml
  docs/recyclarr-configs/radarr/french-uhd-bluray-web-vostfr.yml
  docs/recyclarr-configs/radarr/hd-bluray-web.yml
  docs/recyclarr-configs/radarr/remux-web-1080p.yml
  docs/recyclarr-configs/radarr/remux-web-2160p.yml
  docs/recyclarr-configs/radarr/sqp/sqp-1-2160p.yml
  docs/recyclarr-configs/radarr/sqp/sqp-1.yml
  docs/recyclarr-configs/radarr/sqp/sqp-2.yml
  docs/recyclarr-configs/radarr/sqp/sqp-3.yml
  docs/recyclarr-configs/radarr/sqp/sqp-4.yml
  docs/recyclarr-configs/radarr/sqp/sqp-5.yml
  docs/recyclarr-configs/radarr/uhd-bluray-web.yml
  docs/recyclarr-configs/sonarr/anime-sonarr-v4.yml
  docs/recyclarr-configs/sonarr/french-anime-multi-v4.yml
  docs/recyclarr-configs/sonarr/french-anime-vostfr-v4.yml
  docs/recyclarr-configs/sonarr/french-web-1080p-multi-v4.yml
  docs/recyclarr-configs/sonarr/french-web-1080p-vostfr-v4.yml
  docs/recyclarr-configs/sonarr/french-web-2160p-multi-v4.yml
  docs/recyclarr-configs/sonarr/french-web-2160p-vostfr-v4.yml
  docs/recyclarr-configs/sonarr/web-1080p-v4.yml
  docs/recyclarr-configs/sonarr/web-2160p-v4.yml
  docs/recyclarr-configs/templates.json
  mkdocs.yml
Labels: Status: Review Needed, Area: Recyclarr

#1425 fix(Starr): Update EZTV regex in CFs and downloader scripts
  docs/Downloaders/NZBGet/scripts/Clean/Clean.py
  docs/Downloaders/SABnzbd/scripts/Clean/Clean.py
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/radarr/cf/french-lq.json
  docs/json/radarr/cf/retags.json
  docs/json/sonarr/cf/french-lq.json
  docs/json/sonarr/cf/retags.json
  docs/json/sonarr/rp/optionals.json
Labels: Area: python, Area: Sonarr, Area: Radarr, Area: Downloaders, Area: Starr Custom Formats

#1415 chore(GIT): block merging by label
  .github/workflows/hold-merge.yml
Labels: Status: Review Needed, Area: github_actions
