Repository TRaSH-Guides/Guides, pull requests merged in 2023-10, with the labels that each got.

#1578 fix(starr): BR-DISK CF regex
  docs/json/radarr/cf/br-disk.json
  docs/json/sonarr/cf/br-disk-btn.json
  docs/json/sonarr/cf/br-disk.json
Labels: Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1584 fix(starr): add RlsGrp BlackBit to Bad Dual Groups
  docs/json/radarr/cf/bad-dual-groups.json
  docs/json/sonarr/cf/bad-dual-groups.json
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1585 fix(radarr): Remove RlsGrp `SLOT` from CF `LQ`
  docs/json/radarr/cf/lq.json
Labels: Area: Radarr, Area: Starr Custom Formats

#1586 feat(radarr): add RlsGrp `LoRD` to `HD Bluray Tier 03`
  docs/json/radarr/cf/hd-bluray-tier-03.json
Labels: Area: Radarr, Area: Starr Custom Formats

#1587 feat (Guides): Added new qBittorrent Tips page for known working themes
  docs/Downloaders/qBittorrent/Tips/Themes.md
Labels: Type: Enhancement, Status: Review Needed, Area: Downloaders

#1589 fix:(radarr): remove SDR condition from UHD Bluray Tier 1-3
  docs/json/radarr/cf/uhd-bluray-tier-01.json
  docs/json/radarr/cf/uhd-bluray-tier-02.json
  docs/json/radarr/cf/uhd-bluray-tier-03.json
Labels: Area: Radarr, Area: Starr Custom Formats

#1601 chore(Guide): fix the jdupes repo as per Jody Bruchon’s website
  docs/Hardlinks/Replace-copies-with-hardlinks.md
Labels: Area: Backend

#1604 feat (guides): Add BHDStudio to HD/UHD Bluray Tier 03
  docs/json/radarr/cf/bhdstudio.json
  docs/json/radarr/cf/hd-bluray-tier-03.json
  docs/json/radarr/cf/uhd-bluray-tier-01.json
  docs/json/radarr/cf/uhd-bluray-tier-02.json
  docs/json/radarr/cf/uhd-bluray-tier-03.json
  includes/sqp/1-4k-cf-scoring-sqp1.md
Labels: Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Starr Custom Formats

#1608 feat(starr): add RlsGrp `ZNM` to `Bad Dual Groups`
  docs/json/radarr/cf/bad-dual-groups.json
  docs/json/sonarr/cf/bad-dual-groups.json
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1599 feat(French-Starr): add VOQ (Version Originale Québecoise | Quebec Original Version) CF
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/french-voq.json
  docs/json/sonarr/cf/french-voq.json
  includes/french-guide/radarr-french-audio-version-en.md
  includes/french-guide/radarr-french-audio-version-fr.md
  includes/french-guide/sonarr-french-audio-version-en.md
  includes/french-guide/sonarr-french-audio-version-fr.md
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1590 feat(starr): Add NHTFS to Scene CF
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/radarr/cf/scene.json
  docs/json/sonarr/cf/scene.json
  docs/json/sonarr/rp/optionals.json
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1611 fix(french-starr): remove non-French Language conditions in the French Audio CF
  docs/json/radarr/cf/french-audio.json
  docs/json/sonarr/cf/french-audio.json
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats
