Repository TRaSH-Guides/Guides, pull requests merged in 2023-05, with the labels that each got.

#1299 feat(sonarr): add TG to LQ
  docs/json/sonarr/cf/lq.json
  docs/json/sonarr/rp/lqGroups.json
Labels: Type: Enhancement, Sonarr

#1310 Maintance release 20230518
  docs/Radarr/radarr-setup-quality-profiles.md
  docs/SQP/1-4k.md
  docs/SQP/images/1-4k-merge-qualities.png
  docs/SQP/images/1-4k-newqp.png
  docs/SQP/images/1-4k-qp-settings.png
  docs/SQP/images/1-4k-select-qualities.png
  docs/SQP/index.md
  docs/assets/javascripts/glightbox.min.js
  docs/stylesheets/glightbox.min.css
  includes/cf/radarr-all-hdr-formats-dv-web-hdr10plus-boost.md
  includes/cf/radarr-all-hdr-formats-dv-web.md
  includes/cf/radarr-all-hdr-formats.md
  includes/cf/radarr-hdr-formats.md
  includes/cf/sonarr-all-hdr-formats-dv-web-hdr10plus-boost.md
  includes/cf/sonarr-all-hdr-formats-dv-web.md
  includes/cf/sonarr-all-hdr-formats.md
  includes/cf/sonarr-hdr-formats.md
  includes/sqp/1-4k-cf-scoring.md
  includes/sqp/1-4k-merge-qualities.md
  includes/sqp/1-4k-newqp.md
  includes/sqp/1-4k-qp-settings.md
  includes/sqp/1-4k-quality-size.md
  includes/sqp/1-4k-select-qualities.md
  includes/sqp/1-4k-why.md
  includes/sqp/1-4k-workflow.md
  includes/sqp/radarr-unwanted-uhd.md
  mkdocs.yml
Labels: Backend

#1315 fix(radarr): VS false positives
  docs/json/radarr/cf/vinegar-syndrome.json
Labels: Type: Bug, Radarr

#1322 feat(starr): add Max CF
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/max.json
  docs/json/sonarr/cf/max.json
  docs/json/sonarr/rp/streaming.json
  includes/cf/radarr-streaming-services.md
  includes/cf/sonarr-streaming-services.md
Labels: Type: Enhancement, Sonarr, Radarr

#1316 feat(sonar) add Kitsune to web tier 2
  docs/json/radarr/cf/web-tier-02.json
  docs/json/sonarr/cf/web-tier-02.json
  docs/json/sonarr/rp/p2pRepackProper.json
Labels: Type: Enhancement, Sonarr, Radarr

#1324 chore(starr): add regex example to Max CF
  docs/json/radarr/cf/max.json
  docs/json/sonarr/cf/max.json
Labels: Type: Enhancement, Sonarr, Radarr

#1331 fix(starr): DV HDR10 CF should match DV HDR10+
  docs/json/radarr/cf/dv-hdr10.json
  docs/json/radarr/cf/dv-hlg.json
  docs/json/radarr/cf/dv-sdr.json
  docs/json/radarr/cf/dv.json
  docs/json/radarr/cf/hdr10.json
  docs/json/radarr/cf/hdr10plus-boost.json
  docs/json/radarr/cf/hdr10plus.json
  docs/json/sonarr/cf/dv-hdr10.json
  docs/json/sonarr/cf/dv-hlg.json
  docs/json/sonarr/cf/dv-sdr.json
  docs/json/sonarr/cf/dv.json
  docs/json/sonarr/cf/hdr10.json
  docs/json/sonarr/cf/hdr10plus-boost.json
  docs/json/sonarr/cf/hdr10plus.json
  docs/updates.txt
Labels: Type: Enhancement, Sonarr, Radarr
