Repository TRaSH-Guides/Guides, pull requests merged in 2023-04, with the labels that each got.

#1248 fix(sonarr): `SHO` CF mismatching
  docs/json/sonarr/cf/sho.json
Labels: Type: Bug, Sonarr

#1251 feat(starr) - added XEBEC to tier 2
  docs/json/radarr/cf/web-tier-02.json
  docs/json/sonarr/cf/web-tier-02.json
Labels: Type: Enhancement, Sonarr, Radarr

#1254 fix(guide): unwanted CF scores
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/updates.txt
Labels: Type: Bug, Sonarr, Radarr

#1257 Updated recyclarr configs
  docs/recyclarr-configs/radarr/anime-radarr.yml
  docs/recyclarr-configs/radarr/hd-bluray-web.yml
  docs/recyclarr-configs/radarr/remux-web-1080p.yml
  docs/recyclarr-configs/radarr/remux-web-2160p.yml
  docs/recyclarr-configs/radarr/sqp/sqp-1.yml
  docs/recyclarr-configs/radarr/sqp/sqp-2.yml
  docs/recyclarr-configs/radarr/sqp/sqp-3.yml
  docs/recyclarr-configs/radarr/sqp/sqp-4.yml
  docs/recyclarr-configs/radarr/sqp/sqp-5.yml
  docs/recyclarr-configs/radarr/uhd-bluray-web.yml
  docs/recyclarr-configs/sonarr/anime-sonarr-v4.yml
  docs/recyclarr-configs/sonarr/web-1080p-v4.yml
  docs/recyclarr-configs/sonarr/web-2160p-v4.yml
Labels: Type: Enhancement, Recyclarr

#1262 Feat(anime) - update URL for SeaDex
  docs/Radarr/radarr-setup-quality-profiles-anime.md
  docs/Sonarr/sonarr-setup-quality-profiles-anime.md
Labels: Type: Bug, Sonarr, Radarr

#1265 feat(anime) CF updates
  docs/json/radarr/cf/anime-bd-tier-03-seadex-muxers.json
  docs/json/radarr/cf/anime-bd-tier-06-fansubs.json
  docs/json/radarr/cf/anime-web-tier-03-official-subs.json
  docs/json/sonarr/cf/anime-bd-tier-03-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-06-fansubs.json
  docs/updates.txt
Labels: Type: Enhancement, Type: Bug, Sonarr, Radarr

#1273 fix(starr): group spec condition regex
  docs/json/radarr/cf/bad-dual-groups.json
  docs/json/radarr/cf/bhdstudio.json
  docs/json/radarr/cf/evo-no-webdl.json
  docs/json/radarr/cf/framestor.json
  docs/json/radarr/cf/hd-bluray-tier-01.json
  docs/json/radarr/cf/hd-bluray-tier-02.json
  docs/json/radarr/cf/lq.json
  docs/json/radarr/cf/remux-tier-01.json
  docs/json/radarr/cf/remux-tier-02.json
  docs/json/radarr/cf/uhd-bluray-tier-01.json
  docs/json/radarr/cf/uhd-bluray-tier-02.json
  docs/json/radarr/cf/uhd-bluray-tier-03.json
  docs/json/radarr/cf/web-tier-01.json
  docs/json/radarr/cf/web-tier-02.json
  docs/json/radarr/cf/web-tier-03.json
  docs/json/sonarr/cf/bad-dual-groups.json
  docs/json/sonarr/cf/hd-bluray-tier-01.json
  docs/json/sonarr/cf/hd-bluray-tier-02.json
  docs/json/sonarr/cf/lq.json
  docs/json/sonarr/cf/remux-tier-01.json
  docs/json/sonarr/cf/remux-tier-02.json
  docs/json/sonarr/cf/web-scene.json
  docs/json/sonarr/cf/web-tier-01.json
  docs/json/sonarr/cf/web-tier-02.json
  docs/json/sonarr/cf/web-tier-03.json
Labels: Type: Enhancement, Status: In Progress, Sonarr, Radarr

#1280 feat(sonarr): add HiQVE to LQ
  docs/json/sonarr/cf/lq.json
Labels: Type: Enhancement, Sonarr
