Repository TRaSH-Guides/Guides, pull requests merged in 2023-12, with the labels that each got.

#1500 fix(guides): add DTS-X details
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Radarr

#1668 fix(radarr): add `Extended Clip` to Extras CF
  docs/json/radarr/cf/extras.json
  docs/json/radarr/cf/special-edition.json
  docs/json/sonarr/cf/extras.json
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1679 feat(guides): Add 1XBET to LQ (Release Title)
  docs/json/radarr/cf/lq-release-title.json
Labels: Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Starr Custom Formats, Type: Guide Request

#1674 feat(Sonarr-fr): add `Seimeisen` to FR Anime FanSub
  docs/json/sonarr/cf/french-anime-fansub.json
Labels: Area: Sonarr, Area: Starr Custom Formats, Area: French

#1673 feat(Sonarr-fr): add `TAT` to FR WEB Tier 2
  docs/json/sonarr/cf/french-web-tier-02.json
Labels: Area: Sonarr, Area: Starr Custom Formats, Area: French

#1681 feat(anime): updates to sonarr and radarr CFs
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-setup-quality-profiles-anime.md
  docs/json/radarr/cf/anime-lq-groups.json
  docs/json/radarr/cf/anime-raws.json
  docs/json/radarr/cf/anime-web-tier-01-muxers.json
  docs/json/radarr/cf/anime-web-tier-04-official-subs.json
  docs/json/sonarr/cf/abema.json
  docs/json/sonarr/cf/anime-lq-groups.json
  docs/json/sonarr/cf/anime-raws.json
  docs/json/sonarr/cf/anime-web-tier-01-muxers.json
  docs/json/sonarr/cf/anime-web-tier-04-official-subs.json
  docs/updates.txt
  includes/cf/sonarr-streaming-services-anime.md
Labels: Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Anime

#1683 feat(starr): add SURCODE & B0MBARDIERS to Scene CF
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/radarr/cf/scene.json
  docs/json/sonarr/cf/scene.json
  docs/json/sonarr/rp/optionals.json
Labels: Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1686 fix(starr): DV HDR10 mismatching
  docs/json/radarr/cf/dv-hdr10.json
  docs/json/sonarr/cf/dv-hdr10.json
Labels: Type: Bug, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1690 fix(Starr): Update Radarr retags Custom Format, Sonarr iT Custom Format, and Radarr Naming Scheme
  docs/json/radarr/cf/retags.json
  docs/json/radarr/naming/radarr-naming.json
  docs/json/sonarr/cf/it.json
  docs/updates.txt
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Area: Starr Naming

#1693 fix(guides): Add DV HDR10Plus to Guides
  includes/cf/radarr-all-hdr-formats.md
  includes/cf/sonarr-all-hdr-formats.md
  includes/sqp/1-4k-cf-scoring-sqp1.md
Labels: Type: Bug, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Backend, Type: Guide Request

#1682 proof(improve-cf-desc): language clarification and grammar
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Area: Sonarr, Area: Radarr

#1702 feat(Radarr): add RlsGrp `Will1869` to `LQ (Release Title)`
  docs/json/radarr/cf/lq-release-title.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1703 feat(Sonarr): add `.heb` to `Retags`
  docs/json/sonarr/cf/retags.json
Labels: Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#1705 fix(guide): add enable advanced settings to to Recommended naming scheme
  docs/Radarr/Radarr-recommended-naming-scheme.md
  docs/Radarr/images/radarr-show-adavanced.png
  docs/Radarr/images/unhide-advanced.png
  docs/Sonarr/Sonarr-recommended-naming-scheme.md
  docs/Sonarr/images/sonarr-show-adavanced.png
  docs/Sonarr/images/unhide-advanced.png
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1706 fix(Starr): renamed CF `DV (FEL)` to `DV (Disk)`
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/dv-disk.json
  docs/json/sonarr/cf/dv-disk.json
  includes/sqp/uhd-radarr-optional.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1697 fix(sonarr): match `HIDI` as HIDIVE
  docs/json/sonarr/cf/hidive.json
Labels: Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#1704 feat(Starr) add NEW CF `INTERNAL`
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/internal.json
  docs/json/sonarr/cf/internal.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1708 fix(starr): Scene CF mismatching title
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/radarr/cf/scene.json
  docs/json/sonarr/cf/scene.json
  docs/json/sonarr/rp/optionals.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1712 feat(guide): Sonarr move v4 from beta to main
  docs/Sonarr/.pages
  docs/Sonarr/Sonarr-Release-Profile-RegEx-Anime.md
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/Sonarr/Sonarr-recommended-naming-scheme.md
  includes/sonarrv3-eol.md
  includes/sonarrv4-disclaimer.md
Labels: Area: Sonarr, Area: Backend

#1713 feat(starr): add rlsgrp `vnlls` to `Bad Dual Groups`
  docs/json/radarr/cf/bad-dual-groups.json
  docs/json/sonarr/cf/bad-dual-groups.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1707 fix(radarr): 3D CF should match BD3D
  docs/json/radarr/cf/3d.json
Labels: Status: Confirmed, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1714 feat(starr): Add CF for BBC iPlayer
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/ip.json
  docs/json/sonarr/cf/ip.json
  includes/cf/radarr-streaming-services.md
  includes/cf/sonarr-streaming-services.md
  includes/cf/sonarr-uhd-streaming-services.md
  includes/sqp/1-4k-streaming-services.md
  includes/sqp/1-streaming-services.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats
