Repository TRaSH-Guides/Guides, pull requests merged in 2023-01, with the labels that each got.

#1053 Updated to match Disney+
  docs/json/sonarr/cf/dsnp.json
Labels: Type: Bug, Sonarr

#1065 exclude hdr10+ from DV HDR10 CF
  docs/json/radarr/cf/dv-hdr10.json
  docs/json/radarr/cf/dv-hlg.json
  docs/json/radarr/cf/dv-sdr.json
  docs/json/radarr/cf/dv.json
  docs/json/radarr/cf/hdr10.json
  docs/json/radarr/cf/hdr10plus-boost.json
  docs/json/radarr/cf/hdr10plus.json
  docs/json/sonarr/cf/dv-hdr10.json
  docs/json/sonarr/cf/dv-hlg.json
  docs/json/sonarr/cf/dv-sdr.json
  docs/json/sonarr/cf/dv.json
  docs/json/sonarr/cf/hdr10.json
  docs/json/sonarr/cf/hdr10plus-boost.json
  docs/json/sonarr/cf/hdr10plus.json
Labels: Status: Confirmed, Status: In Progress

#1084 Update Sonarr Remux Tier 02
  docs/json/sonarr/cf/remux-tier-02.json
Labels: Type: Enhancement, Sonarr

#1101 Updates to Anime Guides
  docs/Sonarr/images/cfa-complete.png
  docs/Sonarr/images/cfa-da-scoring.png
  docs/Sonarr/images/cfa-default-scoring.png
  docs/Sonarr/images/cfa-uncensored-scoring.png
  docs/json/radarr/cf/anime-lq-groups.json
  docs/json/sonarr/cf/anime-lq-groups.json
  docs/updates.txt
  includes/cf/radarr-anime.md
  includes/cf/sonarr-anime.md
Labels: Type: Enhancement, Sonarr, Radarr

#1121 feat(anime) - add LYS1TH3A to the Anime tiers
  docs/json/radarr/cf/anime-bd-tier-02-seadex-muxers.json
  docs/json/radarr/cf/anime-web-tier-01-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-02-seadex-muxers.json
  docs/json/sonarr/cf/anime-web-tier-01-muxers.json
Labels: Type: Enhancement, Sonarr, Radarr

#1122 feat(anime) - add Anime streaming services
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-setup-quality-profiles-anime.md
  docs/json/sonarr/cf/bglobal.json
  docs/json/sonarr/cf/bilibili.json
  docs/json/sonarr/cf/cr.json
  docs/json/sonarr/cf/funi.json
  docs/json/sonarr/cf/hidive.json
  docs/json/sonarr/cf/vrv.json
  docs/updates.txt
  includes/cf/sonarr-streaming-services-anime.md
Labels: Type: Enhancement, Sonarr

#1124 feat(sonar-anime) - updated cf names for Notifiarr
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Sonarr
