Repository TRaSH-Guides/Guides, pull requests merged in 2023-02, with the labels that each got.

#1135 fix(radarr): Add `MT` to `LQ` CF
  docs/json/radarr/cf/lq.json
Labels: Type: Enhancement, Radarr

#1136 feat(naming): Add warning for edition naming
  docs/Radarr/Radarr-recommended-naming-scheme.md
  docs/updates.txt
Labels: Type: Enhancement, Radarr

#1152 feat(sonarr): added `Comedy Central` CF
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/Sonarr/recyclarr-config/web_1080p_v4.yml
  docs/Sonarr/recyclarr-config/web_2160p_v4.yml
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/sonarr/cf/cc.json
  docs/json/sonarr/rp/streaming.json
  includes/cf/sonarr-streaming-services.md
Labels: Type: Enhancement, Sonarr

#1170 feat(radarr): create `Upscaled` CF
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/json/radarr/cf/upscaled.json
  includes/cf/radarr-unwanted.md
Labels: Type: Enhancement, Radarr

#1162 feat(radarr): add `AZAZE` to `LQ` CF
  docs/json/radarr/cf/lq.json
Labels: Type: Enhancement, Radarr

#1171 feat(starr): rework of HDR metadata CFs
  docs/json/radarr/cf/dv-fel.json
  docs/json/radarr/cf/dv-hdr10.json
  docs/json/radarr/cf/dv-hlg.json
  docs/json/radarr/cf/dv-sdr.json
  docs/json/radarr/cf/dv-webdl.json
  docs/json/radarr/cf/dv.json
  docs/json/radarr/cf/hdr-undefined.json
  docs/json/radarr/cf/hdr.json
  docs/json/radarr/cf/hdr10.json
  docs/json/radarr/cf/hdr10plus-boost.json
  docs/json/radarr/cf/hdr10plus.json
  docs/json/radarr/cf/hlg.json
  docs/json/radarr/cf/pq.json
  docs/json/radarr/cf/sdr.json
  docs/json/sonarr/cf/dv-fel.json
  docs/json/sonarr/cf/dv-hdr10.json
  docs/json/sonarr/cf/dv-hlg.json
  docs/json/sonarr/cf/dv-sdr.json
  docs/json/sonarr/cf/dv-webdl.json
  docs/json/sonarr/cf/dv.json
  docs/json/sonarr/cf/hdr-undefined.json
  docs/json/sonarr/cf/hdr.json
  docs/json/sonarr/cf/hdr10.json
  docs/json/sonarr/cf/hdr10plus-boost.json
  docs/json/sonarr/cf/hdr10plus.json
  docs/json/sonarr/cf/hlg.json
  docs/json/sonarr/cf/pq.json
  docs/json/sonarr/cf/sdr.json
  docs/updates.txt
Labels: Type: Enhancement, Status: In Progress, Sonarr, Radarr

#1172 fix(starr): fix mistakes in HDR metadata CFs
  docs/json/radarr/cf/dv-fel.json
  docs/json/radarr/cf/dv.json
  docs/json/radarr/cf/hdr10.json
  docs/json/sonarr/cf/dv-fel.json
  docs/json/sonarr/cf/dv.json
  docs/json/sonarr/cf/hdr10.json
  docs/updates.txt
Labels: Status: Fixed, Type: Bug, Sonarr, Radarr

#1127 Add TrueNAS Core guide for hardlinks and general setup
  docs/Hardlinks/How-to-setup-for/TrueNAS-Core.md
  docs/Hardlinks/How-to-setup-for/images/truenas-create-dataset.png
  docs/Hardlinks/How-to-setup-for/images/truenas-dataset-options.png
  docs/Hardlinks/How-to-setup-for/images/truenas-dataset-permissions.png
  docs/Hardlinks/How-to-setup-for/images/truenas-group-options.png
  docs/Hardlinks/How-to-setup-for/images/truenas-nfs-service-options.png
  docs/Hardlinks/How-to-setup-for/images/truenas-nfs-share-options.png
  docs/Hardlinks/How-to-setup-for/images/truenas-user-options.png
  docs/Hardlinks/How-to-setup-for/index.md
Labels: Status: In Progress

#1176 fix(starr): revert changes and fix HDR CFs
  docs/json/radarr/cf/dv-fel.json
  docs/json/radarr/cf/dv-hdr10.json
  docs/json/radarr/cf/dv-hlg.json
  docs/json/radarr/cf/dv-sdr.json
  docs/json/radarr/cf/dv-webdl.json
  docs/json/radarr/cf/dv.json
  docs/json/radarr/cf/hdr-undefined.json
  docs/json/radarr/cf/hdr.json
  docs/json/radarr/cf/hdr10.json
  docs/json/radarr/cf/hdr10plus-boost.json
  docs/json/radarr/cf/hdr10plus.json
  docs/json/radarr/cf/hlg.json
  docs/json/radarr/cf/pq.json
  docs/json/radarr/cf/sdr.json
  docs/json/sonarr/cf/dv-fel.json
  docs/json/sonarr/cf/dv-hdr10.json
  docs/json/sonarr/cf/dv-hlg.json
  docs/json/sonarr/cf/dv-sdr.json
  docs/json/sonarr/cf/dv-webdl.json
  docs/json/sonarr/cf/dv.json
  docs/json/sonarr/cf/hdr-undefined.json
  docs/json/sonarr/cf/hdr.json
  docs/json/sonarr/cf/hdr10.json
  docs/json/sonarr/cf/hdr10plus-boost.json
  docs/json/sonarr/cf/hdr10plus.json
  docs/json/sonarr/cf/hlg.json
  docs/json/sonarr/cf/pq.json
  docs/json/sonarr/cf/sdr.json
Labels: Type: Bug, Sonarr, Radarr
