Repository TRaSH-Guides/Guides, pull requests merged in 2023-08, with the labels that each got.

#1482 Update Synology.md
  docs/Hardlinks/How-to-setup-for/Synology.md
Labels: Area: Backend, Area: Synology

#1477 feat(guide): add Deluge Downloader guide
  docs/Downloaders/Deluge/.pages
  docs/Downloaders/Deluge/Basic-Setup.md
  docs/Downloaders/Deluge/Deluge-Basic-Setup.md
  docs/Downloaders/Deluge/Deluge-how-to-add-labels.md
  docs/Downloaders/Deluge/Port-Forwarding.md
  docs/Downloaders/Deluge/Tips.md
  docs/Downloaders/Deluge/Using-Labels.md
  docs/Downloaders/Deluge/images/Deluge-about.png
  docs/Downloaders/Deluge/images/Deluge-bandwidth-settings.png
  docs/Downloaders/Deluge/images/Deluge-download-settings.png
  docs/Downloaders/Deluge/images/Deluge-globalbw-settings.png
  docs/Downloaders/Deluge/images/Deluge-goals-rotation.png
  docs/Downloaders/Deluge/images/Deluge-goals-settings.png
  docs/Downloaders/Deluge/images/Deluge-label-add.png
  docs/Downloaders/Deluge/images/Deluge-label-bw.png
  docs/Downloaders/Deluge/images/Deluge-label-folders.png
  docs/Downloaders/Deluge/images/Deluge-network-extras-public.png
  docs/Downloaders/Deluge/images/Deluge-network-extras-upnp.png
  docs/Downloaders/Deluge/images/Deluge-network-extras.png
  docs/Downloaders/Deluge/images/Deluge-network-settings.png
  docs/Downloaders/Deluge/images/Deluge-plugin-settings.png
  docs/Downloaders/Deluge/images/Deluge-port-forwarding.png
  docs/Downloaders/Deluge/images/Deluge-queue-settings.png
  docs/Downloaders/Deluge/images/Deluge-tc-connman.png
  docs/Downloaders/Deluge/images/Deluge-tc-daemon.png
  docs/Downloaders/Deluge/images/Deluge-tc-settings.png
  docs/Downloaders/Deluge/images/Deluge-torrentbw-settings.png
  docs/Downloaders/Deluge/index.md
  includes/downloaders/warning-path-location.md
Labels: Area: Downloaders

#1492 Add Quality Profile feature set to the Guide Sync page
  docs/Guide-Sync/index.md
Labels: Area: Backend

#1504 feat(sonarr): add SuccessfulCrab to Scene CF and Guide
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/sonarr/cf/scene.json
  docs/json/sonarr/rp/optionals.json
Labels: Area: Sonarr, Area: Starr Custom Formats

#1494 new(guide): Add mkdocs install & preview instructions to CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  docs/Bazarr/scripts/index.md
Labels: Area: Bazarr, Status: Conflicted, Do Not Merge

#1508 feat(starr): update LQ CF and Sonarr v3 LQ RP
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/radarr/cf/lq.json
  docs/json/sonarr/cf/lq.json
  docs/json/sonarr/rp/lqGroups.json
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1506 fix(sqp-1): boost audio scores DD, DDP and DDPA
  docs/json/radarr/cf/dd.json
  docs/json/radarr/cf/ddplus-atmos.json
  docs/json/radarr/cf/ddplus.json
  includes/sqp/1-cf-scoring.md
Labels: Area: Radarr, Area: Starr Custom Formats

#1510 fix(radarr): 24xHD regex in LQ CF
  docs/json/radarr/cf/lq.json
Labels: Area: Radarr, Area: Starr Custom Formats

#1512 fix(radarr): update flowchart for `SQP-1`
  docs/Radarr/images/flowchart-sqp-1.png
Labels: Area: Radarr

#1511 fix(sonarr): correct word boundary for versions regex
  docs/Sonarr/Sonarr-Release-Profile-RegEx-Anime.md
  docs/json/sonarr/rp/visorakAnimeTwo.json
Labels: Area: Sonarr, Area: Anime

#1513 fix(sabnzbd) sabnzbd documentation updates
  docs/Downloaders/SABnzbd/Basic-Setup.md
  docs/Downloaders/SABnzbd/images/sabnzbd-switches-post-processing.png
Labels: Area: Downloaders

#1522 docs(qbittorrent): Added Qbitrr as a 3rd party tool
  docs/Downloaders/qBittorrent/3rd-party-tools.md
Labels: Area: Downloaders

#1521 feat(starr-fr): French Guide Update
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/radarr/cf/2160p.json
  docs/json/radarr/cf/dv-fel.json
  docs/json/radarr/cf/dv-hdr10.json
  docs/json/radarr/cf/dv-hlg.json
  docs/json/radarr/cf/dv-sdr.json
  docs/json/radarr/cf/dv-webdl.json
  docs/json/radarr/cf/dv.json
  docs/json/radarr/cf/french-scene.json
  docs/json/radarr/cf/french-web-tier-01.json
  docs/json/radarr/cf/french-web-tier-02.json
  docs/json/radarr/cf/hdr-undefined.json
  docs/json/radarr/cf/hdr.json
  docs/json/radarr/cf/hdr10.json
  docs/json/radarr/cf/hdr10plus-boost.json
  docs/json/radarr/cf/hdr10plus.json
  docs/json/radarr/cf/hlg.json
  docs/json/radarr/cf/pq.json
  docs/json/radarr/cf/sdr.json
  docs/json/radarr/cf/sic.json
  docs/json/radarr/cf/x265-no-hdrdv.json
  docs/json/sonarr/cf/2160p.json
  docs/json/sonarr/cf/dv-fel.json
  docs/json/sonarr/cf/dv-hdr10.json
  docs/json/sonarr/cf/dv-hlg.json
  docs/json/sonarr/cf/dv-sdr.json
  docs/json/sonarr/cf/dv-webdl.json
  docs/json/sonarr/cf/dv.json
  docs/json/sonarr/cf/french-anime-tier-02.json
  docs/json/sonarr/cf/french-anime-tier-03.json
  docs/json/sonarr/cf/french-scene.json
  docs/json/sonarr/cf/french-web-tier-01.json
  docs/json/sonarr/cf/french-web-tier-02.json
  docs/json/sonarr/cf/hdr-undefined.json
  docs/json/sonarr/cf/hdr.json
  docs/json/sonarr/cf/hdr10.json
  docs/json/sonarr/cf/hdr10plus-boost.json
  docs/json/sonarr/cf/hdr10plus.json
  docs/json/sonarr/cf/hlg.json
  docs/json/sonarr/cf/pq.json
  docs/json/sonarr/cf/sdr.json
  docs/json/sonarr/cf/x265-no-hdrdv.json
  docs/json/sonarr/rp/optionals.json
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1533 fix(radarr): add rlsgrp `41RGB` to `LQ`
  docs/json/radarr/cf/lq.json
Labels: Area: Radarr, Area: Starr Custom Formats

#1531 fix(french-starr): Update Multi-Audio CF
  docs/json/radarr/cf/multi-audio.json
  docs/json/sonarr/cf/multi-audio.json
Labels: Type: Enhancement, Area: Sonarr, Area: Radarr, Area: Starr Custom Formats, Area: French

#1529 fix(radarr): SQP-1 workflow sentence if limited sources
  includes/sqp/1-workflow.md
Labels: Area: Radarr

#1534 fix(starr): remove rlsgrp `CtrlHD` from CF `TrueHD Atmos`
  docs/json/radarr/cf/truehd-atmos.json
  docs/json/sonarr/cf/truehd-atmos.json
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1520 fix(starr): Match anime scores between docs and JSON
  docs/json/radarr/cf/french-vostfr.json
  docs/json/sonarr/cf/av1.json
  includes/cf/radarr-anime.md
  includes/cf/sonarr-anime.md
  includes/cf/sonarr-streaming-services-anime.md
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats
