Repository TRaSH-Guides/Guides, pull requests merged in 2023-09, with the labels that each got.

#1537 feat(radarr): Add MainFrame to UHD Bluray Tier 02
  docs/json/radarr/cf/uhd-bluray-tier-02.json
Labels: Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Starr Custom Formats

#1539 fix(radarr): Word boundaries not applying to 3d regex
  docs/json/radarr/cf/3d.json
Labels: Area: Radarr, Area: Starr Custom Formats

#1527 Docs/qbittorrent qbitrr new 3rd party tool
  docs/Downloaders/qBittorrent/3rd-party-tools.md
Labels: Area: Downloaders

#1543 fix(radarr): explain how original language is determined
  docs/Radarr/Tips/How-to-setup-language-custom-formats.md
Labels: Area: Radarr

#1549 fix(radarr): copy /paste error in naming scheme
  docs/json/radarr/naming/radarr-naming.json
Labels: Area: Radarr, Area: Starr Naming

#1553 fix(starr): Remove RlsGrps from CF TrueHD and TrueHD Atmos
  docs/json/radarr/cf/atmos-undefined.json
  docs/json/radarr/cf/truehd-atmos.json
  docs/json/radarr/cf/truehd.json
  docs/json/sonarr/cf/atmos-undefined.json
  docs/json/sonarr/cf/truehd-atmos.json
  docs/json/sonarr/cf/truehd.json
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1554 fix(starr): inaccurate Pahe regex
  docs/json/radarr/cf/lq.json
  docs/json/sonarr/cf/lq.json
  docs/json/sonarr/rp/lqGroups.json
Labels: Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1555 feat(guides): revise truenas core NFSv4 section
  docs/Hardlinks/How-to-setup-for/TrueNAS-Core.md
Labels: Area: Backend

#1557 feat(radarr): add jennaortega to LQ CF
  docs/json/radarr/cf/lq.json
Labels: Type: Enhancement, Area: Radarr, Area: Starr Custom Formats

#1560 fix(starr): DTS-HD MA regex and add example
  docs/json/radarr/cf/dts-hd-ma.json
  docs/json/radarr/cf/dts.json
  docs/json/sonarr/cf/dts-hd-ma.json
  docs/json/sonarr/cf/dts.json
Labels: Type: Enhancement, Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1561 fix(guide): tmp fix for emby naming scheme
  docs/Radarr/Radarr-recommended-naming-scheme.md
  docs/Sonarr/Sonarr-recommended-naming-scheme.md
  docs/json/radarr/naming/radarr-naming.json
  docs/json/sonarr/naming/sonarr-naming.json
Labels: Area: Sonarr, Area: Radarr, Area: Starr Naming

#1562 feat(sonarr): add d3g to LQ
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/sonarr/cf/lq.json
  docs/json/sonarr/rp/lqGroups.json
Labels: Type: Enhancement, Area: Sonarr, Area: Starr Custom Formats

#1565 fix(guides): Add Extras CF to Radarr HD/UHD unwanted
  docs/updates.txt
  includes/cf/radarr-unwanted-uhd.md
  includes/cf/radarr-unwanted.md
Labels: Status: Review Needed, Type: Guide Request

#1566 fix(guides): Add Extras CF to Radarr Collection of Custom Formats
  docs/Radarr/Radarr-collection-of-custom-formats.md
Labels: Type: Bug, Status: Review Needed, Area: Radarr

#1575 feat(guides): SQP-1 score change for DTS-ES Custom Format
  docs/json/radarr/cf/dts-es.json
  includes/sqp/1-4k-cf-scoring-sqp1.md
  includes/sqp/1-cf-scoring.md
Labels: Status: Review Needed, Area: Radarr, Area: Starr Custom Formats

#1567 docs(mover): Add Python venv method
  docs/Downloaders/qBittorrent/Tips/How-to-run-the-unRaid-mover-for-qBittorrent.md
Labels: Area: Downloaders

#1576 Update features list for Recyclarr
  docs/Guide-Sync/index.md
Labels: Area: Backend
