Repository TRaSH-Guides/Guides, pull requests merged in 2023-07, with the labels that each got.

#1428 style(sonarr): fixed formatting to prevent confusion
  docs/Sonarr/sonarr-setup-quality-profiles.md
  includes/cf/sonarr-optional-uhd.md
  includes/cf/sonarr-uhd-streaming-services.md
  includes/cf/sonarr-unwanted-uhd.md
Labels: Area: Sonarr

#1429 feat(starr): added streaming service `Crave`
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/crav.json
  docs/json/sonarr/cf/crav.json
  docs/updates.txt
  includes/cf/radarr-streaming-services.md
  includes/cf/sonarr-streaming-services.md
  includes/cf/sonarr-uhd-streaming-services.md
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1432 fix(sonarr): CRAV streaming service score
  docs/json/sonarr/cf/crav.json
  includes/cf/sonarr-streaming-services.md
  includes/cf/sonarr-uhd-streaming-services.md
Labels: Type: Bug, Status: Review Needed, Area: Sonarr, Area: Starr Custom Formats

#1433 Update Synology.md
  docs/Hardlinks/How-to-setup-for/Synology.md
Labels: Area: Backend

#1434 Update Synology.md
  docs/Hardlinks/How-to-setup-for/Synology.md
Labels: Area: Backend

#1436 fixup! fix(backed): Synology docker iptables-fix.sh (#1435)
  docs/Hardlinks/How-to-setup-for/Synology.md
Labels: Area: Backend

#1437 fix(Sonarr): Updated WEB Scene score and some V3 guide updates
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/sonarr/cf/web-scene.json
  docs/updates.txt
  includes/cf/sonarr-hq-source-group.md
Labels: Status: Review Needed, Area: Sonarr, Area: Starr Custom Formats

#1440 Feat/update anime raws
  docs/json/radarr/cf/anime-raws.json
  docs/json/sonarr/cf/anime-raws.json
  docs/updates.txt
Labels: Type: Enhancement, Area: Sonarr, Area: Radarr, Area: Starr Custom Formats, Area: Anime

#1441 Feat/arrs ovid streaming service
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/ovid.json
  docs/json/sonarr/cf/ovid.json
  docs/updates.txt
  includes/cf/radarr-streaming-services.md
  includes/cf/sonarr-streaming-services.md
  includes/cf/sonarr-uhd-streaming-services.md
Labels: Type: Enhancement, Area: Sonarr, Area: Radarr, Area: Starr Custom Formats

#1442 Update sonarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Type: Bug, Area: Sonarr

#1443 chore(backend): update torguard network list
  docs/Misc/How-to-setup-Torguard-for-port-forwarding.md
  docs/Misc/images/torguard/globalvpnnetwork-list.png
Labels: Area: Backend

#1447 VISIONPLUSHDR + re-grade
  docs/json/radarr/cf/lq.json
  docs/json/radarr/cf/upscaled.json
Labels: Area: Radarr, Area: Starr Custom Formats

#1448 chore(backend): updated torguard affiliate code
  docs/Misc/How-to-setup-Torguard-for-port-forwarding.md
Labels: Area: Backend

#1450 fix(starr): Update EZTV regex
  docs/Downloaders/NZBGet/scripts/Clean/Clean.py
  docs/Downloaders/SABnzbd/scripts/Clean/Clean.py
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/radarr/cf/french-lq.json
  docs/json/radarr/cf/retags.json
  docs/json/sonarr/cf/french-lq.json
  docs/json/sonarr/cf/retags.json
  docs/json/sonarr/rp/optionals.json
Labels: Area: python, Area: Sonarr, Area: Radarr, Area: Downloaders, Area: Starr Custom Formats

#1444 fix(radarr): Update UHD Bluray Tier scores
  docs/json/radarr/cf/uhd-bluray-tier-01.json
  docs/json/radarr/cf/uhd-bluray-tier-02.json
  docs/json/radarr/cf/uhd-bluray-tier-03.json
  docs/updates.txt
  includes/sqp/1-4k-cf-scoring-sqp1.md
  includes/sqp/1-4k-cf-scoring.md
  includes/sqp/1-cf-scoring.md
  includes/sqp/2-cf-scoring.md
  includes/sqp/5-cf-scoring.md
  includes/sqp/uhd-radarr-misc.md
  includes/sqp/uhd-radarr-resolution.md
Labels: Status: Confirmed, Status: In Progress, Area: Radarr, Area: Starr Custom Formats

#1451 feat(starr): Add KQRM to Anime LQ Groups
  docs/json/radarr/cf/anime-lq-groups.json
  docs/json/sonarr/cf/anime-lq-groups.json
Labels: Area: Sonarr, Area: Radarr, Area: Starr Custom Formats, Area: Anime

#1454 feat(anime): updates to scoring for guides
  docs/Radarr/images/cfa-complete.png
  docs/Radarr/images/cfa-default-scoring.png
  docs/updates.txt
  includes/cf/radarr-anime.md
  includes/cf/sonarr-anime.md
Labels: Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Anime

#1457 feat(radarr-fr): Added ONLYMOViE to FR WEB Tier 02
  docs/json/radarr/cf/french-web-tier-02.json
Labels: Area: Radarr, Area: Starr Custom Formats

#1458 fix(radarr-fr): Updated score in both FR UHD Tier 01 and 02 to follow original guide
  docs/json/radarr/cf/french-uhd-bluray-tier-01.json
  docs/json/radarr/cf/french-uhd-bluray-tier-02.json
Labels: Area: Radarr, Area: Starr Custom Formats

#1459 fix(sonarr-fr): Update the French guide
  docs/Sonarr/sonarr-setup-quality-profiles-french-en.md
  docs/Sonarr/sonarr-setup-quality-profiles-french-fr.md
  includes/cf/sonarr-unwanted-uhd.md
  includes/cf/sonarr-unwanted.md
  includes/french-guide/sonarr-french-streaming-services-anime-en.md
  includes/french-guide/sonarr-french-streaming-services-anime-fr.md
  includes/french-guide/sonarr-french-unwanted-en.md
  includes/french-guide/sonarr-french-unwanted-fr.md
  includes/french-guide/sonarr-french-unwanted-uhd-en.md
  includes/french-guide/sonarr-french-unwanted-uhd-fr.md
Labels: Status: Review Needed, Area: Sonarr

#1471 fix(sonarr): sync RP json with the guide regexes
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/sonarr/rp/p2pRepackProper.json
  docs/json/sonarr/rp/streaming.json
Labels: Status: Review Needed, Area: Sonarr

#1478 fix(guides): jdupes speedup
  docs/Hardlinks/Replace-copies-with-hardlinks.md
Labels: Area: Backend

#1465 fix(guides): unRaid mover for qBittorent
  docs/Downloaders/qBittorrent/Tips/How-to-run-the-unRaid-mover-for-qBittorrent.md
  docs/Downloaders/qBittorrent/Tips/images/Unraid-settings-user-scripts-qbit-api.png
Labels: Area: Downloaders
