Repository TRaSH-Guides/Guides, pull requests merged in 2024-04, with the labels that each got.

#1872 feat(sonarr): Update Season Pack CF and guide
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/sonarr/cf/season-pack-spec.json
  docs/json/sonarr/cf/season-pack.json
Labels: Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#1864 fix(starr): TheUpscaler not matching
  docs/json/radarr/cf/upscaled.json
  docs/json/sonarr/cf/upscaled.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1863 fix(starr): DTS-X CF mismatching
  docs/json/radarr/cf/dts-es.json
  docs/json/radarr/cf/dts-hd-hra.json
  docs/json/radarr/cf/dts-hd-ma.json
  docs/json/radarr/cf/dts-x.json
  docs/json/radarr/cf/dts.json
  docs/json/radarr/cf/truehd-atmos.json
  docs/json/sonarr/cf/dts-es.json
  docs/json/sonarr/cf/dts-hd-hra.json
  docs/json/sonarr/cf/dts-hd-ma.json
  docs/json/sonarr/cf/dts-x.json
  docs/json/sonarr/cf/dts.json
  docs/json/sonarr/cf/truehd-atmos.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1868 feat(guide): New Plex Guide what does my media player support
  docs/Plex/.pages
  docs/Plex/what-does-my-media-player-support.md
  docs/Radarr/images/plex-audio-atv.png
  docs/Radarr/radarr-setup-quality-profiles.md
  docs/Sonarr/sonarr-setup-quality-profiles.md
  mkdocs.yml
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Plex

#1876 feat(Synology): Simplify Synology Guide
  docs/Hardlinks/How-to-setup-for/Synology.md
Labels: Area: Backend

#1878 fix(guide): Fix Optional UHD include error
  includes/cf/radarr-optional-uhd.md
  includes/cf/sonarr-optional-uhd.md
Labels: Area: Backend

#1879 update(imax-descriptions): language and descriptions around imax(e)
  docs/Radarr/Radarr-collection-of-custom-formats.md
  includes/cf-descriptions/bcore.md
  includes/sqp/2-workflow.md
  includes/sqp/3-workflow.md
  includes/sqp/4-why.md
  includes/sqp/4-workflow.md
  includes/sqp/5-workflow.md
Labels: Area: Radarr, Area: Backend

#1881 ci(pr-name-check): integrates pr naming convention into workflow
  .github/workflows/pr-naming-check.yml
Labels: Area: github_actions, Area: Backend

#1884 update(sonarr): remove NERO from LQ
  docs/json/sonarr/cf/lq.json
Labels: Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#1887 fix(starr): Prevent double scoring `DD+` and `DD+ Atmos`
  docs/json/radarr/cf/ddplus.json
  docs/json/sonarr/cf/ddplus.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1889 fix(guide): unRAID Mover and qBittorrent - Remove option to edit script for mover.old
  docs/Downloaders/qBittorrent/Tips/How-to-run-the-unRaid-mover-for-qBittorrent.md
Labels: Area: Backend, Area: Downloaders

#1660 feat(backend): Add Quality Profile JSON Files for Use by Guide Sync Tools
  docs/json/radarr/cf-groups/advanced-audio-formats.json
  docs/json/radarr/cf-groups/hdr-formats.json
  docs/json/radarr/cf-groups/optional-uhd.json
  docs/json/radarr/cf-groups/optional.json
  docs/json/radarr/cf-groups/sqp-1-1080p-optional.json
  docs/json/radarr/cf-groups/sqp-1-2160p-optional.json
  docs/json/radarr/cf-groups/sqp-2-3-4-5-optional.json
  docs/json/radarr/quality-profiles/hd-bluray-web.json
  docs/json/radarr/quality-profiles/remux-web-1080p.json
  docs/json/radarr/quality-profiles/remux-web-2160p.json
  docs/json/radarr/quality-profiles/sqp-1-1080p.json
  docs/json/radarr/quality-profiles/sqp-1-2160p.json
  docs/json/radarr/quality-profiles/sqp-2.json
  docs/json/radarr/quality-profiles/sqp-3.json
  docs/json/radarr/quality-profiles/sqp-4.json
  docs/json/radarr/quality-profiles/sqp-5.json
  docs/json/radarr/quality-profiles/uhd-bluray-web.json
  docs/json/sonarr/cf-groups/advanced-audio-formats.json
  docs/json/sonarr/cf-groups/hdr-formats.json
  docs/json/sonarr/cf-groups/optional-uhd.json
  docs/json/sonarr/cf-groups/optional.json
  docs/json/sonarr/quality-profiles/web-1080p.json
  docs/json/sonarr/quality-profiles/web-2160p.json
  metadata.json
  metadata.schema.json
Labels: Type: Enhancement, Status: Review Needed, Area: Backend

#1899 fix(starr): match `AC-3` as `DD`
  docs/json/radarr/cf/aac.json
  docs/json/radarr/cf/anime-bd-tier-03-seadex-muxers.json
  docs/json/radarr/cf/atmos-undefined.json
  docs/json/radarr/cf/dd.json
  docs/json/radarr/cf/ddplus-atmos.json
  docs/json/radarr/cf/ddplus.json
  docs/json/radarr/cf/dts-es.json
  docs/json/radarr/cf/dts-hd-hra.json
  docs/json/radarr/cf/dts-hd-ma.json
  docs/json/radarr/cf/dts-x.json
  docs/json/radarr/cf/dts.json
  docs/json/radarr/cf/flac.json
  docs/json/radarr/cf/pcm.json
  docs/json/radarr/cf/truehd-atmos.json
  docs/json/radarr/cf/truehd.json
  docs/json/sonarr/cf/aac.json
  docs/json/sonarr/cf/anime-bd-tier-03-seadex-muxers.json
  docs/json/sonarr/cf/atmos-undefined.json
  docs/json/sonarr/cf/dd.json
  docs/json/sonarr/cf/ddplus-atmos.json
  docs/json/sonarr/cf/ddplus.json
  docs/json/sonarr/cf/dts-es.json
  docs/json/sonarr/cf/dts-hd-hra.json
  docs/json/sonarr/cf/dts-hd-ma.json
  docs/json/sonarr/cf/dts-x.json
  docs/json/sonarr/cf/dts.json
  docs/json/sonarr/cf/flac.json
  docs/json/sonarr/cf/pcm.json
  docs/json/sonarr/cf/truehd-atmos.json
  docs/json/sonarr/cf/truehd.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1898 style(Bazarr): add missing (Sonarr) for Bazarr Setup-Guide.md
  docs/Bazarr/Setup-Guide.md
Labels: Area: Backend, Area: Bazarr

#1895 update(cf/hbomax): adds capturing hbomax (without separator)
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/json/radarr/cf/hmax.json
  docs/json/sonarr/cf/hmax.json
  docs/json/sonarr/cf/uhd-streaming-cut.json
  docs/json/sonarr/rp/streaming.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1903 feat(anime): updates to CFs
  docs/json/radarr/cf/anime-bd-tier-06-fansubs.json
  docs/json/radarr/cf/anime-web-tier-02-top-fansubs.json
  docs/json/radarr/cf/dubs-only.json
  docs/json/sonarr/cf/anime-bd-tier-06-fansubs.json
  docs/json/sonarr/cf/anime-web-tier-02-top-fansubs.json
  docs/json/sonarr/cf/dubs-only.json
Labels: Type: Enhancement, Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Area: Anime

#1906 chore(guide): fix exposed comment due to space after `!`
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1902 update(syno/compose): add prowlarr to default
  docs/Hardlinks/How-to-setup-for/Synology.md
Labels: Area: Backend
