Repository TRaSH-Guides/Guides, pull requests merged in 2024-07, with the labels that each got.

#1999 fix(Revert): "fix(starr): Moved webdl and webrip into Amazon regex to prevent incorrect matches"
  docs/json/radarr/cf/amzn.json
  docs/json/sonarr/cf/amzn.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2000 fix(Revert): "chore(starr): Improve streaming service CFs"
  docs/json/radarr/cf/atvp.json
  docs/json/radarr/cf/crav.json
  docs/json/radarr/cf/dsnp.json
  docs/json/radarr/cf/fod.json
  docs/json/radarr/cf/hbo.json
  docs/json/radarr/cf/hmax.json
  docs/json/radarr/cf/htsr.json
  docs/json/radarr/cf/ip.json
  docs/json/radarr/cf/it.json
  docs/json/radarr/cf/itvx.json
  docs/json/radarr/cf/max.json
  docs/json/radarr/cf/ovid.json
  docs/json/radarr/cf/pcok.json
  docs/json/radarr/cf/pmtp.json
  docs/json/radarr/cf/stan.json
  docs/json/radarr/cf/tver.json
  docs/json/radarr/cf/u-next.json
  docs/json/sonarr/cf/4od.json
  docs/json/sonarr/cf/all4.json
  docs/json/sonarr/cf/atvp.json
  docs/json/sonarr/cf/bglobal.json
  docs/json/sonarr/cf/bilibili.json
  docs/json/sonarr/cf/cc.json
  docs/json/sonarr/cf/cr.json
  docs/json/sonarr/cf/crav.json
  docs/json/sonarr/cf/dcu.json
  docs/json/sonarr/cf/dsnp.json
  docs/json/sonarr/cf/fod.json
  docs/json/sonarr/cf/french-adn.json
  docs/json/sonarr/cf/french-canalplus.json
  docs/json/sonarr/cf/french-rtbf.json
  docs/json/sonarr/cf/french-salto.json
  docs/json/sonarr/cf/french-wkn.json
  docs/json/sonarr/cf/funi.json
  docs/json/sonarr/cf/hbo.json
  docs/json/sonarr/cf/hidive.json
  docs/json/sonarr/cf/hmax.json
  docs/json/sonarr/cf/htsr.json
  docs/json/sonarr/cf/ip.json
  docs/json/sonarr/cf/it.json
  docs/json/sonarr/cf/itvx.json
  docs/json/sonarr/cf/max.json
  docs/json/sonarr/cf/nlz.json
  docs/json/sonarr/cf/ovid.json
  docs/json/sonarr/cf/pcok.json
  docs/json/sonarr/cf/pmtp.json
  docs/json/sonarr/cf/red.json
  docs/json/sonarr/cf/sho.json
  docs/json/sonarr/cf/stan.json
  docs/json/sonarr/cf/tver.json
  docs/json/sonarr/cf/u-next.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1994 feat(guides): Add Lidarr redirect to Davo's Community Lidarr Guide
  docs/.pages
  docs/Lidarr/index.md
Labels: Area: Backend

#2005 feat(ci): automatic changelog
  .github/scripts/update-changelog.sh
  .github/workflows/automatic-changelog.yml
Labels: Area: github_actions, Area: Backend

#2006 fix(ci): remove unnecessary chmod
  .github/workflows/automatic-changelog.yml
Labels: Area: github_actions, Area: Backend

#2010 feat(sonarr): add OFT to LQ CF
  docs/json/sonarr/cf/lq.json
Labels: Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#2004 feat(Guide): Add exFAT hardlink limitation to hardlinks guide
  docs/Hardlinks/Check-if-hardlinks-are-working.md
  docs/Hardlinks/Hardlinks-and-Instant-Moves.md
Labels: Area: Backend

#2011 feat(starr-anime): add several RlsGrps to LQ
  docs/json/radarr/cf/anime-lq-groups.json
  docs/json/sonarr/cf/anime-lq-groups.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Area: Anime

#2012 feat(starr-anime): add Shiniori-Raws to Anime Raws CF
  docs/json/radarr/cf/anime-raws.json
  docs/json/sonarr/cf/anime-raws.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Area: Anime

#2015 feat(Radarr): Add PTer to Radarr UHD Bluray Tier 03
  docs/json/radarr/cf/uhd-bluray-tier-03.json
Labels: Status: Review Needed, Area: Radarr, Area: Starr Custom Formats

#2023 feat(guide): Add Groups to LQ
  docs/json/radarr/cf/lq-release-title.json
  docs/json/radarr/cf/lq.json
  docs/json/sonarr/cf/lq.json
Labels: Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Type: Guide Request

#2019 fix(starr): Upscaled CF not matching on certain naming
  docs/json/radarr/cf/upscaled.json
  docs/json/sonarr/cf/upscaled.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2017 feat(sonarr): add SYFY streaming network
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/sonarr/cf/syfy.json
  docs/json/sonarr/quality-profiles/web-1080p.json
  docs/json/sonarr/quality-profiles/web-2160p.json
  includes/cf-descriptions/syfy.md
  includes/cf/sonarr-streaming-services.md
  includes/cf/sonarr-uhd-streaming-services.md
Labels: Type: Enhancement, Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#2025 update(downloaders/deluge): clarify process of setting up thin-client
  docs/Downloaders/Deluge/Tips/Thin-Client.md
Labels: Area: Backend, Area: Downloaders
