Repository TRaSH-Guides/Guides, pull requests merged in 2024-10, with the labels that each got.

#2083 fix(guide): label check hardlink methods & add windows method fsutil
  docs/Hardlinks/Check-if-hardlinks-are-working.md
Labels: Area: Backend

#2091 feat(guide): Move RlsGrp `Kitsune` from `WEB Tier 02` to `WEB Tier 01`
  docs/json/radarr/cf/web-tier-01.json
  docs/json/radarr/cf/web-tier-02.json
  docs/json/sonarr/cf/web-tier-01.json
  docs/json/sonarr/cf/web-tier-02.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2089 feat(guide): Downloaders - Add SABnzb cleanup list to prevent unwanted extensions
  docs/Downloaders/SABnzbd/Basic-Setup.md
Labels: Area: Backend, Area: Downloaders

#2092 feat(guide): Add streaming service `MY5`
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/my5.json
  docs/json/sonarr/cf/my5.json
  includes/cf-descriptions/my5.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2093 feat(guide): Downloaders - Improve SABnzbd Blacklist
  docs/Downloaders/SABnzbd/Basic-Setup.md
  docs/Downloaders/SABnzbd/images/sabnzbd-switches-queue-unwanted.png
Labels: Area: Backend, Area: Downloaders

#2100 style(Radarr): Fixed Spelling Issue
  docs/Radarr/Radarr-collection-of-custom-formats.md
Labels: Area: Radarr, Area: Backend

#2106 fix(guides): Add missing HDR10+ Boost and DV HDR10+ Boost custom formats to profile JSONs
  docs/json/radarr/cf-groups/misc-uhd-optional.json
  docs/json/radarr/cf-groups/sqp-2-3-4-5-misc-optional.json
Labels: Status: Confirmed, Type: Bug, Status: Review Needed, Area: Backend

#2110 feat(guide): Starr - Add Streaming Services `CBC` (Canada) Custom Format
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/cbc.json
  docs/json/sonarr/cf/cbc.json
  includes/cf-descriptions/cbc.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2112 feat(guide): Prowlarr - Add FlareSolverr info and broken banner
  docs/Prowlarr/prowlarr-setup-flaresolverr.md
Labels: Area: Backend, Area: Prowlarr

#2113 feat(guide): Unraid - Make certain steps clearer and add a few tips
  docs/File-and-Folder-Structure/How-to-set-up/Unraid.md
  docs/File-and-Folder-Structure/How-to-set-up/images/unraid-docker-click-edit.png
  docs/File-and-Folder-Structure/How-to-set-up/images/unraid-docker-enable-advanced-view.png
Labels: Area: Backend

#2096 feat(guide-sync): notifiarr profile support
  docs/Guide-Sync/index.md
Labels: Type: Enhancement, Area: Backend, Type: Guide Request

#2121 fix(sonarr): Add Bluray-576p quality filesize settings for Anime
  docs/Sonarr/Sonarr-Quality-Settings-File-Size.md
  docs/json/sonarr/quality-size/anime.json
Labels: Area: Sonarr, Area: Backend
