Repository TRaSH-Guides/Guides, pull requests merged in 2024-09, with the labels that each got.

#2048 feat(guide): Hardlinks FAQ - Always show the limitations
  docs/Hardlinks/Hardlinks-and-Instant-Moves.md
Labels: Area: Backend

#2049 feat(guide): Hardlinks - File and Folder Structure for Windows
  docs/Hardlinks/How-to-setup-for/Windows.md
  docs/Hardlinks/How-to-setup-for/index.md
Labels: Area: Backend

#2054 feat(starr-anime): Add Korean to Anime Dual Audio
  docs/json/radarr/cf/anime-dual-audio.json
  docs/json/sonarr/cf/anime-dual-audio.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2055 Revert "feat(starr-anime): Add Korean to Anime Dual Audio"
  docs/json/radarr/cf/anime-dual-audio.json
  docs/json/sonarr/cf/anime-dual-audio.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2057 feat(starr-anime): Add Korean to Anime Dual Audio
  docs/json/radarr/cf/anime-dual-audio.json
  docs/json/sonarr/cf/anime-dual-audio.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2056 ci: prevent mkdocs macro issue
  .github/workflows/mkdocs_bug_prevent.yml
Labels: Area: github_actions, Area: Backend

#2062 fix(guide): Radarr flowchart audio issue
  docs/Radarr/images/flowchart-quality-profiles-radarr.png
Labels: Area: Radarr, Area: Backend

#2065 fix(guides): Adjust movie versions json files to make each individual custom format non-required (2/2)
  docs/json/radarr/cf-groups/movie-versions.json
Labels: Area: Backend

#2059 feat(guides): Create New Definitions Page
  docs/.pages
  docs/Glossary/.pages
  docs/Glossary/index.md
Labels: Type: Enhancement, Status: Review Needed, Area: Backend

#2067 feat(starr-anime): Add AsukaRaws to Anime Raws
  docs/json/radarr/cf/anime-raws.json
  docs/json/sonarr/cf/anime-raws.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2070 fix(guide): Glossary formatting and broken links
  docs/Glossary/index.md
Labels: Area: Backend

#2069 fix(sonarr): update comparison logic
  includes/merge-quality/sonarr-current-logic.md
Labels: Area: Backend

#2074 feat(guide): Add information to the port forwarding guide
  docs/Downloaders/Deluge/Port-Forwarding.md
  docs/Downloaders/qBittorrent/Port-forwarding.md
  includes/downloaders/port-forwarding.md
Labels: Area: Backend, Area: Downloaders

#2076 feat(guide): Add Bluray to Sonarr quality profile as an alternative
  docs/Sonarr/images/cf-profile-alternative-web1080.png
  docs/Sonarr/images/cf-profile-alternative-web2160.png
  docs/Sonarr/sonarr-setup-quality-profiles.md
Labels: Area: Sonarr, Area: Backend

#2078 fix(guides): NerdTools is deprecated so guidance needs updating
  docs/Downloaders/Deluge/Tips/Unraid-Mover.md
  docs/Downloaders/qBittorrent/Tips/How-to-run-the-unRaid-mover-for-qBittorrent.md
  includes/downloaders/nerdtools-replacement-package-slackware.md
Labels: Area: Backend, Area: Downloaders

#2079 fix(guide): Downloaders - Improve Slackware instructions.
  docs/Downloaders/Deluge/Tips/images/slackware-search-v15.png
  docs/Downloaders/Deluge/Tips/images/slackware-search-v16.png
  docs/Downloaders/qBittorrent/Tips/images/slackware-search-v15.png
  docs/Downloaders/qBittorrent/Tips/images/slackware-search-v16.png
  includes/downloaders/nerdtools-replacement-package-slackware.md
Labels: Area: Backend, Area: Downloaders

#2080 feat(guide): Downloaders - Added plugin instructions for Python installation.
  docs/Downloaders/Deluge/Tips/images/unraid-app-python.png
  docs/Downloaders/qBittorrent/Tips/images/unraid-app-python.png
  includes/downloaders/nerdtools-replacement-package-slackware.md
Labels: Area: Backend, Area: Downloaders
