Repository TRaSH-Guides/Guides, pull requests merged in 2024-08, with the labels that each got.

#2034 fix(guide): qBit Mover - Add info to use qBt WebGUI port
  docs/Downloaders/qBittorrent/Tips/How-to-run-the-unRaid-mover-for-qBittorrent.md
Labels: Area: Backend, Area: Downloaders

#2040 feat(starr-anime): add Moozzi2 and Reinforce to Anime Raws CF
  docs/json/radarr/cf/anime-lq-groups.json
  docs/json/radarr/cf/anime-raws.json
  docs/json/sonarr/cf/anime-lq-groups.json
  docs/json/sonarr/cf/anime-raws.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2042 update(hardlinks/jdupes): include hashdb feature and expand on installation and usage
  docs/Hardlinks/Replace-copies-with-hardlinks.md
Labels: Area: Backend

#2046 update(docs/contributing): reference updated installation instructions for mkdocs container
  CONTRIBUTING.md
Labels: Area: Backend

#2039 fix(radarr): Increase preferred and maximum Radarr quality definition sizes
  docs/json/radarr/quality-size/movie.json
  docs/json/radarr/quality-size/sqp-uhd.json
Labels: Status: Confirmed, Area: Radarr, Area: Backend

#2037 fix(sonarr): Increase preferred and maximum Sonarr quality definition sizes
  docs/json/sonarr/quality-size/anime.json
  docs/json/sonarr/quality-size/series.json
Labels: Status: Confirmed, Area: Sonarr, Area: Backend

#2047 fix(bazarr): inconsistent headers
  docs/Bazarr/index.md
Labels: Area: Backend, Area: Bazarr
