Repository TRaSH-Guides/Guides, pull requests merged in 2024-12, with the labels that each got.

#2143 fix(backend): Add missing sqp-1-web-1080p scores to relevant custom formats
  docs/json/radarr/cf/aac.json
  docs/json/radarr/cf/atmos-undefined.json
  docs/json/radarr/cf/bcore.json
  docs/json/radarr/cf/dd.json
  docs/json/radarr/cf/ddplus-atmos.json
  docs/json/radarr/cf/ddplus.json
  docs/json/radarr/cf/dts-es.json
  docs/json/radarr/cf/dts-hd-hra.json
  docs/json/radarr/cf/dts-hd-ma.json
  docs/json/radarr/cf/dts-x.json
  docs/json/radarr/cf/dts.json
  docs/json/radarr/cf/flac.json
  docs/json/radarr/cf/hd-bluray-tier-01.json
  docs/json/radarr/cf/hd-bluray-tier-02.json
  docs/json/radarr/cf/hd-bluray-tier-03.json
  docs/json/radarr/cf/pcm.json
  docs/json/radarr/cf/truehd-atmos.json
  docs/json/radarr/cf/truehd.json
  includes/sqp/1-web-cf-scoring.md
Labels: Status: Confirmed, Type: Bug, Status: Review Needed, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2132 fix(starr): New French guide
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-setup-quality-profiles-anime.md
  docs/json/sonarr/cf/web-scene.json
  includes/french-guide/sonarr-cf-french-web-scoring-en.md
  includes/french-guide/sonarr-cf-french-web-scoring-fr.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2133 feat(Sonarr-Anime): Update French Anime guide
  docs/Sonarr/sonarr-setup-quality-profiles-french-en.md
  docs/Sonarr/sonarr-setup-quality-profiles-french-fr.md
  docs/json/sonarr/cf/amzn.json
  docs/json/sonarr/cf/dsnp.json
  docs/json/sonarr/cf/language-original-french.json
  docs/json/sonarr/cf/nf.json
  docs/json/sonarr/cf/repack-proper.json
  docs/json/sonarr/cf/repack-v2.json
  docs/json/sonarr/cf/repack-v3.json
  includes/cf/sonarr-anime-misc-required.md
  includes/french-guide/sonarr-cf-french-anime-scoring-en.md
  includes/french-guide/sonarr-cf-french-anime-scoring-fr.md
  includes/french-guide/sonarr-french-anime-info-en.md
  includes/french-guide/sonarr-french-anime-info-fr.md
Labels: Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#2145 feat(starr-anime): Add SoM and Cunnysseur to Anime BD Tiers
  docs/json/radarr/cf/anime-bd-tier-01-top-seadex-muxers.json
  docs/json/radarr/cf/anime-bd-tier-02-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-01-top-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-02-seadex-muxers.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2146 fix(sonarr): French guide CF path
  includes/french-guide/sonarr-cf-french-anime-scoring-en.md
  includes/french-guide/sonarr-cf-french-anime-scoring-fr.md
  includes/french-guide/sonarr-cf-french-web-scoring-en.md
  includes/french-guide/sonarr-cf-french-web-scoring-fr.md
Labels: Area: Backend

#2086 feat(guides): SABnzbd - Updated description for utilizing the scripts folder
  docs/Downloaders/SABnzbd/scripts/index.md
Labels: Area: Backend, Area: Downloaders, Status: Waiting for User

#2151 fix(guide): Add SQP-1 WEB (1080p) score for 10-bit custom format
  docs/json/radarr/cf/10bit.json
Labels: Status: Confirmed, Type: Bug, Status: Review Needed, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2152 update(starr/cf): add additional service tag in regex and proof-edit definition
  docs/json/radarr/cf/htsr.json
  docs/json/sonarr/cf/htsr.json
  includes/cf-descriptions/htsr.md
Labels: Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2154 fix(backend): Add missing AMZN from Sonarr 2160p QP JSON
  docs/json/sonarr/quality-profiles/web-2160p.json
Labels: Area: Backend

#2159 feat(starr): Added language Custom Formats
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/germandl.json
  docs/json/radarr/cf/language-not-english.json
  docs/json/radarr/cf/language-not-french.json
  docs/json/radarr/cf/language-not-original.json
  docs/json/sonarr/cf/germandl.json
  docs/json/sonarr/cf/language-not-english.json
  docs/json/sonarr/cf/language-not-french.json
  docs/json/sonarr/cf/language-not-original.json
  includes/cf-descriptions/language-germandl.md
  includes/cf-descriptions/language-not-english.md
  includes/cf-descriptions/language-not-french.md
  includes/cf-descriptions/language-not-original.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2164 fix(starr): last minute CF name change for German DL
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/german-dl.json
  docs/json/sonarr/cf/german-dl.json
  includes/cf-descriptions/language-german-dl.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2165 fix(backend): Related stuff for 3rd party apps
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/language-german-dl.json
  docs/json/sonarr/cf/language-german-dl.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2166 fix(ci): allow exceptLanguage in CF schema validation
  schemas/specs/language-spec.json
Labels: Type: Bug, Area: Backend

#2168 feat(Guide): Add `BAUCKLEY` to Radarr `LQ` Custom Format
  docs/json/radarr/cf/lq.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2170 fix(guide): Starr - Quality Settings (File Size) - Updated Legacy MAX from `400` to `1000`
  docs/Radarr/Radarr-Quality-Settings-File-Size.md
  docs/Sonarr/Sonarr-Quality-Settings-File-Size.md
  includes/starr/quality-size-preferred-info.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#2171 style(guide): Consistency in the wording of `hardlinks` vs `hard links`
  docs/Downloaders/3rd-party-tools.md
  docs/File-and-Folder-Structure/How-to-set-up/Unraid.md
  docs/File-and-Folder-Structure/How-to-set-up/Windows.md
  docs/File-and-Folder-Structure/Replace-copies-with-hardlinks.md
Labels: Area: Backend, Area: Downloaders

#1993 feat(radarr): NEW German guide
  docs/Radarr/.pages
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Radarr/images/german-cf-profile-language.png
  docs/Radarr/images/german-qp-bluray-webdl.png
  docs/Radarr/images/german-starr-multi-settings.png
  docs/Radarr/index.md
  docs/Radarr/radarr-setup-quality-profiles-german-en.md
  docs/json/radarr/cf/german-1080p-booster.json
  docs/json/radarr/cf/german-2160p-booster.json
  docs/json/radarr/cf/german-bluray-tier-01.json
  docs/json/radarr/cf/german-bluray-tier-02.json
  docs/json/radarr/cf/german-bluray-tier-03.json
  docs/json/radarr/cf/german-lq.json
  docs/json/radarr/cf/german-microsized.json
  docs/json/radarr/cf/german-remux-tier-01.json
  docs/json/radarr/cf/german-remux-tier-02.json
  docs/json/radarr/cf/german-scene.json
  docs/json/radarr/cf/german-web-tier-01.json
  docs/json/radarr/cf/german-web-tier-02.json
  docs/json/radarr/cf/german-web-tier-03.json
  docs/json/radarr/cf/language-german-dl-undefined.json
  docs/json/radarr/cf/language-german-dl.json
  docs/json/radarr/cf/language-german.json
  docs/json/radarr/cf/language-not-english.json
  docs/json/radarr/cf/language-not-french.json
  docs/json/radarr/cf/language-not-original.json
  docs/json/sonarr/cf/language-german-dl.json
  includes/cf-descriptions/language-german-dl-undefined.md
  includes/cf-descriptions/language-german-dl.md
  includes/cf-descriptions/language-german.md
  includes/german-guide/radarr-cf-german-hd-bluray-web-scoring-en.md
  includes/german-guide/radarr-cf-german-remux-web-scoring-en.md
  includes/german-guide/radarr-cf-german-resolution-scoring-en.md
  includes/german-guide/radarr-cf-german-uhd-bluray-web-scoring-en.md
  includes/german-guide/radarr-german-advanced-audio-information-en.md
  includes/german-guide/radarr-german-audio-version-en.md
  includes/german-guide/radarr-german-unwanted-en.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2172 feat(guide): NEW - How to Order Quality Sources
  docs/Radarr/Tips/.pages
  docs/Radarr/Tips/How-to-order-Quality-Source.md
  docs/Radarr/Tips/images/order-qualities-default.png
  docs/Radarr/Tips/images/order-qualities-downgrade.png
  docs/Radarr/Tips/images/order-qualities-matters.png
  docs/Radarr/Tips/images/order-qualities-top.png
  docs/Radarr/index.md
  docs/Sonarr/Tips/.pages
  docs/Sonarr/Tips/How-to-order-Quality-Source.md
  docs/Sonarr/index.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#2178 fix(guide): Fix broken links in the hardlinks index page
  docs/File-and-Folder-Structure/Check-if-hardlinks-are-working.md
  docs/File-and-Folder-Structure/Hardlinks-and-Instant-Moves.md
  docs/File-and-Folder-Structure/How-to-set-up/index.md
  docs/File-and-Folder-Structure/Replace-copies-with-hardlinks.md
  docs/File-and-Folder-Structure/index.md
Labels: Area: Backend

#2179 fix(radarr): remove MULTI recommendation from German Guide
  docs/Radarr/radarr-setup-quality-profiles-german-en.md
Labels: Area: Radarr, Area: Backend

#2180 fix(guide): Changes to be aligned with the German guide
  docs/json/radarr/cf/language-german-dl.json
  docs/json/radarr/cf/x265-hd.json
  docs/json/sonarr/cf/language-german-dl.json
  includes/cf-descriptions/language-german-dl.md
  includes/german-guide/radarr-cf-german-resolution-scoring-en.md
  includes/german-guide/radarr-german-unwanted-en.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2184 feat(Guides): Update Sonarr Season Pack custom format description
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Status: Confirmed, Type: Bug, Status: Review Needed, Area: Sonarr

#2177 feat(starr-anime): Remove unnecessary anime remux groups, move top remux groups to higher tiers, add NAN0 and VULCAN
  docs/json/radarr/cf/anime-bd-tier-03-seadex-muxers.json
  docs/json/radarr/cf/anime-bd-tier-04-seadex-muxers.json
  docs/json/radarr/cf/anime-bd-tier-05-remuxes.json
  docs/json/sonarr/cf/anime-bd-tier-03-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-04-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-05-remuxes.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2185 feat(Guides): Create new Generated Dynamic HDR custom format
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/json/radarr/cf/generated-dynamic-hdr.json
  docs/json/radarr/cf/lq-release-title.json
  docs/json/radarr/cf/lq.json
  docs/json/radarr/quality-profiles/hd-bluray-web.json
  docs/json/radarr/quality-profiles/remux-web-1080p.json
  docs/json/radarr/quality-profiles/remux-web-2160p.json
  docs/json/radarr/quality-profiles/sqp-1-1080p.json
  docs/json/radarr/quality-profiles/sqp-1-2160p.json
  docs/json/radarr/quality-profiles/sqp-1-web-1080p.json
  docs/json/radarr/quality-profiles/sqp-2.json
  docs/json/radarr/quality-profiles/sqp-3.json
  docs/json/radarr/quality-profiles/sqp-4.json
  docs/json/radarr/quality-profiles/sqp-5.json
  docs/json/radarr/quality-profiles/uhd-bluray-web.json
  includes/cf/radarr-unwanted-uhd.md
  includes/cf/radarr-unwanted.md
  includes/sqp/radarr-unwanted-sqp1.md
  includes/sqp/radarr-unwanted-uhd-sqp1.md
Labels: Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Type: Guide Request

#2187 fix(radarr): updated profile language screenshot of german guide with consistent values
  docs/Radarr/images/german-cf-profile-language.png
Labels: Area: Radarr, Area: Backend

#2189 chore(guide): Custom Format language fix for the 3rd party TRaSH Sync apps
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/language-original-plus-french.json
  docs/json/sonarr/cf/language-original-plus-french.json
  includes/french-guide/radarr-cf-french-hd-bluray-web-scoring-en.md
  includes/french-guide/radarr-cf-french-hd-bluray-web-scoring-fr.md
  includes/french-guide/radarr-cf-french-remux-web-scoring-en.md
  includes/french-guide/radarr-cf-french-remux-web-scoring-fr.md
  includes/french-guide/radarr-cf-french-uhd-bluray-web-scoring-en.md
  includes/french-guide/radarr-cf-french-uhd-bluray-web-scoring-fr.md
  includes/french-guide/sonarr-cf-french-anime-scoring-en.md
  includes/french-guide/sonarr-cf-french-anime-scoring-fr.md
  includes/french-guide/sonarr-cf-french-web-scoring-en.md
  includes/french-guide/sonarr-cf-french-web-scoring-fr.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2188 fix(radarr): Adapt German CF to avoid matching DL
  docs/json/radarr/cf/language-german.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2186 feat(radarr): Add Information about Generated Dynamic HDR in the German Guide
  docs/json/radarr/cf/generated-dynamic-hdr.json
  includes/german-guide/radarr-german-unwanted-en.md
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2191 fix(radarr): updated screenshot with correct minimum score
  docs/Radarr/images/german-cf-profile-language.png
Labels: Area: Radarr, Area: Backend

#2190 feat(guide-sync): Add German Quality Profiles for the 3rd party sync applications
  docs/json/radarr/quality-profiles/german-hd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web-alternative.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-remux-web.json
Labels: Type: Enhancement, Area: Backend

#2194 chore(guide): German QP sorting fix for the 3rd party sync apps
  docs/json/radarr/quality-profiles/german-hd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web-alternative.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-remux-web.json
Labels: Area: Backend

#2195 chore(guide): Updated QP excludes for the 3rd party sync apps
  docs/json/radarr/cf-groups/advanced-audio-formats.json
  docs/json/radarr/cf-groups/hdr-formats.json
  docs/json/radarr/cf-groups/misc-optional.json
  docs/json/radarr/cf-groups/misc-uhd-optional.json
  docs/json/radarr/cf-groups/movie-versions-noremux.json
  docs/json/radarr/cf-groups/movie-versions.json
  docs/json/radarr/cf-groups/sqp-1-1080p-misc-optional.json
  docs/json/radarr/cf-groups/sqp-1-2160p-misc-optional.json
  docs/json/radarr/cf-groups/sqp-2-3-4-5-misc-optional.json
Labels: Area: Backend

#2193 feat(radarr): Clarify the use of merged qualities for the German Guide
  docs/Radarr/radarr-setup-quality-profiles-german-en.md
  includes/german-guide/radarr-cf-german-remux-web-scoring-en.md
  includes/german-guide/radarr-cf-german-resolution-scoring-hd-only-en.md
  includes/german-guide/radarr-cf-german-uhd-bluray-web-scoring-en.md
Labels: Area: Radarr, Area: Backend

#2197 chore(guide): Add upcoming QP language option for the 3rd party sync apps
  docs/json/radarr/quality-profiles/german-hd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web-alternative.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-remux-web.json
  docs/json/radarr/quality-profiles/hd-bluray-web.json
  docs/json/radarr/quality-profiles/remux-web-1080p.json
  docs/json/radarr/quality-profiles/remux-web-2160p.json
  docs/json/radarr/quality-profiles/sqp-1-1080p.json
  docs/json/radarr/quality-profiles/sqp-1-2160p.json
  docs/json/radarr/quality-profiles/sqp-1-web-1080p.json
  docs/json/radarr/quality-profiles/sqp-2.json
  docs/json/radarr/quality-profiles/sqp-3.json
  docs/json/radarr/quality-profiles/sqp-4.json
  docs/json/radarr/quality-profiles/sqp-5.json
  docs/json/radarr/quality-profiles/uhd-bluray-web.json
Labels: Area: Backend
