Repository TRaSH-Guides/Guides, pull requests merged in 2024-11, with the labels that each got.

#2123 feat(guide): Starr - Add Custom Format `VC-1`
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/vc-1.json
  docs/json/sonarr/cf/vc-1.json
  includes/cf-descriptions/vc-1.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2115 feat(guide): Updated Plex Media Server Settings - v1.41.1.9057
  docs/Plex/Tips/Plex-media-server.md
  docs/Plex/Tips/images/manage-libraries-movies-part5.png
  docs/Plex/Tips/images/manage-libraries-tv-part2.png
  docs/Plex/Tips/images/manage-libraries-tv-part4.png
  docs/Plex/Tips/images/manage-libraries-tv-part5.png
  docs/Plex/Tips/images/settings-library-generate-credits-video-markers.png
  docs/Plex/Tips/images/settings-library-generate-intro-video-markers.png
  docs/Plex/Tips/images/settings-library-generate-voice-activity-data.png
  docs/Plex/Tips/images/settings-library-marker-source.png
  docs/Plex/Tips/images/settings-transcoder-hardware-transcoding-device.png
  docs/Plex/Tips/images/settings-transcoder-tonemapping-algorithm.png
Labels: Area: Backend, Area: Plex

#2130 fix(starr): Update of the French Guide
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Area: Sonarr, Area: Backend

#2131 feat(guide): Move the third-party tools section out of the qBittorrent section and put it in the downloaders root section
  docs/Downloaders/.pages
  docs/Downloaders/3rd-party-tools.md
  docs/Downloaders/qBittorrent/.pages
  mkdocs.yml
Labels: Area: Backend, Area: Downloaders

#2136 feat(starr-anime): Add Moxie to anime bd tier 2
  docs/json/radarr/cf/anime-bd-tier-02-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-02-seadex-muxers.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2141 style(guide): Several small grammar corrections
  includes/cf/audio-info.md
  includes/cf/audio-limitations-atv.md
  includes/cf/dv-info-green-purple.md
  includes/cf/dv-info-profiles.md
Labels: Area: Backend
