Repository TRaSH-Guides/Guides, pull requests merged in 2024-06, with the labels that each got.

#1956 feat(radarr): Add RlsGrp `TEKNO3D` to `LQ (Release Title)`
  docs/json/radarr/cf/lq-release-title.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1954 fix(prowlarr): fix typo in prowlarr-setup-proxy.md
  docs/Prowlarr/prowlarr-setup-proxy.md
Labels: Area: Backend, Area: Prowlarr

#1965 feat(guide): Update naming scheme and add tvdb/tmdb
  docs/Radarr/Radarr-recommended-naming-scheme.md
  docs/Sonarr/Sonarr-recommended-naming-scheme.md
  docs/json/radarr/naming/radarr-naming.json
  docs/json/sonarr/naming/sonarr-naming.json
  includes/radarr/imdb-vs-tmdb.md
  includes/radarr/radarr-folder-name-after-year-info.md
  includes/radarr/tmdb-imdb-info.md
  includes/sonarr/imdb-vs-tvdb.md
  includes/sonarr/tvdb-imdb-info.md
  includes/starr/renaming-description-faq.md
  mkdocs.yml
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Naming

#1967 chore(radarr): move SWTYBLZ to LQ Release Title
  docs/json/radarr/cf/lq-release-title.json
  docs/json/radarr/cf/lq.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1968 feat(guides): Move AV1 to unwanted
  .gitignore
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/quality-profiles/hd-bluray-web.json
  docs/json/radarr/quality-profiles/remux-web-1080p.json
  docs/json/radarr/quality-profiles/remux-web-2160p.json
  docs/json/radarr/quality-profiles/sqp-1-1080p.json
  docs/json/radarr/quality-profiles/sqp-1-2160p.json
  docs/json/radarr/quality-profiles/sqp-2.json
  docs/json/radarr/quality-profiles/sqp-3.json
  docs/json/radarr/quality-profiles/sqp-4.json
  docs/json/radarr/quality-profiles/sqp-5.json
  docs/json/radarr/quality-profiles/uhd-bluray-web.json
  docs/json/sonarr/quality-profiles/web-1080p.json
  docs/json/sonarr/quality-profiles/web-2160p.json
  includes/cf-descriptions/av1.md
  includes/cf/radarr-unwanted-uhd.md
  includes/cf/radarr-unwanted.md
  includes/cf/sonarr-unwanted-uhd.md
  includes/cf/sonarr-unwanted.md
  includes/sqp/1-4k-cf-scoring-sqp1.md
  includes/sqp/radarr-unwanted-sqp1.md
  includes/sqp/radarr-unwanted-uhd-sqp1.md
Labels: Status: Confirmed, Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Backend, Type: Guide Request

#1970 chore(guides): Update changelog to 2024-06-09
  docs/updates.txt
Labels: Status: Review Needed, Area: Backend

#1972 fix(sync_tools): Hotfix to re-add `default:3` and `default:4` Sonarr episode naming options
  docs/json/sonarr/naming/sonarr-naming.json
Labels: Status: Confirmed, Type: Bug, Area: Sonarr, Area: Backend, Area: Starr Naming

#1969 feat(guide): Update quality size FAQ and preferred info
  docs/Radarr/Radarr-Quality-Settings-File-Size.md
  docs/Sonarr/Sonarr-Quality-Settings-File-Size.md
  docs/json/sonarr/quality-size/anime.json
  docs/json/sonarr/quality-size/series.json
  includes/starr/quality-size-description-faq.md
  includes/starr/quality-size-preferred-info.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1973 chore(guide): Changed discord shield to button
  docs/Bazarr/Tips/Bazarr-suggested-scoring.md
  docs/Downloaders/Deluge/Basic-Setup.md
  docs/Downloaders/Deluge/Port-Forwarding.md
  docs/Downloaders/Deluge/Using-Labels.md
  docs/Downloaders/Deluge/index.md
  docs/Downloaders/NZBGet/Basic-Setup.md
  docs/Downloaders/NZBGet/Paths-and-Categories.md
  docs/Downloaders/SABnzbd/Basic-Setup.md
  docs/Downloaders/SABnzbd/Paths-and-Categories.md
  docs/Downloaders/qBittorrent/3rd-party-tools.md
  docs/Downloaders/qBittorrent/Basic-Setup.md
  docs/Downloaders/qBittorrent/How-to-add-categories.md
  docs/Downloaders/ruTorrent/ruTorrent-Basic-Setup.md
  docs/Hardlinks/How-to-setup-for/Docker.md
  docs/Hardlinks/How-to-setup-for/Dockstarter.md
  docs/Hardlinks/How-to-setup-for/Native.md
  docs/Hardlinks/How-to-setup-for/Synology.md
  docs/Hardlinks/How-to-setup-for/TrueNAS-Core.md
  docs/Plex/Tips/Optimal-plex-client-settings.md
  docs/Plex/Tips/Plex-media-server.md
  docs/Plex/profiles/index.md
  docs/Radarr/Tips/Merge-quality.md
  docs/Radarr/Tips/Radarr-show-unknown-movie-items.md
  docs/Radarr/radarr-setup-quality-profiles.md
  docs/Sonarr/sonarr-setup-quality-profiles.md
  docs/index.md
  includes/cf/score-attention.md
  includes/support.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Bazarr, Area: Downloaders, Area: Plex

#1974 feat(guide): Update Setup TorGuard for port forwarding Guide
  docs/Misc/How-to-setup-Torguard-for-port-forwarding.md
  docs/Misc/images/torguard/cmd-ping.png
  docs/Misc/images/torguard/config-generator-wireguard.png
  docs/Misc/images/torguard/globalvpnnetwork-list.png
  docs/Misc/images/torguard/request-new-pfw-wireguard.png
  docs/Misc/images/torguard/servers-globalvpnnetwork.png
  docs/Misc/images/torguard/status.png
Labels: Area: Backend

#1975 chore(guides): Update changelog to 2024-06-13
  docs/updates.txt
Labels: Area: Backend

#1978 feat(guides): Add hallowed to (U)HD Bluray Tier 03 and create new `hallowed` Radarr custom format
  docs/json/radarr/cf/hallowed.json
  docs/json/radarr/cf/hd-bluray-tier-03.json
  docs/json/radarr/cf/uhd-bluray-tier-03.json
  docs/updates.txt
Labels: Type: Enhancement, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1982 chore(sync_tools): Revert "fix(sync_tools): Hotfix to re-add `default:3` and `default:4` Sonarr episode naming options"
  docs/json/sonarr/naming/sonarr-naming.json
Labels: Area: Sonarr, Area: Backend, Area: Starr Naming

#1985 style(annotations): match and use question-mark svg
  docs/Radarr/Tips/Sync-2-radarr-sonarr.md
  docs/stylesheets/extra.css
  mkdocs.yml
  overrides/.icons/circle-question.svg
Labels: Area: Radarr, Area: Backend

#1986 style(discord-shields): restore discord shields
  docs/Radarr/radarr-setup-quality-profiles.md
  docs/Sonarr/sonarr-setup-quality-profiles.md
  docs/index.md
  docs/stylesheets/extra.css
  includes/cf/score-attention.md
  includes/support.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1990 fix(anime): Update language regarding scores to use
  docs/Radarr/radarr-setup-quality-profiles-anime.md
  docs/Sonarr/sonarr-setup-quality-profiles-anime.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1950 fix(starr): Moved webdl and webrip into Amazon regex to prevent incorrect matches
  docs/json/radarr/cf/amzn.json
  docs/json/sonarr/cf/amzn.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1991 fix(radarr-sonarr): Replace sonarr and radarr anime CF image + add AV1 to anime-radarr
  docs/Radarr/images/cfa-complete.png
  docs/Radarr/images/cfa-default-scoring.png
  docs/Sonarr/images/cfa-complete.png
  docs/Sonarr/images/cfa-default-scoring.png
  docs/json/radarr/cf/av1.json
  includes/cf/radarr-anime.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1992 chore(starr): Improve streaming service CFs
  docs/json/radarr/cf/atvp.json
  docs/json/radarr/cf/crav.json
  docs/json/radarr/cf/dsnp.json
  docs/json/radarr/cf/fod.json
  docs/json/radarr/cf/hbo.json
  docs/json/radarr/cf/hmax.json
  docs/json/radarr/cf/htsr.json
  docs/json/radarr/cf/ip.json
  docs/json/radarr/cf/it.json
  docs/json/radarr/cf/itvx.json
  docs/json/radarr/cf/max.json
  docs/json/radarr/cf/ovid.json
  docs/json/radarr/cf/pcok.json
  docs/json/radarr/cf/pmtp.json
  docs/json/radarr/cf/stan.json
  docs/json/radarr/cf/tver.json
  docs/json/radarr/cf/u-next.json
  docs/json/sonarr/cf/4od.json
  docs/json/sonarr/cf/all4.json
  docs/json/sonarr/cf/atvp.json
  docs/json/sonarr/cf/bglobal.json
  docs/json/sonarr/cf/bilibili.json
  docs/json/sonarr/cf/cc.json
  docs/json/sonarr/cf/cr.json
  docs/json/sonarr/cf/crav.json
  docs/json/sonarr/cf/dcu.json
  docs/json/sonarr/cf/dsnp.json
  docs/json/sonarr/cf/fod.json
  docs/json/sonarr/cf/french-adn.json
  docs/json/sonarr/cf/french-canalplus.json
  docs/json/sonarr/cf/french-rtbf.json
  docs/json/sonarr/cf/french-salto.json
  docs/json/sonarr/cf/french-wkn.json
  docs/json/sonarr/cf/funi.json
  docs/json/sonarr/cf/hbo.json
  docs/json/sonarr/cf/hidive.json
  docs/json/sonarr/cf/hmax.json
  docs/json/sonarr/cf/htsr.json
  docs/json/sonarr/cf/ip.json
  docs/json/sonarr/cf/it.json
  docs/json/sonarr/cf/itvx.json
  docs/json/sonarr/cf/max.json
  docs/json/sonarr/cf/nlz.json
  docs/json/sonarr/cf/ovid.json
  docs/json/sonarr/cf/pcok.json
  docs/json/sonarr/cf/pmtp.json
  docs/json/sonarr/cf/red.json
  docs/json/sonarr/cf/sho.json
  docs/json/sonarr/cf/stan.json
  docs/json/sonarr/cf/tver.json
  docs/json/sonarr/cf/u-next.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1998 feat(guides): Move KRaLiMaRKo to Radarr Remux Tier 03 and expand Hybrid CF matching to include Bluray qualities
  docs/json/radarr/cf/hybrid.json
  docs/json/radarr/cf/remux-tier-02.json
  docs/json/radarr/cf/remux-tier-03.json
  docs/json/sonarr/cf/hybrid.json
Labels: Type: Enhancement, Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats
