Repository TRaSH-Guides/Guides, pull requests merged in 2024-03, with the labels that each got.

#1818 fix(starr): Upscale false positives
  docs/json/radarr/cf/upscaled.json
  docs/json/sonarr/cf/upscaled.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1816 style(2-why.md): Rephrase SQP2's "Why?" to make it clearer.
  includes/sqp/2-why.md
Labels: Area: Backend

#1820 fix(radarr): 3D false positives
  docs/json/radarr/cf/3d.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1828 Make the text about adding the CF and setting the score in your profile a little clearer
  docs/Radarr/Tips/How-to-setup-language-custom-formats.md
Labels: Area: Radarr, Area: Backend

#1827 fix(Starr-Anime): remove Kaerizaki-Fansub to Anime LQ groups and update FR regex
  docs/json/radarr/cf/anime-lq-groups.json
  docs/json/sonarr/cf/anime-lq-groups.json
  docs/json/sonarr/cf/french-anime-fansub.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Area: Anime

#1829 fix(starr): AMZN CF should also match AmazonHD
  docs/json/radarr/cf/amzn.json
  docs/json/sonarr/cf/amzn.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1840 feat(Starr): Add iVy to LQ
  docs/json/radarr/cf/lq.json
  docs/json/sonarr/cf/lq.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1843 fix(starr): fix Obfuscated CF mismatching
  docs/json/radarr/cf/obfuscated.json
  docs/json/sonarr/cf/obfuscated.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1838 fix(guide): update line numbers in mover.py
  docs/Downloaders/qBittorrent/Tips/How-to-run-the-unRaid-mover-for-qBittorrent.md
Labels: Area: Backend, Area: Downloaders

#1846 fix(radarr): Vinegar Syndrome not matching VinSyn
  docs/json/radarr/cf/vinegar-syndrome.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1847 feat(guide): Add AppleTV audio info and updated flowcharts
  docs/Radarr/images/flowchart-audio.png
  docs/Radarr/images/flowchart-hdr-formats.png
  docs/Radarr/images/flowchart-quality-profiles-radarr.png
  docs/Radarr/images/plex-audio-atv.png
  docs/Radarr/images/plex-audio-shield.png
  docs/SQP/images/flowchart-sqp-2-5.png
  docs/Sonarr/images/flowchart-quality-profiles-sonarr.png
  includes/cf/audio-info.md
  includes/cf/audio-limitations-atv.md
  includes/cf/radarr-audio.md
  includes/cf/which-audio-formats-should-i-choose.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1845 fix(starr): Netflix CF to match NetflixHD and NetflixUHD in title
  docs/json/radarr/cf/nf.json
  docs/json/sonarr/cf/nf.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1856 feat(guide): fix typo in audio section
  includes/cf/radarr-audio.md
Labels: Area: Backend

#1855 (chore): quiet CI
  .github/workflows/conflicts.yml
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/lint-editor.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-yaml.yml
  .github/workflows/metadata-validation.yml
Labels: Area: github_actions, Area: Backend

#1825 feat(sonarr): Add Season Pack CF using ReleaseType Condition
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/sonarr/cf/season-pack-spec.json
Labels: Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#1857 feat(guide): Move RlsGrps Between Tiers
  docs/json/radarr/cf/remux-tier-01.json
  docs/json/radarr/cf/remux-tier-02.json
  docs/json/radarr/cf/uhd-bluray-tier-01.json
  docs/json/radarr/cf/uhd-bluray-tier-02.json
  docs/updates.txt
Labels: Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1862 feat(guides): Update Sonarr Remux Tiers
  docs/json/sonarr/cf/remux-tier-01.json
  docs/json/sonarr/cf/remux-tier-02.json
Labels: Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Starr Custom Formats

#1852 chore(guide): update index.md
  docs/index.md
Labels: Area: Backend

#1858 feat(guide): minor changes to several guides
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  includes/cf-descriptions/sdr-no-webdl.md
  includes/cf-descriptions/sdr.md
  includes/cf/radarr-optional-uhd.md
  includes/cf/radarr-streaming-services.md
  includes/cf/sonarr-optional-uhd.md
  includes/cf/sonarr-streaming-services.md
  includes/cf/sonarr-uhd-streaming-services.md
  includes/sqp/1-4k-cf-scoring-sqp1.md
  includes/sqp/1-4k-streaming-services.md
  includes/sqp/1-streaming-services.md
  includes/sqp/2-cf-scoring.md
  includes/sqp/3-cf-scoring.md
  includes/sqp/4-cf-scoring.md
  includes/sqp/5-cf-scoring.md
  includes/sqp/radarr-unwanted-uhd.md
  includes/sqp/sqp-uhd-radarr-optional.md
  includes/sqp/uhd-radarr-optional.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1850 feat(guide): Collection of Custom Formats - Audio Formats - Improve description
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  includes/cf-descriptions/aac.md
  includes/cf-descriptions/atmos-undefined.md
  includes/cf-descriptions/dd.md
  includes/cf-descriptions/ddplus-atmos.md
  includes/cf-descriptions/ddplus.md
  includes/cf-descriptions/dts-es.md
  includes/cf-descriptions/dts-hd-hra.md
  includes/cf-descriptions/dts-hd-ma.md
  includes/cf-descriptions/dts-x.md
  includes/cf-descriptions/dts.md
  includes/cf-descriptions/flac.md
  includes/cf-descriptions/mp3.md
  includes/cf-descriptions/obfuscated.md
  includes/cf-descriptions/opus.md
  includes/cf-descriptions/pcm.md
  includes/cf-descriptions/retags.md
  includes/cf-descriptions/truehd-atmos.md
  includes/cf-descriptions/truehd.md
  mkdocs.yml
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1865 fix(Guide): Fix broken notifiarr link on plex tips
  docs/Plex/Tips/Plex-media-server.md
Labels: Area: Backend, Area: Plex

#1866 chore(backend): testing contributers list
  .all-contributorsrc
  contributors.md
  docs/index.md
Labels: Area: Backend
