Repository TRaSH-Guides/Guides, pull requests merged in 2024-05, with the labels that each got.

#1909 chore(guides): remove Sonarr v3 guides
  docs/Sonarr/.pages
  docs/Sonarr/Sonarr-Release-Profile-RegEx-Anime.md
  docs/Sonarr/Sonarr-Release-Profile-RegEx.md
  docs/Sonarr/sonarr-v3-eol.md
  includes/sonarrv3-eol.md
  mkdocs.yml
Labels: Area: Sonarr, Area: Backend

#1910 fix(guide): missing quote in unraid mover
  docs/Downloaders/qBittorrent/Tips/How-to-run-the-unRaid-mover-for-qBittorrent.md
Labels: Area: Backend, Area: Downloaders

#1911 feat(starr): add ShieldBearer to LQ
  docs/json/radarr/cf/lq.json
  docs/json/sonarr/cf/lq.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1912 chore(guides): fix several broken/forgotten anchors
  docs/Downloaders/Deluge/Tips/Unraid-Mover.md
  docs/Downloaders/qBittorrent/Tips/How-to-run-the-unRaid-mover-for-qBittorrent.md
  docs/Hardlinks/How-to-setup-for/Dockstarter.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Area: Sonarr, Area: Backend, Area: Downloaders

#1919 fix(starr-cf/audio-channels): add word barrier and negates to prevent matching incorrectly
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/10-mono.json
  docs/json/radarr/cf/20-stereo.json
  docs/json/radarr/cf/30-sound.json
  docs/json/radarr/cf/40-sound.json
  docs/json/radarr/cf/51-surround.json
  docs/json/radarr/cf/61-surround.json
  docs/json/radarr/cf/71-surround.json
  docs/json/radarr/cf/91-surround.json
  docs/json/sonarr/cf/10-mono.json
  docs/json/sonarr/cf/20-stereo.json
  docs/json/sonarr/cf/30-sound.json
  docs/json/sonarr/cf/40-sound.json
  docs/json/sonarr/cf/51-surround.json
  docs/json/sonarr/cf/61-surround.json
  docs/json/sonarr/cf/71-surround.json
  docs/json/sonarr/cf/91-surround.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1922 feat(starr): Add SobsPlease
  docs/json/radarr/cf/anime-web-tier-05-fansubs.json
  docs/json/sonarr/cf/anime-web-tier-05-fansubs.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1921 feat(guides): Update SABnzbd guide
  docs/Downloaders/SABnzbd/Basic-Setup.md
  docs/Downloaders/SABnzbd/images/sabnzbd-folders-system-folders.png
  docs/Downloaders/SABnzbd/images/sabnzbd-switches-post-processing.png
  docs/Downloaders/SABnzbd/images/sabnzbd-switches-queue.png
Labels: Area: Backend, Area: Downloaders

#1873 feat(sonarr): Add Single Episode and Multi-Episode CFs
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/sonarr/cf/multi-episode.json
  docs/json/sonarr/cf/single-episode.json
Labels: Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#1930 chore(guide): update inconsistent naming in downloaders pages
  docs/Downloaders/NZBGet/Basic-Setup.md
  docs/Downloaders/NZBGet/Paths-and-Categories.md
  docs/Downloaders/NZBGet/index.md
  docs/Downloaders/NZBGet/scripts/index.md
  docs/Downloaders/SABnzbd/Basic-Setup.md
  docs/Downloaders/SABnzbd/scripts/Clean/Clean.py
  docs/Downloaders/SABnzbd/scripts/index.md
  docs/Downloaders/SABnzbd/scripts/replace_for/replace_for.py
  docs/Downloaders/index.md
Labels: Area: Python, Area: Backend, Area: Downloaders

#1932 feat(anime): update CFs
  docs/json/radarr/cf/anime-bd-tier-01-top-seadex-muxers.json
  docs/json/radarr/cf/anime-bd-tier-03-seadex-muxers.json
  docs/json/radarr/cf/anime-lq-groups.json
  docs/json/radarr/cf/anime-web-tier-01-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-01-top-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-03-seadex-muxers.json
  docs/json/sonarr/cf/anime-lq-groups.json
  docs/json/sonarr/cf/anime-web-tier-01-muxers.json
Labels: Type: Enhancement, Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Type: Guide Request, Area: Anime

#1893 chore(guide): Update mkdocs.yml w/ copyright year
  mkdocs.yml
Labels: Area: Backend

#1933 feat(radarr): update quality size
  docs/json/radarr/quality-size/movie.json
Labels: Area: Radarr, Area: Backend, Type: Guide Request

#1934 chore(Changelog): Update: # 2024-05-15 12:00
  docs/updates.txt
Labels: Area: Backend

#1880 feat(guide): Starr language tips add German dual and multi
  docs/Radarr/Tips/How-to-setup-language-custom-formats.md
  docs/json/guide-only/language-german-and-original.json
Labels: Area: Radarr, Area: Backend

#1923 fix(guide): unclear qbit mover script host vs url and added cache only
  docs/Downloaders/qBittorrent/Tips/How-to-run-the-unRaid-mover-for-qBittorrent.md
Labels: Area: Backend, Area: Downloaders

#1936 chore(guide): clean up guide sync table
  docs/Guide-Sync/index.md
Labels: Area: Backend

#1896 chore(sonarr): add 720p CF
  docs/json/sonarr/cf/720p.json
Labels: Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#1942 feat(Radarr): Add Custom Format for iTunes streaming services
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/json/radarr/cf/it.json
  docs/json/radarr/quality-profiles/hd-bluray-web.json
  docs/json/radarr/quality-profiles/remux-web-1080p.json
  docs/json/radarr/quality-profiles/remux-web-2160p.json
  docs/json/radarr/quality-profiles/sqp-1-1080p.json
  docs/json/radarr/quality-profiles/sqp-1-2160p.json
  docs/json/radarr/quality-profiles/sqp-2.json
  docs/json/radarr/quality-profiles/sqp-3.json
  docs/json/radarr/quality-profiles/sqp-4.json
  docs/json/radarr/quality-profiles/sqp-5.json
  docs/json/radarr/quality-profiles/uhd-bluray-web.json
  includes/cf/radarr-streaming-services.md
  includes/sqp/1-4k-streaming-services.md
  includes/sqp/1-streaming-services.md
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1943 feat(Radarr): Add RlsGrp `W4NK3R` to `HD Bluray Tier 03`
  docs/json/radarr/cf/hd-bluray-tier-03.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1939 feat(ci): Custom Format JSON validation
  .github/workflows/custom-format-validation.yml
  .vscode/settings.json
  docs/json/radarr/cf/fansub.json
  docs/json/radarr/cf/fastsub.json
  docs/json/sonarr/cf/fansub.json
  docs/json/sonarr/cf/fastsub.json
  docs/json/sonarr/cf/season-pack-spec.json
  schemas/base-cf.schema.json
  schemas/guide-only-cf.schema.json
  schemas/radarr-cf.schema.json
  schemas/sonarr-cf.schema.json
  schemas/specs/edition-spec.json
  schemas/specs/indexer-flag-spec.json
  schemas/specs/language-spec.json
  schemas/specs/quality-modifier-spec.json
  schemas/specs/release-group-spec.json
  schemas/specs/release-title-spec.json
  schemas/specs/release-type-spec.json
  schemas/specs/resolution-spec.json
  schemas/specs/size-spec.json
  schemas/specs/source-spec.json
  schemas/specs/year-spec.json
Labels: Area: github_actions, Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1948 feat(guides): Improve bottom Question & Suggestion banner
  includes/support.md
Labels: Area: Backend

#1941 feat(guides): Improve description for `x265 (no HDR/DV)`, `x265 (HD)` and `SDR (no WEBDL)`
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  includes/cf-descriptions/dv-hdr10.md
  includes/cf-descriptions/sdr-no-webdl-radarr-warning.md
  includes/cf-descriptions/sdr-no-webdl-radarr.md
  includes/cf-descriptions/sdr-no-webdl-sonarr-warning.md
  includes/cf-descriptions/sdr-no-webdl-sonarr.md
  includes/cf-descriptions/x265-hd-radarr-warning.md
  includes/cf-descriptions/x265-hd-radarr.md
  includes/cf-descriptions/x265-hd-sonarr-warning.md
  includes/cf-descriptions/x265-hd-sonarr.md
  includes/cf-descriptions/x265-no-hdrdv-radarr-warning.md
  includes/cf-descriptions/x265-no-hdrdv-radarr.md
  includes/cf-descriptions/x265-no-hdrdv-sonarr-warning.md
  includes/cf-descriptions/x265-no-hdrdv-sonarr.md
  includes/cf/radarr-optional-uhd.md
  includes/cf/radarr-optional.md
  includes/cf/radarr-unwanted-uhd.md
  includes/cf/radarr-unwanted.md
  includes/cf/sonarr-optional-uhd.md
  includes/cf/sonarr-optional.md
  includes/cf/sonarr-unwanted.md
  includes/sqp/1-4k-cf-scoring-sqp1.md
  includes/sqp/2-cf-scoring.md
  includes/sqp/3-cf-scoring.md
  includes/sqp/4-cf-scoring.md
  includes/sqp/5-cf-scoring.md
  includes/sqp/radarr-unwanted-sqp1.md
  includes/sqp/radarr-unwanted-uhd-sqp1.md
  includes/sqp/sqp-uhd-radarr-optional.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1952 feat(radarr): Add New `Repack3` Custom Format
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/json/radarr/cf/repack3.json
  docs/json/radarr/quality-profiles/hd-bluray-web.json
  docs/json/radarr/quality-profiles/remux-web-1080p.json
  docs/json/radarr/quality-profiles/remux-web-2160p.json
  docs/json/radarr/quality-profiles/sqp-1-1080p.json
  docs/json/radarr/quality-profiles/sqp-1-2160p.json
  docs/json/radarr/quality-profiles/sqp-2.json
  docs/json/radarr/quality-profiles/sqp-3.json
  docs/json/radarr/quality-profiles/sqp-4.json
  docs/json/radarr/quality-profiles/sqp-5.json
  docs/json/radarr/quality-profiles/uhd-bluray-web.json
  includes/cf/radarr-misc.md
Labels: Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1953 fix(guide): Update Clean.py for py3.12 and apply updates
  docs/Downloaders/NZBGet/scripts/Clean/Clean.py
  docs/Downloaders/SABnzbd/scripts/Clean/Clean.py
Labels: Area: Python, Area: Backend, Area: Downloaders
