Repository TRaSH-Guides/Guides, pull requests merged in 2024-02, with the labels that each got.

#1784 Update x265.md
  includes/docker/x265.md
Labels: Area: Backend

#1788 fix(sonarr): golden rule link
  docs/Misc/x265-4k.md
Labels: Area: Backend

#1766 feat(guide): clarify sharing docker compose
  docs/Misc/how-to-provide-a-docker-compose.md
Labels: Area: Backend

#1789 fix(guide): clarify sharing docker compose
  docs/Misc/how-to-provide-a-docker-compose.md
Labels: Area: Backend

#1781 Update How-to-run-the-unRaid-mover-for-qBittorrent.md
  docs/Downloaders/qBittorrent/Tips/How-to-run-the-unRaid-mover-for-qBittorrent.md
Labels: Area: Backend, Area: Downloaders

#1783 fix (Sonarr): Fix x265 (no HDR/DV) section on Sonarr collection of custom formats page
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Status: Confirmed, Type: Bug, Status: Review Needed, Area: Sonarr

#1787 feat(starr): change AV1 default score to -10000
  docs/json/radarr/cf/av1.json
  docs/json/sonarr/cf/av1.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1775 feat(guide): Collection of Custom Formats - Streaming Services- Improve description
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/vdl.json
  includes/cf-descriptions/4od.md
  includes/cf-descriptions/abema.md
  includes/cf-descriptions/all4.md
  includes/cf-descriptions/amzn.md
  includes/cf-descriptions/atvp.md
  includes/cf-descriptions/bcore.md
  includes/cf-descriptions/bglobal.md
  includes/cf-descriptions/bilibili.md
  includes/cf-descriptions/cc.md
  includes/cf-descriptions/cr.md
  includes/cf-descriptions/crav.md
  includes/cf-descriptions/crit.md
  includes/cf-descriptions/dcu.md
  includes/cf-descriptions/dsnp.md
  includes/cf-descriptions/fod.md
  includes/cf-descriptions/french-adn.md
  includes/cf-descriptions/french-canalplus.md
  includes/cf-descriptions/french-rtbf.md
  includes/cf-descriptions/french-salto.md
  includes/cf-descriptions/french-wkn.md
  includes/cf-descriptions/funi.md
  includes/cf-descriptions/hbo.md
  includes/cf-descriptions/hidive.md
  includes/cf-descriptions/hmax.md
  includes/cf-descriptions/hulu.md
  includes/cf-descriptions/ip.md
  includes/cf-descriptions/it.md
  includes/cf-descriptions/ma.md
  includes/cf-descriptions/nf.md
  includes/cf-descriptions/nlz.md
  includes/cf-descriptions/ovid.md
  includes/cf-descriptions/pathe.md
  includes/cf-descriptions/pcok.md
  includes/cf-descriptions/pmtp.md
  includes/cf-descriptions/qibi.md
  includes/cf-descriptions/red.md
  includes/cf-descriptions/sho.md
  includes/cf-descriptions/stan.md
  includes/cf-descriptions/tver.md
  includes/cf-descriptions/u-next.md
  includes/cf-descriptions/vdl.md
  includes/cf-descriptions/vrv.md
Labels: Status: In Progress, Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1801 feat(guide): hardlinks - add links to the full downloader guide
  docs/Hardlinks/Examples.md
Labels: Area: Backend

#1800 feat(guide): Recommended naming scheme - Add Enable Rename instructions
  docs/Radarr/Radarr-recommended-naming-scheme.md
  docs/Radarr/images/radarr-enable-rename.png
  docs/Sonarr/Sonarr-recommended-naming-scheme.md
  docs/Sonarr/images/sonarr-enable-rename.png
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1799 feat(starr): Add Custom Format for streaming service ITVX
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/itvx.json
  docs/json/sonarr/cf/itvx.json
  includes/cf-descriptions/itvx.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1798 feat(guide): SQP-1 - Add CF `10bit` to unwanted to block `Hi10P`
  docs/json/radarr/cf/10bit.json
  includes/sqp/1-4k-cf-scoring-sqp1.md
  includes/sqp/1-cf-scoring.md
  includes/sqp/radarr-unwanted-sqp1.md
  includes/sqp/radarr-unwanted-uhd-sqp1.md
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1795 feat(starr): Add Custom Format for streaming service VIU
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/viu.json
  docs/json/sonarr/cf/viu.json
  includes/cf-descriptions/viu.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1796 feat(guide): SQP - Add `DV HDR10+ Boost` to SQP-1 4k optional
  docs/updates.txt
  includes/sqp/1-4k-cf-scoring-sqp1.md
Labels: Area: Backend

#1803 ci: :green_heart: use sparse checkout and cache properly
  .github/workflows/deploy.yml
Labels: Area: github_actions, Area: Backend

#1802 (chore): deploy - add concurrence and only build latest
  .github/workflows/deploy.yml
Labels: Area: github_actions, Area: Backend

#1649 chore(backend): remove sqp from google search results
  docs/SQP/1-4k.md
  docs/SQP/1.md
  docs/SQP/2.md
  docs/SQP/3.md
  docs/SQP/4.md
  docs/SQP/5.md
  docs/SQP/index.md
Labels: Area: Backend

#1804 style(guide): Categorize streaming services
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1805 style(guide): Plex make tips always seen
  docs/Plex/.pages
  docs/Plex/Tips/.pages
Labels: Area: Backend, Area: Plex

#1806 feat(guides): Add HTSR Streaming Service
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/htsr.json
  docs/json/sonarr/cf/htsr.json
  includes/cf-descriptions/htsr.md
Labels: Status: Confirmed, Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Type: Guide Request

#1807 fix(Starr): Update HTSR Custom Formats
  docs/json/radarr/cf/htsr.json
  docs/json/sonarr/cf/htsr.json
Labels: Status: Confirmed, Type: Bug, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1811 fix(french-starr): update VFQ CFs with right condition
  docs/json/radarr/cf/french-vfq.json
  docs/json/sonarr/cf/french-vfq.json
Labels: Type: Bug, Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Area: French

#1810 feat(sonarr): add FreeLeech custom format
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/sonarr/cf/freeleech.json
Labels: Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#1814 feat(starr anime): updates to various CFs
  .vscode/settings.json
  docs/json/radarr/cf/anime-bd-tier-01-top-seadex-muxers.json
  docs/json/radarr/cf/anime-bd-tier-02-seadex-muxers.json
  docs/json/radarr/cf/anime-lq-groups.json
  docs/json/radarr/cf/anime-web-tier-01-muxers.json
  docs/json/radarr/cf/anime-web-tier-02-top-fansubs.json
  docs/json/radarr/cf/dubs-only.json
  docs/json/sonarr/cf/anime-bd-tier-01-top-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-02-seadex-muxers.json
  docs/json/sonarr/cf/anime-lq-groups.json
  docs/json/sonarr/cf/anime-web-tier-01-muxers.json
  docs/json/sonarr/cf/anime-web-tier-02-top-fansubs.json
  docs/json/sonarr/cf/dubs-only.json
  docs/updates.txt
Labels: Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Area: Anime
