Repository TRaSH-Guides/Guides, pull requests merged in 2024-01, with the labels that each got.

#1718 fix(guide): Sonarr case sensitive issue
  includes/cf/sonarr-all-hdr-formats.md
  includes/cf/sonarr-optional.md
  includes/merge-quality/sonarrv4-current-logic.md
Labels: Area: Backend

#1717 chore(misc): updated the torguard affiliate code
  docs/Misc/How-to-setup-Torguard-for-port-forwarding.md
Labels: Area: Backend

#1719 Fix typo
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Area: Sonarr, Area: Backend

#1720 feat(radarr:) Remove `LEGi0N` from UHD Blu-ray Tier 03
  docs/json/radarr/cf/uhd-bluray-tier-03.json
Labels: Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1723 fix(cf-collection): BBC iPlayer named in collection table
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1725 chore(test): redirect test
  docs/update.txt
Labels: Area: Backend

#1726 Revert "chore(test): redirect test"
  docs/update.txt
Labels: Area: Backend

#1724 sort(cf-collections): alphabetically sort tables
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1722 build(strict-mode): comments and strict mode for broken link build failure
  mkdocs.yml
Labels: Area: Backend

#1731 sort(cf-collections): alphabetically sort tables (no-colons)
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1742 feat(Starr): Add RlsGrp `LCD` to CF `Bad Dual Groups`
  docs/json/radarr/cf/bad-dual-groups.json
  docs/json/sonarr/cf/bad-dual-groups.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1739 feat(starr): Added imdb id to Emby naming scheme
  docs/Radarr/Radarr-recommended-naming-scheme.md
  docs/Sonarr/Sonarr-recommended-naming-scheme.md
  docs/json/radarr/naming/radarr-naming.json
  docs/json/sonarr/naming/sonarr-naming.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Naming

#1741 fix(Starr): Add non existing preferred language for Sonarr
  docs/Radarr/Tips/How-to-setup-language-custom-formats.md
Labels: Area: Radarr, Area: Backend

#1735 update(cf/repack-proper): separate repack and proper cfs in sonarr/radarr
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Radarr/radarr-setup-quality-profiles.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-setup-quality-profiles.md
  docs/json/radarr/cf/proper.json
  docs/json/radarr/cf/repack.json
  docs/json/sonarr/cf/proper.json
  docs/json/sonarr/cf/repack.json
  includes/cf/radarr-misc.md
  includes/cf/sonarr-misc.md
  includes/sqp/uhd-radarr-misc.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1748 Revert "update(cf/repack-proper): separate repack and proper cfs in sonarr/radarr"
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Radarr/radarr-setup-quality-profiles.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-setup-quality-profiles.md
  docs/json/radarr/cf/proper.json
  docs/json/radarr/cf/repack-proper.json
  docs/json/sonarr/cf/proper.json
  docs/json/sonarr/cf/repack-proper.json
  includes/cf/radarr-misc.md
  includes/cf/sonarr-misc.md
  includes/sqp/uhd-radarr-misc.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1746 style(guide): Update dv-hdr10plus.json to have consistent naming
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/dv-hdr10plus.json
  docs/json/sonarr/cf/dv-hdr10plus.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1738 fix(sonarr): remove v3 version from index
  docs/Sonarr/index.md
Labels: Area: Sonarr, Area: Backend

#1752 feat(radarr): Add RlsGrp `MarkII` to `LQ`
  docs/json/radarr/cf/lq.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1755 update link to Pullio documentation
  docs/Hardlinks/How-to-setup-for/Synology.md
Labels: Area: Backend

#1753 feat(guide): Add to the unRaid Hardlinks Guide The fastest way to create the needed subfolders
  docs/Hardlinks/How-to-setup-for/Unraid.md
Labels: Area: Backend

#1756 feat(guide): Add `DV HDR10+` description in the quality profile guide
  docs/Radarr/images/flowchart-hdr10plus-boost.png
  includes/cf/radarr-all-hdr-formats.md
  includes/cf/sonarr-all-hdr-formats.md
Labels: Area: Radarr, Area: Backend

#1758 feat(guide): Collection of Custom Formats - HQ Release Groups - Improve description
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1760 feat(guide): Collection of Custom Formats - HDR Formats - Improve description
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  includes/cf-descriptions/dolby-vision.md
  includes/cf-descriptions/dv-hdr10.md
  includes/cf-descriptions/dv-hdr10plus.md
  includes/cf-descriptions/dv-hlg.md
  includes/cf-descriptions/dv-sdr.md
  includes/cf-descriptions/dv.md
  includes/cf-descriptions/hdr-formats-info.md
  includes/cf-descriptions/hdr-undefined.md
  includes/cf-descriptions/hdr.md
  includes/cf-descriptions/hdr10.md
  includes/cf-descriptions/hdr10plus.md
  includes/cf-descriptions/hlg.md
  includes/cf-descriptions/pq.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#1762 Docs/qbittorrent qBitrr description update
  docs/Downloaders/qBittorrent/3rd-party-tools.md
Labels: Area: Backend, Area: Downloaders

#1773 feat (Starr): Add BEN THE MEN to LQ (Release Title) Custom Formats
  docs/json/radarr/cf/lq-release-title.json
  docs/json/sonarr/cf/lq-release-title.json
Labels: Status: Confirmed, Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1777 fix(guide): SABnzbd Scripts - Updated Clean.py
  docs/Downloaders/SABnzbd/scripts/Clean/Clean.py
Labels: Area: python, Area: Backend, Area: Downloaders
