Repository TRaSH-Guides/Guides, pull requests merged in 2025-01, with the labels that each got.

#2196 fix(radarr): Add missing entries to unwanted section of the german guide
  includes/german-guide/radarr-german-unwanted-en.md
Labels: Area: Backend

#2198 feat(starr-anime): Require remux in title for NAN0
  docs/json/radarr/cf/anime-bd-tier-03-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-03-seadex-muxers.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2199 chore(cleanup): remove reference to animebytes.tv
  docs/Radarr/radarr-setup-quality-profiles-anime.md
  docs/Sonarr/sonarr-setup-quality-profiles-anime.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#2203 feat(guide): Guide Sync updates
  docs/Guide-Sync/images/sync/notifiarr-cf-audio.png
  docs/Guide-Sync/images/sync/notifiarr-cf-hdr.png
  docs/Guide-Sync/images/sync/notifiarr-cf-table.png
  docs/Guide-Sync/images/sync/notifiarr-scores.png
  docs/Guide-Sync/images/sync/notifiarr-sonarr.png
  docs/Guide-Sync/index.md
Labels: Area: Backend

#2205 feat(Guides): Add new groups to LQ custom format
  docs/json/radarr/cf/lq.json
Labels: Status: Confirmed, Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Type: Guide Request

#2204 fix(starr): add DUAL-VARYG to Dual Audio Custom Anime Format
  docs/json/radarr/cf/anime-dual-audio.json
  docs/json/sonarr/cf/anime-dual-audio.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2208 chore(guide): Updated README.md
  README.md
Labels: Area: Backend

#2211 fix(radarr): German Guide - add negated remux quality modifier to bluray groups to avoid double scoring
  docs/json/radarr/cf/german-bluray-tier-01.json
  docs/json/radarr/cf/german-bluray-tier-02.json
  docs/json/radarr/cf/german-bluray-tier-03.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2210 feat(radarr): German Guide - add "not english or german" CF and explanation for the max CF score
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Radarr/radarr-setup-quality-profiles-german-en.md
  docs/json/radarr/cf/language-not-german-english.json
  docs/json/radarr/quality-profiles/german-hd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web-alternative.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-remux-web.json
  includes/cf-descriptions/language-not-german-english.md
  includes/german-guide/radarr-german-audio-version-en.md
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2214 chore(backend-test): add `MinUpgradeFormatScore` for the 3rd party sync apps
  docs/json/radarr/quality-profiles/german-hd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web-alternative.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-remux-web.json
Labels: Area: Backend

#2215 chore(guide-sync): Added QP description and group order
  docs/json/radarr/quality-profiles/german-hd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web-alternative.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-remux-web.json
  docs/json/radarr/quality-profiles/hd-bluray-web.json
  docs/json/radarr/quality-profiles/remux-web-1080p.json
  docs/json/radarr/quality-profiles/remux-web-2160p.json
  docs/json/radarr/quality-profiles/sqp-1-1080p.json
  docs/json/radarr/quality-profiles/sqp-1-2160p.json
  docs/json/radarr/quality-profiles/sqp-1-web-1080p.json
  docs/json/radarr/quality-profiles/sqp-2.json
  docs/json/radarr/quality-profiles/sqp-3.json
  docs/json/radarr/quality-profiles/sqp-4.json
  docs/json/radarr/quality-profiles/sqp-5.json
  docs/json/radarr/quality-profiles/uhd-bluray-web.json
  docs/json/sonarr/quality-profiles/web-1080p.json
  docs/json/sonarr/quality-profiles/web-2160p.json
Labels: Area: Backend

#2200 feat(guide): add Configarr to 3rd party Guide Sync tools
  docs/Guide-Sync/index.md
Labels: Area: Backend

#2217 fix(radarr): Add RILE and W4K to German Scene; AVTOMAT to German LQ
  docs/json/radarr/cf/german-lq.json
  docs/json/radarr/cf/german-scene.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2219 feat(radarr): add ZeroTwo aliases to German Tier 01 CFs
  docs/json/radarr/cf/german-bluray-tier-01.json
  docs/json/radarr/cf/german-web-tier-01.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2220 fix(guide-german): JSON error in the Custom Formats
  docs/json/radarr/cf/german-bluray-tier-01.json
  docs/json/radarr/cf/german-web-tier-01.json
  docs/json/sonarr/cf/german-bluray-tier-01.json
  docs/json/sonarr/cf/german-web-tier-01.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2221 fix(starr): add more Groups to German Tier CFs
  docs/json/radarr/cf/german-bluray-tier-03.json
  docs/json/radarr/cf/german-lq.json
  docs/json/radarr/cf/german-scene.json
  docs/json/sonarr/cf/german-bluray-tier-01.json
  docs/json/sonarr/cf/german-lq.json
  docs/json/sonarr/cf/german-scene.json
  docs/json/sonarr/cf/german-web-tier-01.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2222 fix(starr): Remove duplicate information about Bad Dual Groups and Scene from the German Guides
  includes/german-guide/radarr-german-unwanted-en.md
  includes/german-guide/sonarr-german-unwanted-en.md
Labels: Area: Backend

#2223 fix(guide): Align navigation to be the same between radarr and sonarr section.
  docs/Sonarr/.pages
Labels: Area: Sonarr, Area: Backend

#2224 fix(starr): Increase the max custom format score of the german guide to be more than whats really actually possible
  docs/Radarr/images/german-cf-profile-language.png
  docs/Radarr/radarr-setup-quality-profiles-german-en.md
  docs/Sonarr/sonarr-setup-quality-profiles-german-en.md
  docs/json/radarr/quality-profiles/german-hd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web-alternative.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-remux-web.json
  docs/json/sonarr/quality-profiles/german-hd-bluray-web.json
  docs/json/sonarr/quality-profiles/german-hd-remux-web.json
  docs/json/sonarr/quality-profiles/german-uhd-bluray-web-alternative.json
  docs/json/sonarr/quality-profiles/german-uhd-bluray-web.json
  docs/json/sonarr/quality-profiles/german-uhd-remux-web.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#2226 chore(backend): Added mandatory todo for `Quality Profiles` to `CONTIBUTING.md`
  CONTRIBUTING.md
Labels: Area: Backend

#2225 fix(german-guide): Scoring Adjustments
  docs/Radarr/radarr-setup-quality-profiles-german-en.md
  docs/Sonarr/sonarr-setup-quality-profiles-german-en.md
  docs/json/radarr/cf/3d.json
  docs/json/radarr/cf/av1.json
  docs/json/radarr/cf/bad-dual-groups.json
  docs/json/radarr/cf/br-disk.json
  docs/json/radarr/cf/evo-no-webdl.json
  docs/json/radarr/cf/extras.json
  docs/json/radarr/cf/german-2160p-booster.json
  docs/json/radarr/cf/german-bluray-tier-01.json
  docs/json/radarr/cf/german-bluray-tier-02.json
  docs/json/radarr/cf/german-bluray-tier-03.json
  docs/json/radarr/cf/german-lq.json
  docs/json/radarr/cf/german-microsized.json
  docs/json/radarr/cf/german-remux-tier-01.json
  docs/json/radarr/cf/german-remux-tier-02.json
  docs/json/radarr/cf/language-german-dl-undefined.json
  docs/json/radarr/cf/language-german-dl.json
  docs/json/radarr/cf/language-not-german-english.json
  docs/json/radarr/cf/line-mic-dubbed.json
  docs/json/radarr/cf/lq-release-title.json
  docs/json/radarr/cf/lq.json
  docs/json/radarr/cf/no-rlsgroup.json
  docs/json/radarr/cf/obfuscated.json
  docs/json/radarr/cf/retags.json
  docs/json/radarr/cf/scene.json
  docs/json/radarr/cf/sdr-no-webdl.json
  docs/json/radarr/cf/sdr.json
  docs/json/radarr/cf/upscaled.json
  docs/json/radarr/cf/x265-no-hdrdv.json
  docs/json/sonarr/cf/av1.json
  docs/json/sonarr/cf/bad-dual-groups.json
  docs/json/sonarr/cf/br-disk.json
  docs/json/sonarr/cf/extras.json
  docs/json/sonarr/cf/german-2160p-booster.json
  docs/json/sonarr/cf/german-bluray-tier-01.json
  docs/json/sonarr/cf/german-bluray-tier-02.json
  docs/json/sonarr/cf/german-bluray-tier-03.json
  docs/json/sonarr/cf/german-lq.json
  docs/json/sonarr/cf/german-microsized.json
  docs/json/sonarr/cf/german-remux-tier-01.json
  docs/json/sonarr/cf/german-remux-tier-02.json
  docs/json/sonarr/cf/language-german-dl-undefined.json
  docs/json/sonarr/cf/language-german-dl.json
  docs/json/sonarr/cf/language-not-german-english.json
  docs/json/sonarr/cf/lq.json
  docs/json/sonarr/cf/scene.json
  docs/json/sonarr/cf/sdr-no-webdl.json
  docs/json/sonarr/cf/sdr.json
  docs/json/sonarr/cf/upscaled.json
  docs/json/sonarr/cf/x265-no-hdrdv.json
  includes/german-guide/radarr-german-misc-optional.md
  includes/german-guide/radarr-german-misc-uhd-optional.md
  includes/german-guide/radarr-german-unwanted-en.md
  includes/german-guide/sonarr-german-misc-optional.md
  includes/german-guide/sonarr-german-misc-uhd-optional.md
  includes/german-guide/sonarr-german-unwanted-en.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2230 feat(starr-anime): Enhance Bilibili Streaming Service and Remux Tier CFs
  docs/json/radarr/cf/anime-bd-tier-05-remuxes.json
  docs/json/sonarr/cf/anime-bd-tier-05-remuxes.json
  docs/json/sonarr/cf/bilibili.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2235 feat(sonarr-anime): Add Yangire-Raws to FR anime fansub
  docs/json/sonarr/cf/french-anime-fansub.json
Labels: Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#2236 chore(backend): Added PR naming information to the CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Area: Backend

#2237 feat(starr): Added Custom Format to boost 720p, 1080p and/or 2160p releases
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  includes/cf-descriptions/1080p.md
  includes/cf-descriptions/2160p.md
  includes/cf-descriptions/720p.md
  includes/german-guide/radarr-cf-german-resolution-scoring-en.md
  includes/german-guide/radarr-cf-german-resolution-scoring-hd-only-en.md
  includes/german-guide/sonarr-cf-german-resolution-scoring-en.md
  includes/german-guide/sonarr-cf-german-resolution-scoring-hd-only-en.md
  includes/sqp/hd-radarr-resolution.md
  includes/sqp/uhd-radarr-resolution.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#2241 feat(Radarr): Add new Black and White Editions custom format
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/json/radarr/cf-groups/misc-optional.json
  docs/json/radarr/cf-groups/misc-uhd-optional.json
  docs/json/radarr/cf-groups/sqp-1-1080p-misc-optional.json
  docs/json/radarr/cf-groups/sqp-1-2160p-misc-optional.json
  docs/json/radarr/cf-groups/sqp-2-3-4-5-misc-optional.json
  docs/json/radarr/cf/black-and-white-editions.json
  includes/cf/radarr-misc-optional.md
  includes/sqp/1-4k-cf-scoring-sqp1.md
  includes/sqp/hd-radarr-misc-optional.md
Labels: Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Type: Guide Request

#2240 fix(Starr): Fix HDR10 regex to correctly exclude +/Plus
  docs/json/radarr/cf/hdr-undefined.json
  docs/json/radarr/cf/hdr.json
  docs/json/radarr/cf/hdr10.json
  docs/json/radarr/cf/hlg.json
  docs/json/radarr/cf/pq.json
  docs/json/sonarr/cf/hdr-undefined.json
  docs/json/sonarr/cf/hdr.json
  docs/json/sonarr/cf/hdr10.json
  docs/json/sonarr/cf/hlg.json
  docs/json/sonarr/cf/pq.json
Labels: Type: Bug, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2244 style(radarr): table formatting
  docs/Radarr/Radarr-collection-of-custom-formats.md
Labels: Area: Radarr, Area: Backend

#2239 feat(gha): update pr naming check regex
  .github/workflows/pr-naming-check.yml
Labels: Type: Enhancement, Area: github_actions, Area: Backend

#2228 feat(starr-german): German Tier update
  docs/json/radarr/cf/german-bluray-tier-01.json
  docs/json/radarr/cf/german-bluray-tier-03.json
  docs/json/radarr/cf/german-lq.json
  docs/json/radarr/cf/german-remux-tier-01.json
  docs/json/radarr/cf/german-remux-tier-02.json
  docs/json/radarr/cf/german-scene.json
  docs/json/radarr/cf/german-web-tier-01.json
  docs/json/sonarr/cf/german-bluray-tier-01.json
  docs/json/sonarr/cf/german-bluray-tier-03.json
  docs/json/sonarr/cf/german-lq.json
  docs/json/sonarr/cf/german-remux-tier-02.json
  docs/json/sonarr/cf/german-scene.json
  docs/json/sonarr/cf/german-web-tier-01.json
  docs/json/sonarr/cf/german-web-tier-03.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2245 feat(Starr): Add BYNDR to WEB Tier 03
  docs/json/radarr/cf/web-tier-03.json
  docs/json/sonarr/cf/web-tier-03.json
Labels: Type: Enhancement, Status: Review Needed, Area: Starr Custom Formats, Type: Guide Request

#2246 feat(radarr): Add new Sing-Along Versions custom format
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/json/radarr/cf/sing-along-versions.json
  docs/json/radarr/quality-profiles/hd-bluray-web.json
  docs/json/radarr/quality-profiles/remux-web-1080p.json
  docs/json/radarr/quality-profiles/remux-web-2160p.json
  docs/json/radarr/quality-profiles/sqp-1-1080p.json
  docs/json/radarr/quality-profiles/sqp-1-2160p.json
  docs/json/radarr/quality-profiles/sqp-1-web-1080p.json
  docs/json/radarr/quality-profiles/sqp-2.json
  docs/json/radarr/quality-profiles/sqp-3.json
  docs/json/radarr/quality-profiles/sqp-4.json
  docs/json/radarr/quality-profiles/sqp-5.json
  docs/json/radarr/quality-profiles/uhd-bluray-web.json
  includes/cf/radarr-unwanted-uhd.md
  includes/cf/radarr-unwanted.md
  includes/sqp/radarr-unwanted-sqp1.md
  includes/sqp/radarr-unwanted-uhd-sqp1.md
Labels: Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Starr Custom Formats, Type: Guide Request

#2247 feat(starr-anime): Add MALD and Half-Baked to Anime Web Tier 2
  docs/json/radarr/cf/anime-web-tier-02-top-fansubs.json
  docs/json/sonarr/cf/anime-web-tier-02-top-fansubs.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2249 feat(starr-anime): Add DemiHuman to Anime BD Tier 02
  docs/json/radarr/cf/anime-bd-tier-02-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-02-seadex-muxers.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats
