Repository TRaSH-Guides/Guides, pull requests merged in 2025-06, with the labels that each got.

#2406 feat(radarr): Add READ NOTE to Radarr lq-release-title.json
  docs/json/radarr/cf/lq-release-title.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2410 feat(starr): Improve the HDR Formats layout in the Starr profiles
  includes/cf/dv-info-profiles.md
  includes/cf/dv-limitations-atv.md
  includes/cf/radarr-all-hdr-formats.md
  includes/cf/sonarr-all-hdr-formats.md
Labels: Area: Backend

#2403 feat(downloaders): Add `sln` and `vcxproj` to the SABnzbd/NZBGet Unwanted Extensions List
  docs/Downloaders/NZBGet/Basic-Setup.md
  docs/Downloaders/SABnzbd/Basic-Setup.md
  includes/downloaders/unwanted-extensions.md
Labels: Area: Backend, Area: Downloaders

#2414 feat(guide-sync): Added SQP-3 (Audio)
  docs/json/radarr/cf-groups/audio-formats.json
  docs/json/radarr/cf-groups/hdr-formats.json
  docs/json/radarr/cf-groups/optional-misc.json
  docs/json/radarr/cf-groups/optional-resolutions.json
  docs/json/radarr/cf-groups/release-groups-french.json
  docs/json/radarr/cf-groups/release-groups-german.json
  docs/json/radarr/cf-groups/release-groups.json
  docs/json/radarr/cf-groups/required-golden-rule-hd.json
  docs/json/radarr/cf-groups/streaming-services-anime.json
  docs/json/radarr/quality-profiles/sqp-3-audio.json
Labels: Area: Backend
