Repository TRaSH-Guides/Guides, pull requests merged in 2025-05, with the labels that each got.

#2388 fix(radarr): PiRaTeS & EVO LQ (Release Title) regex
  docs/json/radarr/cf/lq-release-title.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2389 feat(downloaders): Added a description of what the mover script does + Mover Tuning tips
  docs/Downloaders/Deluge/Tips/Unraid-Mover.md
  docs/Downloaders/qBittorrent/Tips/How-to-run-the-unRaid-mover-for-qBittorrent.md
  includes/downloaders/mover-workflow.md
Labels: Area: Backend, Area: Downloaders

#2391 feat(radarr): Add `ZoroSenpai` to `HD Bluray Tier 01` and `WEB Tier 01`
  docs/json/radarr/cf/hd-bluray-tier-01.json
  docs/json/radarr/cf/web-tier-01.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2393 fix(starr-german): Add german audio block to sonarr and radarr HD remux profiles
  docs/Radarr/radarr-setup-quality-profiles-german-en.md
  docs/Sonarr/sonarr-setup-quality-profiles-german-en.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#2397 ci(markdownlint): disable MD036 and MD059 markdownlint rules
  .github/workflows/lint-markdown.yml
  .markdownlint.yaml
Labels: Area: github_actions, Area: Backend

#2398 chore(starr): remove duplicate guide-only CFs
  docs/Radarr/Tips/How-to-setup-language-custom-formats.md
  docs/json/guide-only/language-not-english.json
  docs/json/guide-only/language-not-original.json
Labels: Area: Radarr, Area: Backend

#2396 feat(radarr): add AOC to LQ
  docs/json/radarr/cf/lq.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2402 Revert "feat(starr): add `BiOMA` and `sh4down` to Bad Dual Groups
  docs/json/radarr/cf/bad-dual-groups.json
  docs/json/sonarr/cf/bad-dual-groups.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2400 fix(starr-german): add ML to German CF to avoid matching ML
  docs/json/radarr/cf/language-german.json
  docs/json/sonarr/cf/language-german.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats
