Repository TRaSH-Guides/Guides, pull requests merged in 2025-04, with the labels that each got.

#2353 feat(downloaders): Updated the NZBGet Guide (Approved by the NZBGet Team)
  docs/Downloaders/NZBGet/Basic-Setup.md
  docs/Downloaders/NZBGet/Paths-and-Categories.md
  docs/Downloaders/NZBGet/images/categories.png
  docs/Downloaders/NZBGet/images/checkAndRepair.png
  docs/Downloaders/NZBGet/images/extScripts.png
  docs/Downloaders/NZBGet/images/extension-manager.png
  docs/Downloaders/NZBGet/images/incoming.png
  docs/Downloaders/NZBGet/images/newsservers.png
  docs/Downloaders/NZBGet/images/paths.png
  docs/Downloaders/NZBGet/images/queue.png
  docs/Downloaders/NZBGet/images/radarr-download-clients-nzbget.png
  docs/Downloaders/NZBGet/images/radarr-settings-download-clients.png
  docs/Downloaders/NZBGet/images/sonarr-download-clients-nzbget.png
  docs/Downloaders/NZBGet/images/sonarr-settings-download-clients.png
  docs/Downloaders/NZBGet/images/unpack.png
  docs/Downloaders/NZBGet/index.md
  docs/Downloaders/NZBGet/scripts/HashRenamer/HashRenamer.py
  docs/Downloaders/NZBGet/scripts/WtFnZb-Renamer/WtFnZb-Renamer.py
  docs/Downloaders/NZBGet/scripts/index.md
  docs/File-and-Folder-Structure/images/nzbget-settings-categories.png
  docs/File-and-Folder-Structure/images/nzbget-settings-paths.png
  includes/guides/screenshots-are-examples-warning.md
Labels: Area: Python, Area: Backend, Area: Downloaders

#2356 fix(downloaders): run dos2unix before executing
  docs/Downloaders/NZBGet/scripts/index.md
  docs/Downloaders/SABnzbd/scripts/index.md
Labels: Area: Backend, Area: Downloaders

#2357 feat(glossary): add SCENE
  docs/Glossary/index.md
Labels: Area: Backend

#2358 feat(guide-sync): Add `French MULTi.VO` profiles for Radarr
  docs/json/radarr/cf-groups/advanced-audio-formats.json
  docs/json/radarr/cf-groups/dolby-vision-incompatible-devices.json
  docs/json/radarr/cf-groups/dv-hdr10-and-hdr10-boost.json
  docs/json/radarr/cf-groups/hdr-formats.json
  docs/json/radarr/cf-groups/optional-misc-sqp.json
  docs/json/radarr/cf-groups/optional-resolutions.json
  docs/json/radarr/cf-groups/optional-sdr.json
  docs/json/radarr/cf-groups/release-groups-french.json
  docs/json/radarr/cf-groups/release-groups-german.json
  docs/json/radarr/cf-groups/release-groups.json
  docs/json/radarr/cf-groups/required-golden-rule-hd.json
  docs/json/radarr/cf-groups/required-golden-rule-uhd.json
  docs/json/radarr/cf-groups/sqp-single-radarr.json
  docs/json/radarr/dummy-files/radarr-dummy-quality-profiles.json
  docs/json/radarr/quality-profiles/french-multi-vo-hd-bluray-web.json
  docs/json/radarr/quality-profiles/french-multi-vo-hd-remux-web.json
  docs/json/radarr/quality-profiles/french-multi-vo-uhd-bluray-web.json
  docs/json/radarr/quality-profiles/french-multi-vo-uhd-remux-web.json
  docs/json/sonarr/dummy-files/sonarr-dummy-quality-profiles.json
Labels: Area: Backend

#2359 chore(guide-sync): Remove Recyclarr config templates
  .github/labeler.yml
  docs/recyclarr-configs/README.md
  metadata.json
  metadata.schema.json
Labels: Area: github_actions, Area: Backend, Area: Recyclarr

#2361 fix(guide-sync): `French MULTi.VO` profiles for Radarr
  docs/json/radarr/quality-profiles/french-multi-vo-uhd-bluray-web.json
  docs/json/radarr/quality-profiles/french-multi-vo-uhd-remux-web.json
Labels: Area: Backend

#2364 feat(hardlinks): Added a permissions note to Unraid if a user creates folders as root
  docs/File-and-Folder-Structure/How-to-set-up/Unraid.md
Labels: Area: Backend

#2363 fix(radarr): Add missing Custom Format `Repack3` to all applicable guide profiles
  includes/sqp/1-4k-merge-qualities-sqp1.md
  includes/sqp/1-4k-newqp-sqp1.md
  includes/sqp/1-4k-qp-settings-sqp1.md
  includes/sqp/1-4k-quality-size.md
  includes/sqp/1-4k-select-qualities-sqp1.md
  includes/sqp/1-4k-streaming-services.md
  includes/sqp/1-cf-scoring.md
  includes/sqp/1-newqp.md
  includes/sqp/1-qp-settings.md
  includes/sqp/1-quality-size.md
  includes/sqp/1-select-qualities.md
  includes/sqp/1-streaming-services.md
  includes/sqp/2-cf-scoring.md
  includes/sqp/2-merge-qualities.md
  includes/sqp/2-newqp.md
  includes/sqp/2-qp-settings.md
  includes/sqp/2-quality-size.md
  includes/sqp/2-select-qualities.md
  includes/sqp/2-why.md
  includes/sqp/2-workflow.md
  includes/sqp/3-cf-scoring.md
  includes/sqp/3-merge-qualities.md
  includes/sqp/3-newqp.md
  includes/sqp/3-qp-settings.md
  includes/sqp/3-quality-size.md
  includes/sqp/3-select-qualities.md
  includes/sqp/3-why.md
  includes/sqp/3-workflow.md
  includes/sqp/4-cf-scoring.md
  includes/sqp/4-merge-qualities.md
  includes/sqp/4-newqp.md
  includes/sqp/4-qp-settings.md
  includes/sqp/4-quality-size.md
  includes/sqp/4-select-qualities.md
  includes/sqp/4-why.md
  includes/sqp/4-workflow.md
  includes/sqp/5-cf-scoring.md
  includes/sqp/5-merge-qualities.md
  includes/sqp/5-newqp.md
  includes/sqp/5-qp-settings.md
  includes/sqp/5-quality-size.md
  includes/sqp/5-select-qualities.md
  includes/sqp/5-why.md
  includes/sqp/5-workflow.md
  includes/sqp/hd-radarr-misc-optional.md
  includes/sqp/radarr-unwanted-sqp1.md
  includes/sqp/radarr-unwanted-uhd-sqp1.md
  includes/sqp/uhd-radarr-misc-required.md
  includes/sqp/wip.md
Labels: Area: Backend

#2365 feat(guide-sync): Add `French MULTi.VO` profiles for Sonarr
  docs/json/sonarr/cf-groups/advanced-audio-formats.json
  docs/json/sonarr/cf-groups/dolby-vision-incompatible-devices.json
  docs/json/sonarr/cf-groups/dv-hdr10-and-hdr10-boost.json
  docs/json/sonarr/cf-groups/hdr-formats.json
  docs/json/sonarr/cf-groups/optional-sdr.json
  docs/json/sonarr/cf-groups/release-groups-french.json
  docs/json/sonarr/cf-groups/release-groups.json
  docs/json/sonarr/cf-groups/required-golden-rule-hd.json
  docs/json/sonarr/cf-groups/required-golden-rule-uhd.json
  docs/json/sonarr/cf-groups/streaming-services-anime.json
  docs/json/sonarr/cf-groups/streaming-services-french.json
  docs/json/sonarr/quality-profiles/french-multi-vo-bluray-web-1080p.json
  docs/json/sonarr/quality-profiles/french-multi-vo-bluray-web-2160p.json
Labels: Area: Backend

#2343 feat(starr): Update the DV information for the Infuse player, which appears to support the CMv4.0 metadata
  docs/Radarr/radarr-setup-quality-profiles.md
  docs/Sonarr/sonarr-setup-quality-profiles.md
  includes/cf/audio-info.md
  includes/cf/audio-limitations-atv.md
  includes/cf/dv-info-green-purple.md
  includes/cf/dv-info-profiles.md
  includes/cf/dv-limitations-atv.md
  includes/cf/radarr-all-hdr-formats.md
  includes/cf/sonarr-all-hdr-formats.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#2367 feat(starr-anime): Move Some-Stuffs to Anime Web Tier 05
  docs/json/radarr/cf/anime-web-tier-04-official-subs.json
  docs/json/radarr/cf/anime-web-tier-05-fansubs.json
  docs/json/sonarr/cf/anime-web-tier-04-official-subs.json
  docs/json/sonarr/cf/anime-web-tier-05-fansubs.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2371 fix(guide): broken shields in the index.md
  docs/index.md
Labels: Area: Backend

#2370 feat(starr-german): Tier update
  docs/json/radarr/cf/german-bluray-tier-02.json
  docs/json/radarr/cf/german-bluray-tier-03.json
  docs/json/radarr/cf/german-lq.json
  docs/json/radarr/cf/german-remux-tier-02.json
  docs/json/radarr/cf/german-scene.json
  docs/json/radarr/cf/german-web-tier-02.json
  docs/json/radarr/cf/german-web-tier-03.json
  docs/json/sonarr/cf/german-bluray-tier-03.json
  docs/json/sonarr/cf/german-microsized.json
  docs/json/sonarr/cf/german-remux-tier-02.json
  docs/json/sonarr/cf/german-scene.json
  docs/json/sonarr/cf/german-web-tier-03.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2372 feat(starr): Add tag option to `How to Sync 2 Radarr/Sonarr with each other`
  docs/Radarr/Tips/Sync-2-radarr-sonarr.md
  docs/Radarr/Tips/images/radarr-add-lists-options-tags.png
  docs/Radarr/Tips/images/radarr-add-tag-manual.png
  docs/Radarr/Tips/images/radarr-auto-tagging-add-auto-tag.png
  docs/Radarr/Tips/images/radarr-auto-tagging-add-condition-final-steps.png
  docs/Radarr/Tips/images/radarr-auto-tagging-add-condition-root-folder.png
  docs/Radarr/Tips/images/radarr-auto-tagging-add-condition.png
  docs/Radarr/Tips/images/radarr-settings-lists.png
  docs/Radarr/Tips/images/radarr-tags-3rd-party-app-jellyseerr.png
  includes/annotations/sync-2-radarr-sonar.md
Labels: Area: Radarr, Area: Backend

#2375 fix(guide-sync): Remove the exclude from the `DV HDR10+/HDR10+ Boost` group.
  docs/json/radarr/cf-groups/dv-hdr10-and-hdr10-boost.json
Labels: Area: Backend

#2377 feat(starr): Add BTM to LQ Custom Formats
  docs/json/radarr/cf/lq.json
  docs/json/sonarr/cf/lq.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2380 fix(sonarr-french): update cf-groups/release-groups-french.json
  docs/json/sonarr/cf-groups/release-groups-french.json
Labels: Area: Backend

#2381 style(misc): fixed some typos
  docs/Downloaders/NZBGet/Basic-Setup.md
  docs/Downloaders/SABnzbd/scripts/index.md
  docs/Downloaders/qBittorrent/Basic-Setup.md
Labels: Area: Backend, Area: Downloaders

#2385 feat(radarr): Do not match RlsGrp `PiRaTeS` when it is a WEB-DL
  docs/json/radarr/cf/lq-release-title.json
  docs/json/radarr/cf/lq.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2386 feat(radarr): DELETE CF `EVO (no WEBDL)` and move to `LQ (Release Title)`
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/json/radarr/cf-groups/optional-misc-sqp.json
  docs/json/radarr/cf-groups/optional-misc.json
  docs/json/radarr/cf/evo-no-webdl.json
  docs/json/radarr/cf/lq-release-title.json
  includes/cf-descriptions/evo-no-webdl.md
  includes/cf/radarr-misc-optional.md
  includes/german-guide/radarr-german-misc-optional.md
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats
