Repository TRaSH-Guides/Guides, pull requests merged in 2025-02, with the labels that each got.

#2248 feat(starr-german): [NEW] CF: `German LQ (Release Title)`, Added: `Real.Proper` to repack CFs, and some other guide improvements
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  docs/json/radarr/cf/german-1080p-booster.json
  docs/json/radarr/cf/german-bluray-tier-01.json
  docs/json/radarr/cf/german-bluray-tier-02.json
  docs/json/radarr/cf/german-bluray-tier-03.json
  docs/json/radarr/cf/german-lq-release-title.json
  docs/json/radarr/cf/german-remux-tier-01.json
  docs/json/radarr/cf/german-remux-tier-02.json
  docs/json/radarr/cf/german-scene.json
  docs/json/radarr/cf/german-web-tier-01.json
  docs/json/radarr/cf/language-german.json
  docs/json/radarr/cf/repack2.json
  docs/json/radarr/cf/repack3.json
  docs/json/radarr/quality-profiles/german-hd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web-alternative.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-remux-web.json
  docs/json/sonarr/cf/german-1080p-booster.json
  docs/json/sonarr/cf/german-bluray-tier-01.json
  docs/json/sonarr/cf/german-bluray-tier-02.json
  docs/json/sonarr/cf/german-bluray-tier-03.json
  docs/json/sonarr/cf/german-lq-release-title.json
  docs/json/sonarr/cf/german-remux-tier-01.json
  docs/json/sonarr/cf/german-remux-tier-02.json
  docs/json/sonarr/cf/german-scene.json
  docs/json/sonarr/cf/german-web-tier-01.json
  docs/json/sonarr/cf/language-german.json
  docs/json/sonarr/cf/repack-v2.json
  docs/json/sonarr/cf/repack-v3.json
  docs/json/sonarr/quality-profiles/german-hd-bluray-web.json
  docs/json/sonarr/quality-profiles/german-hd-remux-web.json
  docs/json/sonarr/quality-profiles/german-uhd-bluray-web-alternative.json
  docs/json/sonarr/quality-profiles/german-uhd-bluray-web.json
  docs/json/sonarr/quality-profiles/german-uhd-remux-web.json
  includes/german-guide/radarr-german-unwanted-en.md
  includes/german-guide/sonarr-german-unwanted-en.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2255 fix(guide-sync): Add HD audio formats for the remux profiles
  docs/json/radarr/cf-groups/advanced-audio-formats.json
Labels: Area: Backend

#2259 feat(radarr): Only match B&W edition after year
  docs/json/radarr/cf/black-and-white-editions.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2262 ci(gha): fix PR building comment isses
  .github/workflows/deploy-pr.yml
Labels: Area: github_actions, Area: Backend

#2264 feat(starr): Add `EZTVx.to`, `eztv.io`, (etc.) to the Retags Custom Format
  docs/json/radarr/cf/retags.json
  docs/json/sonarr/cf/retags.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2254 feat(starr-german): add LQ (release title) CF to the german guide
  docs/json/sonarr/cf/lq-release-title.json
  includes/german-guide/radarr-german-unwanted-en.md
  includes/german-guide/sonarr-german-unwanted-en.md
Labels: Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#2261 fix(sonarr-french): CF on FR Anime Tier 3 (kazuizui)
  docs/json/sonarr/cf/french-anime-tier-03.json
Labels: Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#2265 feat(starr-anime): Fix CRUCiBLE regex
  docs/json/radarr/cf/anime-bd-tier-03-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-03-seadex-muxers.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2272 feat(guide): Add `quality-profile` and `cf-groups` info to `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: Area: Backend

#2273 fix(guide): Fixed: broken link `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: Area: Backend

#2250 feat(starr-german): Add Groups to German Tiers
  docs/json/radarr/cf/german-bluray-tier-01.json
  docs/json/radarr/cf/german-lq-release-title.json
  docs/json/radarr/cf/german-microsized.json
  docs/json/radarr/cf/german-remux-tier-01.json
  docs/json/radarr/cf/german-scene.json
  docs/json/sonarr/cf/german-lq-release-title.json
  docs/json/sonarr/cf/german-microsized.json
  docs/json/sonarr/cf/german-scene.json
  docs/json/sonarr/cf/german-web-tier-02.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2275 Revert "build(deps): bump mkdocs-material from 9.6.1 to 9.6.3"
  docs/requirements.txt
Labels: Area: Backend

#2277 Revert "Revert "build(deps): bump mkdocs-material from 9.6.1 to 9.6.3…
  docs/requirements.txt
Labels: Area: Backend

#2276 feat(gha): change hide_announce to evaluate again hostname
  docs/js/hide_announce.js
Labels: Area: Backend

#2274 feat(sonarr): Add CREATiVE24 to Sonarr LQ (Release Title) CF
  docs/json/sonarr/cf/lq-release-title.json
Labels: Status: Confirmed, Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Backend, Area: Starr Custom Formats, Type: Guide Request

#2279 feat(gha): remove redundant sha lookup
  .github/workflows/deploy-pr.yml
Labels: Area: github_actions, Area: Backend

#2280 fix(hardlinks): Removed outdated NZBGet message
  docs/File-and-Folder-Structure/Examples.md
Labels: Area: Backend

#2257 feat(radarr-german): add Radarr Remux 1080p Profile to German Guide
  docs/Radarr/radarr-setup-quality-profiles-german-en.md
  docs/json/radarr/quality-profiles/german-hd-remux-web.json
Labels: Area: Radarr, Area: Backend

#2281 fix(starr-german): Make DL Tag required and negated for the German Language CF to avoid double scoring.
  docs/json/radarr/cf/language-german.json
  docs/json/sonarr/cf/language-german.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2284 feat(misc): Updated the `x265-4k` aka `The Golden Rule`
  docs/Misc/x265-4k.md
  includes/docker/x265.md
Labels: Area: Backend

#2285 fix(guide-sync): Profile exclusions
  docs/json/radarr/cf-groups/dolby-vision-incompatible-devices.json
  docs/json/radarr/cf-groups/required-golden-rule-hd.json
  docs/json/radarr/cf-groups/required-golden-rule-uhd.json
  docs/json/radarr/quality-profiles/german-hd-bluray-web.json
  docs/json/radarr/quality-profiles/german-hd-remux-web.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web-alternative.json
  docs/json/radarr/quality-profiles/german-uhd-bluray-web.json
  docs/json/radarr/quality-profiles/german-uhd-remux-web.json
  docs/json/radarr/quality-profiles/hd-bluray-web.json
  docs/json/radarr/quality-profiles/remux-2160p-alternative.json
  docs/json/radarr/quality-profiles/remux-2160p-combined.json
  docs/json/radarr/quality-profiles/sqp-2.json
  docs/json/radarr/quality-profiles/sqp-3.json
  docs/json/radarr/quality-profiles/sqp-4.json
  docs/json/radarr/quality-profiles/sqp-5.json
  docs/json/sonarr/cf-groups/dolby-vision-incompatible-devices.json
  docs/json/sonarr/cf-groups/streaming-services-anime.json
Labels: Area: Backend

#2283 feat(starr-anime): Fix PMR regex to match if at end of filename
  docs/json/radarr/cf/anime-bd-tier-05-remuxes.json
  docs/json/sonarr/cf/anime-bd-tier-05-remuxes.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2288 feat(starr-anime): Add shincaps to Anime LQ Groups
  docs/json/radarr/cf/anime-lq-groups.json
  docs/json/sonarr/cf/anime-lq-groups.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2292 feat(sonarr): Remove Remuxes from Sonarr Alternative Quality Profiles
  docs/Sonarr/images/cf-profile-alternative-web2160.png
  docs/Sonarr/sonarr-setup-quality-profiles.md
Labels: Status: Confirmed, Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Backend

#2291 feat(radarr): Update Radarr Tiers
  docs/json/radarr/cf/hd-bluray-tier-03.json
  docs/json/radarr/cf/remux-tier-03.json
  docs/json/radarr/cf/web-tier-03.json
Labels: Status: Confirmed, Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Type: Guide Request

#2294 feat(guide): Add basic information for how Custom Format scoring works
  docs/Radarr/radarr-setup-quality-profiles.md
  docs/Sonarr/sonarr-setup-quality-profiles.md
  includes/shared/custom-format-basic-scoring-information.md
Labels: Status: Confirmed, Type: Enhancement, Status: Review Needed, Area: Sonarr, Area: Radarr, Area: Backend, Type: Guide Request

#2290 fix(starr): SCENE custom formats matching most German language releases.
  docs/json/radarr/cf/scene.json
  docs/json/sonarr/cf/scene.json
Labels: Status: Confirmed, Type: Bug, Status: Review Needed, Area: Starr Custom Formats

#2286 feat(starr-anime): French Radarr Anime guide + fixes
  docs/Radarr/Radarr-Quality-Settings-File-Size.md
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Radarr/radarr-setup-quality-profiles-anime.md
  docs/Radarr/radarr-setup-quality-profiles-french-en.md
  docs/Radarr/radarr-setup-quality-profiles-french-fr.md
  docs/Sonarr/sonarr-setup-quality-profiles-french-en.md
  docs/Sonarr/sonarr-setup-quality-profiles-french-fr.md
  docs/json/radarr/cf/french-anime-fansub.json
  docs/json/radarr/cf/french-anime-tier-01.json
  docs/json/radarr/cf/french-anime-tier-02.json
  docs/json/radarr/cf/french-anime-tier-03.json
  docs/json/radarr/cf/french-hd-bluray-tier-01.json
  docs/json/radarr/cf/french-hd-bluray-tier-02.json
  docs/json/radarr/cf/french-scene.json
  docs/json/radarr/cf/french-vostfr.json
  docs/json/radarr/cf/french-web-tier-01.json
  docs/json/radarr/cf/french-web-tier-02.json
  docs/json/radarr/cf/language-not-french.json
  docs/json/radarr/cf/language-not-original.json
  docs/json/radarr/cf/language-original-plus-french.json
  docs/json/radarr/cf/repack-proper.json
  docs/json/radarr/cf/repack2.json
  docs/json/radarr/cf/repack3.json
  docs/json/radarr/quality-size/anime.json
  includes/cf/radarr-anime-misc-required.md
  includes/french-guide/radarr-cf-french-anime-scoring-en.md
  includes/french-guide/radarr-cf-french-anime-scoring-fr.md
  includes/french-guide/radarr-french-anime-info-en.md
  includes/french-guide/radarr-french-anime-info-fr.md
  includes/french-guide/sonarr-cf-french-anime-scoring-en.md
  includes/french-guide/sonarr-cf-french-anime-scoring-fr.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats
