Repository TRaSH-Guides/Guides, pull requests merged in 2025-07, with the labels that each got.

#2422 fix(starr): Update the maximum file size score to reflect the new maximum file size.
  docs/Radarr/Radarr-Quality-Settings-File-Size.md
  docs/Sonarr/Sonarr-Quality-Settings-File-Size.md
  includes/starr/quality-size-preferred-info.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#2426 fix(starr): remove sphd
  docs/json/radarr/cf/scene.json
  docs/json/sonarr/cf/scene.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2428 feat(radarr): Increase SQP quality size for WEBDL/WEBRip-1080p
  docs/json/radarr/quality-size/sqp-streaming.json
Labels: Area: Radarr, Area: Backend

#2421 ci: 💚 refactor GHA lint tools
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/automatic-changelog.yml
  .github/workflows/conflicts.yml
  .github/workflows/custom-format-validation.yml
  .github/workflows/deploy-pr.yml
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/lint-editor.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-yaml.yml
  .github/workflows/lint.yml
  .github/workflows/metadata-validation.yml
  .github/workflows/mkdocs_bug_prevent.yml
  .github/workflows/pr-naming-check.yml
  .github/workflows/trigger-pr-deploy.yml
  .github/workflows/update_contributors.yml
  .yamllint.yml
Labels: Area: github_actions, Area: Backend

#2436 feat(guide): Add `E` to Radarr `LQ` custom format
  docs/json/radarr/cf/lq.json
Labels: Status: Confirmed, Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Starr Custom Formats, Type: Guide Request

#2416 feat(starr): Updated the Starr naming scheme and made it as consistent as possible
  docs/json/radarr/naming/radarr-naming.json
  docs/json/sonarr/naming/sonarr-naming.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Naming
