Repository TRaSH-Guides/Guides, pull requests merged in 2025-08, with the labels that each got.

#2449 chore(gha): update contributors and remove complexity
  .github/scripts/update-contributors.js
  .github/workflows/update_contributors.yml
Labels: Area: github_actions, Area: Backend

#2457 chore(misc): improve Renovate configuration with PR method and smart dependency grouping
  .github/renovate.json
Labels: Area: Backend

#2466 feat(radarr): Add DRX to LQ
  docs/json/radarr/cf/lq.json
Labels: Status: Confirmed, Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Type: Guide Request

#2464 feat(starr): Move RlsGrp `BYNDR` to `WEB Tier 02`
  docs/json/radarr/cf/web-tier-02.json
  docs/json/radarr/cf/web-tier-03.json
  docs/json/sonarr/cf/web-tier-02.json
  docs/json/sonarr/cf/web-tier-03.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2470 feat(radarr): Add RlsGrp `TheFarm` to `WEB Tier 01`
  docs/json/radarr/cf/thefarm.json
  docs/json/radarr/cf/web-tier-01.json
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2473 feat(starr-anime): Add Headpatter to Anime Tier 03
  docs/json/radarr/cf/anime-bd-tier-03-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-03-seadex-muxers.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2477 update(anime): remove CRUCiBLE due to retagging
  docs/json/radarr/cf/anime-bd-tier-03-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-03-seadex-muxers.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats
