Repository TRaSH-Guides/Guides, pull requests merged in 2025-03, with the labels that each got.

#2307 fix(sonarr): Fix broken link on French Sonarr CF Multi
  includes/french-guide/sonarr-cf-french-anime-scoring-en.md
  includes/french-guide/sonarr-cf-french-anime-scoring-fr.md
  includes/french-guide/sonarr-cf-french-web-scoring-en.md
  includes/french-guide/sonarr-cf-french-web-scoring-fr.md
Labels: Area: Backend

#2304 feat(guide-sync): Removed deprecated Sonarr release profile.
  docs/json/sonarr/rp/lqGroups.json
  docs/json/sonarr/rp/optionals.json
  docs/json/sonarr/rp/p2pRepackProper.json
  docs/json/sonarr/rp/streaming.json
  docs/json/sonarr/rp/visorakAnimeOne.json
  docs/json/sonarr/rp/visorakAnimeTwo.json
  metadata.json
  metadata.schema.json
Labels: Area: Sonarr, Area: Backend

#2299 feat(starr): Add details in the audio Custom Formats description specifying which format is lossy or lossless.
  includes/cf-descriptions/aac.md
  includes/cf-descriptions/atmos-undefined.md
  includes/cf-descriptions/dd.md
  includes/cf-descriptions/ddplus-atmos.md
  includes/cf-descriptions/ddplus.md
  includes/cf-descriptions/dts-es.md
  includes/cf-descriptions/dts-hd-hra.md
  includes/cf-descriptions/dts-hd-ma.md
  includes/cf-descriptions/dts-x.md
  includes/cf-descriptions/dts.md
  includes/cf-descriptions/flac.md
  includes/cf-descriptions/mp3.md
  includes/cf-descriptions/opus.md
  includes/cf-descriptions/pcm.md
  includes/cf-descriptions/truehd-atmos.md
  includes/cf-descriptions/truehd.md
Labels: Area: Backend

#2303 fix(starr): Improved `Generated Dynamic HDR` Custom Formats description
  includes/cf-descriptions/generated-dynamic-hdr.md
Labels: Area: Backend

#2298 feat(radarr): Move `Line/Mic Dubbed` Custom Format to the German Misc
  docs/Radarr/Radarr-collection-of-custom-formats.md
Labels: Area: Radarr, Area: Backend

#2311 style(guide): standardize usage of "docker(s)/Docker"
  CONTRIBUTING.md
  docs/Bazarr/Setup-Guide.md
  docs/Downloaders/Deluge/Basic-Setup.md
  docs/Downloaders/SABnzbd/Basic-Setup.md
  docs/Downloaders/qBittorrent/How-to-add-categories.md
  docs/File-and-Folder-Structure/How-to-set-up/Docker.md
  docs/File-and-Folder-Structure/How-to-set-up/Synology.md
  docs/File-and-Folder-Structure/How-to-set-up/Unraid.md
  docs/Misc/.pages
  docs/Misc/how-to-provide-a-docker-compose.md
  docs/Misc/index.md
  docs/Plex/Tips/Plex-media-server.md
  docs/Prowlarr/prowlarr-setup-proxy.md
  docs/Radarr/Tips/Radarr-remote-path-mapping.md
  docs/Sonarr/Tips/Sonarr-remote-path-mapping.md
  docs/index.md
  includes/downloaders/basic-setup.md
  includes/downloaders/path.md
  includes/file-and-folder-structure/bad-path-suggestion.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Prowlarr, Area: Bazarr, Area: Downloaders, Area: Plex

#2310 feat(radarr): SQP-1 WEB (2160p) Guide
  docs/SQP/1-web-4k.md
  docs/SQP/index.md
  docs/json/radarr/cf-groups/advanced-audio-formats.json
  docs/json/radarr/cf-groups/dolby-vision-incompatible-devices.json
  docs/json/radarr/cf-groups/dv-hdr10-and-hdr10-boost.json
  docs/json/radarr/cf-groups/hdr-formats.json
  docs/json/radarr/cf-groups/optional-resolutions.json
  docs/json/radarr/cf-groups/release-groups-french.json
  docs/json/radarr/cf-groups/release-groups-german.json
  docs/json/radarr/cf-groups/release-groups.json
  docs/json/radarr/cf-groups/required-golden-rule-hd.json
  docs/json/radarr/cf-groups/required-golden-rule-uhd.json
  docs/json/radarr/cf-groups/streaming-services-anime.json
  docs/json/radarr/cf/10bit.json
  docs/json/radarr/cf/20-stereo.json
  docs/json/radarr/cf/aac.json
  docs/json/radarr/cf/atmos-undefined.json
  docs/json/radarr/cf/bcore.json
  docs/json/radarr/cf/bhdstudio.json
  docs/json/radarr/cf/dd.json
  docs/json/radarr/cf/ddplus-atmos.json
  docs/json/radarr/cf/ddplus.json
  docs/json/radarr/cf/dts-es.json
  docs/json/radarr/cf/dts-hd-hra.json
  docs/json/radarr/cf/dts-hd-ma.json
  docs/json/radarr/cf/dts-x.json
  docs/json/radarr/cf/dts.json
  docs/json/radarr/cf/flac.json
  docs/json/radarr/cf/hd-bluray-tier-01.json
  docs/json/radarr/cf/hd-bluray-tier-02.json
  docs/json/radarr/cf/hd-bluray-tier-03.json
  docs/json/radarr/cf/pcm.json
  docs/json/radarr/cf/truehd-atmos.json
  docs/json/radarr/cf/truehd.json
  docs/json/radarr/cf/uhd-bluray-tier-01.json
  docs/json/radarr/cf/uhd-bluray-tier-02.json
  docs/json/radarr/cf/uhd-bluray-tier-03.json
  docs/json/radarr/quality-profiles/sqp-1-web-2160p.json
  includes/sqp/1-4k-cf-scoring-sqp1.md
  includes/sqp/1-web-4k-cf-scoring.md
  includes/sqp/1-web-4k-merge-qualities.md
  includes/sqp/1-web-4k-newqp.md
  includes/sqp/1-web-4k-qp-settings.md
  includes/sqp/1-web-4k-select-qualities.md
  includes/sqp/1-web-4k-why.md
  includes/sqp/1-web-4k-workflow.md
  includes/sqp/1-web-why.md
  includes/sqp/instructions.md
  includes/sqp/move-quality-to-top.md
Labels: Area: Radarr, Area: Backend, Area: Starr Custom Formats

#1979 feat(starr-anime): expand dual audio regex
  docs/json/radarr/cf/anime-dual-audio.json
  docs/json/sonarr/cf/anime-dual-audio.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Status: Waiting for User, Do Not Merge

#2293 fix(sonarr): update sonarr web tier 02 anime-sonarr score to 250
  docs/json/sonarr/cf/web-tier-02.json
Labels: Status: Confirmed, Type: Bug, Status: Review Needed, Area: Sonarr, Area: Backend, Area: Starr Custom Formats, Area: Anime

#2315 chore(misc): Removed issue template all issues should go through Discord now
  .github/ISSUE_TEMPLATE/bug-error-found-in-the-guide-.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: Area: Backend

#2321 chore(misc): Add an additional note to the issue template stating that all issues should be submitted through Discord.
  .github/ISSUE_TEMPLATE/bug-error-found-in-the-guide.yml
Labels: Area: Backend

#2322 style(misc): fixed typo in the issue template
  .github/ISSUE_TEMPLATE/bug-error-found-in-the-guide.yml
Labels: Area: Backend

#2305 feat(starr): Improve streaming services recognition after renaming.
  docs/json/radarr/cf/crav.json
  docs/json/radarr/cf/hbo.json
  docs/json/radarr/cf/hmax.json
  docs/json/radarr/cf/it.json
  docs/json/radarr/cf/itvx.json
  docs/json/radarr/cf/max.json
  docs/json/radarr/cf/now.json
  docs/json/radarr/cf/stan.json
  docs/json/radarr/cf/tving.json
  docs/json/radarr/cf/viu.json
  docs/json/sonarr/cf/cc.json
  docs/json/sonarr/cf/crav.json
  docs/json/sonarr/cf/dscp.json
  docs/json/sonarr/cf/hbo.json
  docs/json/sonarr/cf/hmax.json
  docs/json/sonarr/cf/it.json
  docs/json/sonarr/cf/itvx.json
  docs/json/sonarr/cf/max.json
  docs/json/sonarr/cf/now.json
  docs/json/sonarr/cf/red.json
  docs/json/sonarr/cf/sho.json
  docs/json/sonarr/cf/stan.json
  docs/json/sonarr/cf/tving.json
  docs/json/sonarr/cf/viu.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2323 fix(radarr): Add missing SQP-1 (2160p) score for HD Bluray Tier 02
  docs/json/radarr/cf/hd-bluray-tier-02.json
Labels: Status: Confirmed, Type: Bug, Status: Review Needed, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2320 feat(starr): Add RlsGrp `Feranki1980` to Custom Format `LQ` and `LQ (Release Title)`
  docs/json/radarr/cf/lq-release-title.json
  docs/json/radarr/cf/lq.json
  docs/json/sonarr/cf/lq-release-title.json
  docs/json/sonarr/cf/lq.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2325 feat(radarr): Add VD0N to Generated Dynamic HDR CF
  docs/json/radarr/cf/generated-dynamic-hdr.json
Labels: Status: Confirmed, Type: Enhancement, Status: Review Needed, Area: Radarr, Area: Backend, Area: Starr Custom Formats, Type: Guide Request

#2327 feat(misc): Simplified How Setup TorGuard for port forwarding instructions
  docs/Misc/How-to-setup-Torguard-for-port-forwarding.md
  docs/Misc/images/torguard/cmd-ping.png
  docs/Misc/images/torguard/config-generator-ovpn.png
  docs/Misc/images/torguard/config-generator-wireguard.png
  docs/Misc/images/torguard/globalvpnnetwork-list.png
  docs/Misc/images/torguard/request-new-pfw-ovpn.png
  docs/Misc/images/torguard/request-new-pfw-wireguard.png
  docs/Misc/images/torguard/servers-globalvpnnetwork.png
Labels: Area: Backend

#2319 feat(guide-sync): Add Season Pack to Sonarr Profile Groups
  docs/json/sonarr/cf-groups/season-packs.json
  docs/json/sonarr/cf/season-pack.json
Labels: Area: Sonarr, Area: Backend, Area: Starr Custom Formats

#2267 feat(guide-sync): Add Anime profiles for sonarr and radarr
  docs/json/radarr/cf-groups/advanced-audio-formats.json
  docs/json/radarr/cf-groups/dolby-vision-incompatible-devices.json
  docs/json/radarr/cf-groups/dv-hdr10-and-hdr10-boost.json
  docs/json/radarr/cf-groups/hdr-formats.json
  docs/json/radarr/cf-groups/optional-resolutions.json
  docs/json/radarr/cf-groups/optional-sdr.json
  docs/json/radarr/cf-groups/release-groups-french.json
  docs/json/radarr/cf-groups/release-groups-german.json
  docs/json/radarr/cf-groups/release-groups.json
  docs/json/radarr/cf-groups/required-golden-rule-hd.json
  docs/json/radarr/cf-groups/required-golden-rule-uhd.json
  docs/json/radarr/cf-groups/streaming-services-anime.json
  docs/json/radarr/quality-profiles/anime-remux-1080p.json
  docs/json/sonarr/cf-groups/advanced-audio-formats.json
  docs/json/sonarr/cf-groups/dolby-vision-incompatible-devices.json
  docs/json/sonarr/cf-groups/dv-hdr10-and-hdr10-boost.json
  docs/json/sonarr/cf-groups/hdr-formats.json
  docs/json/sonarr/cf-groups/optional-sdr.json
  docs/json/sonarr/cf-groups/release-groups-french.json
  docs/json/sonarr/cf-groups/release-groups.json
  docs/json/sonarr/cf-groups/required-golden-rule-hd.json
  docs/json/sonarr/cf-groups/required-golden-rule-uhd.json
  docs/json/sonarr/cf-groups/streaming-services-anime.json
  docs/json/sonarr/quality-profiles/anime-remux-1080p.json
Labels: Area: Backend

#2330 fix(guide-sync): Add missing quality sources for the new Anime profiles
  docs/json/radarr/quality-profiles/anime-remux-1080p.json
  docs/json/sonarr/quality-profiles/anime-remux-1080p.json
Labels: Area: Backend

#2331 fix(guide-sync): Add missing quality sources for the new Anime profiles take 2
  docs/json/radarr/quality-profiles/anime-remux-1080p.json
  docs/json/sonarr/quality-profiles/anime-remux-1080p.json
Labels: Area: Backend

#2333 fix(guide-sync): Add group exclusion for the anime profiles
  docs/json/radarr/cf-groups/optional-movie-versions.json
  docs/json/radarr/quality-profiles/anime-remux-1080p.json
  docs/json/sonarr/quality-profiles/anime-remux-1080p.json
Labels: Area: Backend

#2334 fix(guide-sync): cutoff name for the anime profiles
  docs/json/radarr/quality-profiles/anime-remux-1080p.json
  docs/json/sonarr/quality-profiles/anime-remux-1080p.json
Labels: Area: Backend

#2337 fix(guide-sync): corrected duplicate trash_id with two groups
  docs/json/radarr/cf-groups/dv-hdr10-and-hdr10-boost.json
Labels: Area: Backend

#2338 feat(starr): Add RlsGrp `FMD` to `LQ`
  docs/json/radarr/cf/lq.json
  docs/json/sonarr/cf/lq.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2340 feat(guide): Centralize the last descriptions on the Custom Format Collection page
  docs/Radarr/Radarr-collection-of-custom-formats.md
  docs/Sonarr/sonarr-collection-of-custom-formats.md
  includes/cf-descriptions/language-original-plus-french.md
  includes/cf-descriptions/special-edition.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend

#2345 chore(sonarr): Fix markdown includes not rendering correctly for some custom formats
  docs/Sonarr/sonarr-collection-of-custom-formats.md
Labels: Area: Sonarr, Area: Backend

#2346 feat(starr-anime): Add Flugel to Anime BD Tier 03
  docs/json/radarr/cf/anime-bd-tier-03-seadex-muxers.json
  docs/json/sonarr/cf/anime-bd-tier-03-seadex-muxers.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2326 feat(starr): Add RlsGrp `tokar86a` to the `Bad Dual Groups` Custom Format
  docs/json/radarr/cf/bad-dual-groups.json
  docs/json/sonarr/cf/bad-dual-groups.json
  includes/cf-descriptions/bad-dual-groups.md
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats

#2342 chore(guide): Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Area: Backend

#2339 ci(pre-commit): add config
  .pre-commit-config.yaml
Labels: Area: Backend

#2348 fix(guide-sync): Added excludes to [Optional] Miscellaneous
  docs/json/radarr/cf-groups/optional-misc.json
Labels: Area: Backend

#2349 feat(starr-anime): Anime LQ Groups should only match HR as an anime group and correct Hitoku typo
  docs/json/radarr/cf/anime-lq-groups.json
  docs/json/sonarr/cf/anime-lq-groups.json
Labels: Area: Sonarr, Area: Radarr, Area: Backend, Area: Starr Custom Formats
